Repository frappe/frappe, pull requests merged in 2018-12, with the labels that each got.

#6565 Check first row of datatable
  frappe/public/js/frappe/views/reports/query_report.js
Labels: waiting-for-fixes

#6482 fix(prepared-report): Prepared Report Enhancements
  frappe/core/doctype/prepared_report/prepared_report.js
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/desk/query_report.py
  frappe/patches.txt
  frappe/patches/v11_0/delete_all_prepared_reports.py
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/utils/__init__.py
Labels: don't-merge

#6447 Add make_records()
  frappe/commands/site.py
  frappe/commands/utils.py
  frappe/contacts/doctype/address_template/address_template.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/notifications.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/form/controls/comment.js
  frappe/public/js/frappe/misc/utils.js
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/ui/dialog.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/less/common.less
  frappe/public/less/flex.less
  frappe/sessions.py
  frappe/utils/install.py
  frappe/utils/nestedset.py
  frappe/utils/user.py
  frappe/workflow/doctype/workflow/workflow.py
  frappe/www/update-password.html
Labels: don't-merge

#6611 fix: comment mentions
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
Labels: hotfix
