Repository frappe/frappe, pull requests merged in 2018-09, with the labels that each got.

#5942 [Fix][5941][Contact should get back to original page from where initi…
  frappe/contacts/doctype/contact/contact.js
Labels: inactive

#6008 remove docstatus filter for non submittable doctypes
  frappe/public/js/frappe/ui/filters/field_select.js
Labels: inactive

#5960 [feature] show popup for version update
  frappe/hooks.py
  frappe/public/js/frappe/desk.js
  frappe/utils/change_log.py
  frappe/utils/redis_wrapper.py
Labels: enhancement

#6092 fix: check CSRF Token for PUT and DELETE methods as well
  frappe/auth.py
Labels: inactive

#6162 Fix website's list - More button
  frappe/templates/includes/list/list.js
  frappe/www/list.py
Labels: hotfix

#6155 Do not load report if reqd filter missing
  frappe/public/js/frappe/views/reports/query_report.js
Labels: hotfix
