Repository frappe/frappe, pull requests merged in 2018-05, with the labels that each got.

#5556 Replace frappe.db.sql to frappe.get_list to apply permissions
  frappe/desk/treeview.py
  frappe/permissions.py
Labels: don't-merge

#5461 Select fields to allow in quick entry
  frappe/core/doctype/docfield/docfield.json
  frappe/data/Framework.sql
  frappe/public/js/frappe/form/quick_entry.js
Labels: waiting-for-fixes

#5329 Fixed sanitizing fields for tabDeleted Documents
  frappe/model/db_query.py
Labels: test-case-required
