Repository frappe/frappe, pull requests merged in 2018-03, with the labels that each got.

#5148 read_csv_file both 2 and 3 compatible
  frappe/translate.py
Labels: python-3

#5205 [fix] [xss] web search
  frappe/www/search.py
Labels: hotfix

#5204 [fix] fix ajax call to update doc not replace
  frappe/public/js/frappe/model/sync.js
Labels: hotfix

#5213 Data export tool
  frappe/config/setup.py
  frappe/core/doctype/data_export/__init__.py
  frappe/core/doctype/data_export/data_export.js
  frappe/core/doctype/data_export/data_export.json
  frappe/core/doctype/data_export/data_export.py
  frappe/core/doctype/data_export/exporter.py
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/exporter.py
  frappe/core/doctype/data_import/test_data_import.py
  frappe/public/build.json
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/js/frappe/ui/filters/filters.js
  frappe/public/js/frappe/ui/sort_selector.html
  frappe/public/less/filters.less
  frappe/public/less/list.less
  frappe/utils/xlsxutils.py
Labels: version-11

#5253 Dropbox settings UX fix
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.js
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.json
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.py
Labels: hotfix

#5254 [Hotfix] File upload fix
  frappe/public/js/frappe/upload.js
  frappe/utils/file_manager.py
Labels: hotfix

#5267 [fix] mapper
  frappe/public/js/frappe/form/save.js
  frappe/public/js/frappe/model/sync.js
Labels: hotfix

#5242 🎉 🎉 🎉Website Chat + Desktop Chat View + Attachments and Media
  frappe/__init__.py
  frappe/chat/__init__.py
  frappe/chat/doctype/chat_message/chat_message.json
  frappe/chat/doctype/chat_message/chat_message.py
  frappe/chat/doctype/chat_room/chat_room.json
  frappe/chat/doctype/chat_room/chat_room.py
  frappe/chat/doctype/chat_token/__init__.py
  frappe/chat/doctype/chat_token/chat_token.js
  frappe/chat/doctype/chat_token/chat_token.json
  frappe/chat/doctype/chat_token/chat_token.py
  frappe/chat/doctype/chat_token/test_chat_token.js
  frappe/chat/doctype/chat_token/test_chat_token.py
  frappe/chat/util/__init__.py
  frappe/chat/util/util.py
  frappe/chat/website/__init__.py
  frappe/public/css/email.css
  frappe/public/js/frappe/chat.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/misc/user.js
  frappe/public/js/frappe/socketio_client.js
  frappe/public/js/frappe/ui/dialog.js
  frappe/public/js/frappe/ui/field_group.js
  frappe/public/js/frappe/upload.js
  frappe/public/less/chat.less
  frappe/templates/base.html
  frappe/website/doctype/website_settings/website_settings.json
  socketio.js
Labels: ready-to-merge
