Repository frappe/frappe, pull requests merged in 2018-07, with the labels that each got.

#5767 Modules dropdown
  frappe/boot.py
  frappe/desk/page/modules/modules.js
  frappe/public/css/chat.css
  frappe/public/js/frappe/chat.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/less/chat.less
  frappe/public/less/navbar.less
Labels: waiting-for-fixes

#5843 Make start and end date as mandatory
  frappe/desk/doctype/calendar_view/calendar_view.json
Labels: hotfix

#5852 Only calculate total for int, float and currency fieldtypes
  frappe/public/js/frappe/views/reports/reportview.js
Labels: hotfix

#5844 [WIP][Enhancement] Provision to pull reports from slave systems
  frappe/__init__.py
  frappe/desk/query_report.py
  frappe/desk/reportview.py
Labels: dont-merge

#5872 [Discussion][WIP][First Cut] Address Info for customer
  frappe/core/page/billing_info/__init__.py
  frappe/core/page/billing_info/billing_info.html
  frappe/core/page/billing_info/billing_info.js
  frappe/core/page/billing_info/billing_info.json
  frappe/core/page/billing_info/billing_info.py
  frappe/public/js/frappe/toolbar.js
Labels: discussion, dont-merge
