Repository frappe/frappe, pull requests merged in 2018-11, with the labels that each got.

#6378 Fix conditional statement
  frappe/twofactor.py
Labels: bug

#6385 Fix permission error while import
  frappe/model/meta.py
Labels: hotfix

#6414 fix: develop version should be 12
  frappe/hooks.py
Labels: dont-merge

#6453 [Minor] Delete Event if its reference doc is deleted
  frappe/desk/doctype/event/event.py
Labels: waiting-for-fixes
