Repository frappe/frappe, pull requests merged in 2019-05, with the labels that each got.

#7383 patch: remove user perm for page and report doctype
  frappe/integrations/doctype/integration_request/integration_request.json
  frappe/patches.txt
  frappe/patches/v11_0/remove_doctype_user_permissions_for_page_and_report.py
Labels: travis-failing

#7397 fix: Do not show locals to user
  frappe/__init__.py
  frappe/public/js/frappe/request.js
  frappe/utils/error.py
  frappe/utils/response.py
Labels: frappe-support

#7281 feat(desk): Link preview popover
  frappe/client.py
  frappe/core/doctype/docfield/docfield.json
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/desk/link_preview.py
  frappe/public/build.json
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/ui/link_preview.js
  frappe/public/less/link_preview.less
Labels: foundation-funded

#7409 fix(pdf): Define filedata before it is used
  frappe/utils/pdf.py
Labels: frappe-support

#7438 fix: Text editor styles when readonly
  frappe/public/js/frappe/form/controls/text_editor.js
Labels: travis-failing

#7433 fix(report): Allow report export only if user has export permission on ref doctype
  frappe/desk/query_report.py
  frappe/model/rename_doc.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: frappe-support

#7442 fix: Auto email support for Custom Reports
  frappe/core/doctype/report/report.py
  frappe/email/doctype/auto_email_report/auto_email_report.js
  frappe/email/doctype/auto_email_report/auto_email_report.json
Labels: travis-failing

#7451 fix: Option fixes in custom columns for query reports
  frappe/public/js/frappe/views/reports/query_report.js
Labels: travis-failing

#7256 fix: showing doctype name where required in error message.
  frappe/core/doctype/doctype/doctype.py
Labels: Kaizen

#7460 feat: added follow on creation and changes done by user will not send to him
  frappe/desk/form/document_follow.py
  frappe/model/document.py
Labels: travis-failing

#7458 fix(report): Allow report export only if user has export permission on ref doctype
  frappe/desk/query_report.py
  frappe/model/rename_doc.py
  frappe/permissions.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: review-codacy

#7443 fix: naming and provision to use same db credentials for secondary
  frappe/__init__.py
Labels: travis-failing

#7515 fix: Module view fix for custom query reports
  frappe/desk/moduleview.py
Labels: frappe-support

#7516 fix: Module view fix for custom query reports
  frappe/desk/moduleview.py
Labels: frappe-support

#7510 fix: Create new button for dynamic link fields
  frappe/public/js/frappe/form/controls/link.js
Labels: frappe-support

#7511 fix: Create new button for dynamic links
  frappe/public/js/frappe/form/controls/link.js
Labels: frappe-support

#7467 feat(Communication): Move Timeline DocType and Name to Dynamic Links
  frappe/core/doctype/activity_log/activity_log.py
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/email.py
  frappe/core/doctype/communication/test_communication.py
  frappe/core/doctype/dynamic_link/dynamic_link.json
  frappe/desk/doctype/event/event.py
  frappe/desk/doctype/todo/todo.py
  frappe/desk/form/load.py
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_account/test_email_account.py
  frappe/model/delete_doc.py
  frappe/patches.txt
  frappe/patches/v12_0/move_timeline_links_to_dynamic_links.py
Labels: review-codacy

#7228 feat: Add frappe cmd and doctype to request headers for analytics and load balancing
  frappe/public/js/frappe/request.js
Labels: travis-failing

#7520 Fix related to Merge request #7228
  frappe/public/js/frappe/request.js
Labels: needs-semantic-title, review-codacy

#7521 fix(print): semantic nested lists for text editor
  frappe/public/build.json
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/public/less/desk.less
  frappe/public/less/print.less
  frappe/templates/print_formats/standard_macros.html
  frappe/www/printview.html
Labels: travis-failing

#7504 fix(Addresses and Contacts Report): Frappe throw when no record present
  frappe/contacts/report/addresses_and_contacts/addresses_and_contacts.py
Labels: frappe-support

#7503 fix(Addresses and Contacts Report): Frappe throw when doctype has no records
  frappe/contacts/report/addresses_and_contacts/addresses_and_contacts.py
Labels: frappe-support

#7538 fix(load): alias creation in get communications
  frappe/desk/form/load.py
  frappe/model/document.py
Labels: frappe-support

#7540 fix(patch): Re-arrange order for reload_doc
  frappe/patches.txt
Labels: frappe-support

#7445 feat(core): Allow action on msgprint and throw calls
  frappe/public/js/frappe/ui/messages.js
Labels: travis-failing

#7453 refactor: remove autodocs, no longer used
  frappe/commands/__init__.py
  frappe/commands/docs.py
  frappe/templates/autodoc/api_home.html
  frappe/templates/autodoc/base_template.html
  frappe/templates/autodoc/contents.html
  frappe/templates/autodoc/contents.py
  frappe/templates/autodoc/dev_home.html
  frappe/templates/autodoc/doctype.html
  frappe/templates/autodoc/install.md
  frappe/templates/autodoc/license.html
  frappe/templates/autodoc/macros.html
  frappe/templates/autodoc/models_home.html
  frappe/templates/autodoc/module_home.html
  frappe/templates/autodoc/package_index.html
  frappe/templates/autodoc/pymodule.html
  frappe/utils/autodoc.py
  frappe/utils/jinja.py
  frappe/utils/setup_docs.py
Labels: travis-failing

#7448 Apply Customer role instead of Blogger
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Labels: needs-semantic-title

#7274 Expose Recipients in Notifications
  frappe/email/doctype/notification/notification.py
Labels: needs-semantic-title

#7544 fix: Update frappe datatable
  package.json
  yarn.lock
Labels: travis-failing

#7545 fix: Update frappe datatable
  package.json
  yarn.lock
Labels: travis-failing

#7594 fix(email): Search contacts by email_id as well
  frappe/email/__init__.py
Labels: frappe-support

#7598 fix(list-view): Escape quotes in data-name
  frappe/public/js/frappe/list/list_item_subject.html
  frappe/public/js/frappe/list/list_view.js
Labels: frappe-support

#7613 fix(query-report): Adding custom column data when result row is a tuple
  frappe/desk/query_report.py
Labels: frappe-support
