Repository frappe/frappe, pull requests merged in 2019-01, with the labels that each got.

#6651 Fixed Addresses and Contacts Report
  frappe/contacts/report/addresses_and_contacts/addresses_and_contacts.py
  frappe/contacts/report/addresses_and_contacts/test_addresses_and_contacts.py
Labels: test-case-required

#6811 feat: Allow website templates to have different base templates
  frappe/public/js/frappe/ui/dialog.js
  frappe/templates/test/_test_base.html
  frappe/tests/__init__.py
  frappe/tests/test_twofactor.py
  frappe/website/doctype/web_page/test_web_page.py
  frappe/website/render.py
  frappe/website/router.py
  frappe/website/utils.py
  frappe/www/_test/_test_custom_base.html
Labels: docs-required, test-case-required

#6844 docs: changelog for v11.0.4
  frappe/change_log/v11/v11_0_4.md
Labels: travis-failing

#6845 fix: refactor global search to not insert after every commit
  frappe/hooks.py
  frappe/tests/test_global_search.py
  frappe/utils/global_search.py
Labels: travis-failing

#6862 fix: Better data import error log
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/log_details.html
Labels: travis-failing

#6863 Revert "fix: Print Format Builder not working unexpected string "
  frappe/printing/page/print_format_builder/print_format_builder_section.html
Labels: needs-semantic-title
