Repository frappe/frappe, pull requests merged in 2019-10, with the labels that each got.

#8515 fix(Global Search Settings): Show progress while setting global search doctypes
  frappe/desk/doctype/global_search_settings/global_search_settings.js
  frappe/desk/doctype/global_search_settings/global_search_settings.py
  frappe/hooks.py
Labels: squash

#8542 fix: run specific code only if auto linking is onn
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/test_communication.py
  frappe/patches.txt
Labels: squash

#8539 fix: Show maximum 5 values for a field in filter description
  frappe/public/js/frappe/form/controls/link.js
Labels: squash

#8529 fix: handle case that df is None for this if-branch too
  frappe/model/base_document.py
Labels: squash

#8513 Let developers choose the margins
  frappe/utils/pdf.py
Labels: squash

#8554 fix: pdf report js issues
  frappe/public/js/frappe/views/reports/query_report.js
Labels: squash

#8558 fix: Allow searching in multiselect field by fields in search fields and show search field related info
  frappe/public/js/frappe/form/controls/multiselect_list.js
Labels: frappe-support, squash

#8543 perf: Cache db columns to avoid redundant database calls
  frappe/core/doctype/doctype/doctype.py
  frappe/database/database.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/database/schema.py
  frappe/model/meta.py
Labels: squash

#8560 fix: rate auto changing from 3.9 to 39
  frappe/public/js/frappe/form/controls/currency.js
Labels: squash

#8525 [Patch issue] Move email and phone to child table
  frappe/patches/v12_0/move_email_and_phone_to_child_table.py
Labels: needs-semantic-title

#8544 Save doc after updating status
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
Labels: needs-semantic-title

#8565 chore: updated GitHub contributing templates
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question-about-using-frappe.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: review-codacy

#8593 fix: Set link fields with same fieldname from one doc to other
  frappe/public/js/frappe/form/form.js
Labels: squash

#8577 fix: Show heatmap in activity page
  frappe/desk/page/activity/activity.js
Labels: needs-semantic-title

#8570 fix(hooks): check for updates daily instead of weekly
  frappe/hooks.py
Labels: inactive

#8431 feat(Notifications): Integrated Notifications Centre
  frappe/cache_manager.py
  frappe/core/doctype/comment/comment.py
  frappe/core/notifications.py
  frappe/desk/doctype/notification_log/__init__.py
  frappe/desk/doctype/notification_log/notification_log.js
  frappe/desk/doctype/notification_log/notification_log.json
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_log/test_notification_log.py
  frappe/desk/doctype/notification_settings/__init__.py
  frappe/desk/doctype/notification_settings/notification_settings.json
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/desk/doctype/notification_subscribed_document/__init__.py
  frappe/desk/doctype/notification_subscribed_document/notification_subscribed_document.json
  frappe/desk/doctype/notification_subscribed_document/notification_subscribed_document.py
  frappe/desk/doctype/todo/todo.json
  frappe/desk/form/assign_to.py
  frappe/desk/notifications.py
  frappe/hooks.py
  frappe/model/delete_doc.py
  frappe/patches.txt
  frappe/public/build.json
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/form/sidebar/assign_to.js
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/public/js/frappe/form/templates/set_sharing.html
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/toolbar/energy_points_notifications.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/notifications.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/views/components/ModuleDetail.vue
  frappe/public/js/frappe/views/interaction.js
  frappe/public/less/navbar.less
  frappe/public/less/notifications.less
  frappe/sessions.py
  frappe/share.py
  frappe/social/doctype/energy_point_log/energy_point_log.py
  frappe/templates/emails/mentioned_in_comment.html
  frappe/templates/emails/new_notification.html
Labels: review-codacy

#8634 perf(database): Regularly clean old unhandled emails
  frappe/email/doctype/unhandled_email/unhandled_email.py
  frappe/hooks.py
  frappe/patches.txt
Labels: travis-failing

#8549 feat: Select dropdown arrow
  frappe/public/js/frappe/form/controls/select.js
  frappe/public/less/controls.less
Labels: squash

#8668 fix: hide file browser for web forms
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/index.js
  frappe/public/js/frappe/form/controls/attach.js
  frappe/public/js/frappe/web_form/webform_script.js
Labels: review-codacy

#8686 Revert "V12 pre release"
  frappe/__init__.py
Labels: needs-semantic-title

#8671 fix(Notifications): Improvements for Notifications
  frappe/core/doctype/comment/comment.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/form/assign_to.py
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/less/notifications.less
  frappe/share.py
  frappe/social/doctype/energy_point_log/energy_point_log.py
Labels: squash

#8675 fix: disable smart shrinking for version 0.12.5
  frappe/cache_manager.py
  frappe/utils/data.py
  frappe/utils/pdf.py
Labels: review-codacy

#8682 Patch(Tags): Check if column exists
  frappe/database/database.py
  frappe/patches.txt
  frappe/patches/v12_0/setup_tags.py
Labels: squash
