Repository frappe/frappe, pull requests merged in 2019-09, with the labels that each got.

#8302 fix(Desk): Alignment
  frappe/public/css/desk-rtl.css
Labels: frappe-support

#8306 fix(UX): Hide Amend button if the document has been already amended
  frappe/client.py
  frappe/public/js/frappe/form/toolbar.js
Labels: frappe-support

#8307 fix(UX): Hide Amend button if the document has been already amended
  frappe/client.py
  frappe/public/js/frappe/form/toolbar.js
Labels: frappe-support

#8162 fix: 2FA qrcode generation error
  frappe/www/qrcode.py
Labels: email

#8342 fix: added FileNotFoundError compatibility
  frappe/exceptions.py
  frappe/model/delete_doc.py
Labels: review-codacy

#8343 fix: Key Error while opening report
  frappe/desk/reportview.py
Labels: frappe-support

#8344 fix: Key Error while opening report
  frappe/desk/reportview.py
Labels: frappe-support

#8338 fix(Timeline): Empty comments added
  frappe/desk/form/utils.py
  frappe/public/js/frappe/form/footer/timeline.js
Labels: frappe-support

#8337 fix(Customize Form): Strip column name in search field list
  frappe/desk/search.py
Labels: travis-failing

#8341 fix: set_route not working for multiple filters in query report
  frappe/public/js/frappe/views/reports/query_report.js
Labels: frappe-support

#8378 fix: remove mandatory for title
  frappe/contacts/doctype/address/address.json
Labels: frappe-support

#8395 fix: empty comments added
  frappe/public/js/frappe/form/controls/comment.js
  frappe/public/js/frappe/form/footer/timeline.js
Labels: frappe-support

#8446 chore: Squash PRs when squash label is added
  .mergify.yml
Labels: squash

#8405 fix(Role): Don't return admin and guest placeholder email
  frappe/core/doctype/role/role.py
  frappe/email/doctype/notification/notification.py
Labels: frappe-support, squash

#8458 fix(Report View): export report not working for add group
  frappe/desk/reportview.py
Labels: frappe-support

#8485 fix: Duplicate review point allocation
  frappe/social/doctype/energy_point_settings/energy_point_settings.py
Labels: squash

#8495 feat: add 'clear all filters' button to listview
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/less/filters.less
Labels: squash

#8305 feat: allow custom imap port
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_domain/email_domain.json
  frappe/email/doctype/email_domain/email_domain.py
  frappe/email/receive.py
  frappe/email/utils.py
Labels: squash

#8498 fix: setup doc before creating webform
  frappe/public/js/frappe/web_form/webform_script.js
Labels: squash

#8496 fix: Estonia uses Euros since 2011. Fixed it
  frappe/geo/country_info.json
Labels: squash

#8310 feat: New Data Import
  frappe/commands/utils.py
  frappe/core/doctype/data_import/exporter_new.py
  frappe/core/doctype/data_import/importer_new.py
  frappe/core/doctype/data_import/test_exporter_new.py
  frappe/core/doctype/data_import/test_importer_new.py
  frappe/core/doctype/data_import_beta/__init__.py
  frappe/core/doctype/data_import_beta/data_import_beta.js
  frappe/core/doctype/data_import_beta/data_import_beta.json
  frappe/core/doctype/data_import_beta/data_import_beta.py
  frappe/core/doctype/data_import_beta/data_import_beta_list.js
  frappe/core/doctype/docfield/docfield.py
  frappe/core/doctype/version/version.py
  frappe/model/base_document.py
  frappe/public/build.json
  frappe/public/js/frappe/data_import/column_picker_fields.js
  frappe/public/js/frappe/data_import/data_exporter.js
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/data_import/index.js
  frappe/public/js/frappe/form/controls/attach.js
  frappe/public/js/frappe/form/controls/autocomplete.js
  frappe/public/js/frappe/form/controls/multicheck.js
  frappe/public/js/frappe/form/dashboard.js
  frappe/public/js/frappe/form/footer/timeline.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/request.js
  frappe/public/js/frappe/ui/filters/edit_filter.html
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/public/less/filters.less
  frappe/public/less/form.less
  frappe/test_runner.py
  frappe/utils/__init__.py
  frappe/utils/xlsxutils.py
  package.json
  requirements.txt
  yarn.lock
Labels: review-codacy
