Repository frappe/frappe, pull requests merged in 2019-11, with the labels that each got.

#8672 fix: Do not append table name for field with standard sql method
  frappe/desk/listview.py
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Labels: review-codacy

#8822 fix(pdf): Remove unnecessary argument
  frappe/utils/response.py
Labels: travis-failing

#8774 fix: Barcode Control
  cypress/integration/control_barcode.js
  frappe/public/js/frappe/form/controls/barcode.js
Labels: ui-test-required

#8777 fix: Notification fixes
  frappe/core/doctype/user/user.py
  frappe/desk/doctype/notification_log/notification_log.json
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.json
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/patches.txt
  frappe/patches/v12_0/create_notification_settings_for_user.py
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/less/notifications.less
Labels: travis-failing

#8798 fix: Web form edit and new doc creation
  frappe/public/js/frappe/web_form/webform_script.js
Labels: needs-semantic-title

#8835 feat: Handle server and client side primary action in msgprint
  frappe/__init__.py
  frappe/public/js/frappe/ui/messages.js
Labels: docs-required

#8808 feat: New order API for client side checkout handling
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
  frappe/public/build.json
  frappe/public/js/integrations/razorpay.js
Labels: docs-required, review-codacy

#8851 fix: Data Import fixes
  frappe/core/doctype/data_import/importer_new.py
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
Labels: review-codacy

#8817 fix: update sidebar tags on changing list filters (develop)
  frappe/desk/reportview.py
  frappe/public/js/frappe/list/list_sidebar.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/less/sidebar.less
Labels: travis-failing

#8805 chore: drop legacy tests
  frappe/commands/utils.py
  frappe/core/doctype/test_runner/__init__.py
  frappe/core/doctype/test_runner/_test_test_runner.js
  frappe/core/doctype/test_runner/test_runner.js
  frappe/core/doctype/test_runner/test_runner.json
  frappe/core/doctype/test_runner/test_runner.py
  frappe/patches.txt
  frappe/test_runner.py
  frappe/tests/test_frappeoauth2client.py
  frappe/tests/ui/__init__.py
  frappe/tests/ui/data/test_lib.js
  frappe/tests/ui/test_calendar_view.js
  frappe/tests/ui/test_control_geolocation.js
  frappe/tests/ui/test_control_html.js
  frappe/tests/ui/test_kanban/test_kanban_column.js
  frappe/tests/ui/test_kanban/test_kanban_creation.js
  frappe/tests/ui/test_kanban/test_kanban_filters.js
  frappe/tests/ui/test_kanban/test_kanban_view.js
  frappe/tests/ui/test_linked_with.js
  frappe/tests/ui/test_list/test_list_filter.js
  frappe/tests/ui/test_list/test_list_paging.js
  frappe/tests/ui/test_list_count.js
  frappe/tests/ui/test_module_view.js
  frappe/tests/ui/test_number_format.js
  frappe/tests/ui/test_social_login_key_buttons.py
  frappe/tests/ui/test_test_runner.py
  frappe/tests/ui/test_todo.py
  frappe/tests/ui/tests.txt
  frappe/utils/__init__.py
  frappe/utils/global_search.py
  frappe/utils/selenium_testdriver.py
  frappe/website/doctype/blog_post/test_blog_post.py
  frappe/website/doctype/web_page/test_web_page.py
  frappe/website/doctype/website_route_meta/test_website_route_meta.py
  requirements.txt
Labels: version-13
