Repository frappe/frappe, pull requests merged in 2019-07, with the labels that each got.

#7881 fix: Grid copy paste
  frappe/public/js/frappe/form/grid_row.js
Labels: travis-failing

#7924 fix(Email): first responded on
  frappe/core/doctype/communication/email.py
Labels: frappe-support

#7932 fix(File): initial value must be string
  frappe/core/doctype/file/file.py
Labels: frappe-support, travis-failing

#7957 fix: Check is_private when checking for duplicates
  frappe/core/doctype/file/file.py
Labels: travis-failing

#7951 fix(MultiSelect): Do not auto check oldest value in MultiSelect Dialog results
  frappe/public/js/frappe/form/multi_select_dialog.js
Labels: frappe-support, travis-failing

#7949 feat: Session Defaults
  frappe/core/doctype/session_default/__init__.py
  frappe/core/doctype/session_default/session_default.json
  frappe/core/doctype/session_default/session_default.py
  frappe/core/doctype/session_default_settings/__init__.py
  frappe/core/doctype/session_default_settings/session_default_settings.json
  frappe/core/doctype/session_default_settings/session_default_settings.py
  frappe/core/doctype/session_default_settings/test_session_default_settings.py
  frappe/desk/form/load.py
  frappe/hooks.py
  frappe/model/base_document.py
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
Labels: travis-failing

#7969 fix: url fixes for changelog
  frappe/change_log/v12/v12_0_0.md
Labels: travis-failing

#7972 fix(security): Make jinja rendering tighter
  frappe/utils/jinja.py
Labels: travis-failing

#7973 fix(security): Make jinja rendering tighter
  frappe/utils/jinja.py
Labels: travis-failing

#8000 fix(MultiSelect): Do not auto check oldest value in MultiSelect Dialog results
  frappe/public/js/frappe/form/multi_select_dialog.js
Labels: frappe-support

#7999 fix(MutiSelect): Do not auto check oldest value in MultiSelect Dialog results
  frappe/public/js/frappe/form/multi_select_dialog.js
Labels: frappe-support

#8046 fix(security): Precautions to limit SSTI and SQLi
  frappe/desk/reportview.py
  frappe/desk/search.py
  frappe/model/db_query.py
  frappe/utils/jinja.py
Labels: review-codacy

#8047 fix(security): Precautions to limit SSTI and SQLi
  frappe/desk/reportview.py
  frappe/desk/search.py
  frappe/model/db_query.py
  frappe/utils/jinja.py
Labels: review-codacy
