Repository frappe/frappe, pull requests merged in 2019-12, with the labels that each got.

#8929 test: Fix list_view test by removing clear-cache code
  cypress/integration/list_view.js
Labels: squash

#8813 fix: int eval_expression only checks for comma
  frappe/public/js/frappe/form/controls/currency.js
  frappe/public/js/frappe/form/controls/float.js
  frappe/public/js/frappe/form/controls/int.js
Labels: ui-test-required

#8486 refactor(scheduler): created "Scheduler Job Type" and cleaned up scheduler
  .codacy.yml
  .pylintrc
  frappe/__init__.py
  frappe/core/doctype/communication/email.py
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype_action/__init__.py
  frappe/core/doctype/doctype_action/doctype_action.json
  frappe/core/doctype/doctype_action/doctype_action.py
  frappe/core/doctype/doctype_link/__init__.py
  frappe/core/doctype/doctype_link/doctype_link.json
  frappe/core/doctype/doctype_link/doctype_link.py
  frappe/core/doctype/scheduled_job_log/__init__.py
  frappe/core/doctype/scheduled_job_log/scheduled_job_log.js
  frappe/core/doctype/scheduled_job_log/scheduled_job_log.json
  frappe/core/doctype/scheduled_job_log/scheduled_job_log.py
  frappe/core/doctype/scheduled_job_log/test_scheduled_job_log.py
  frappe/core/doctype/scheduled_job_type/__init__.py
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.js
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/database/database.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/desk/notifications.py
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/notification/test_notification.py
  frappe/email/queue.py
  frappe/email/receive.py
  frappe/hooks.py
  frappe/installer.py
  frappe/migrate.py
  frappe/model/__init__.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/model/meta.py
  frappe/model/sync.py
  frappe/patches.txt
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/templates/print_layout.html
  frappe/public/js/frappe/utils/utils.js
  frappe/test_runner.py
  frappe/tests/test_api.py
  frappe/tests/test_scheduler.py
  frappe/tests/test_twofactor.py
  frappe/twofactor.py
  frappe/utils/background_jobs.py
  frappe/utils/redis_wrapper.py
  frappe/utils/scheduler.py
  requirements.txt
Labels: version-13

#8875 fix: REST API utf-8 decoding on creates/updates
  frappe/api.py
Labels: squash

#8938 fix: use hasattr to verify links
  frappe/model/meta.py
Labels: squash

#8941 test: Fix list_view test by removing clear-cache code
  cypress/integration/list_view.js
Labels: squash

#8826 feat(tags): accept click to enter tags
  frappe/public/js/frappe/ui/tags.js
Labels: travis-failing

#8873 feat: Add all time in dashboard charts
  frappe/core/page/dashboard/dashboard.py
  frappe/desk/doctype/dashboard_chart/dashboard_chart.js
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/dashboard_chart/test_dashboard_chart.py
Labels: docs-required

#8786 feat: Child table pagination
  cypress/integration/grid_pagination.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_pagination.js
  frappe/public/less/form_grid.less
  frappe/tests/ui_test_helpers.py
Labels: review-codacy

#8906 fix: list view group by filter ambiguous column name
  frappe/desk/listview.py
  frappe/tests/test_listview.py
Labels: test-required

#8998 fix(autocomplete): parse options
  frappe/public/js/frappe/form/controls/autocomplete.js
  frappe/public/js/frappe/form/sidebar/review.js
Labels: squash

#8833 feat: add default email account for email linking
  frappe/desk/page/setup_wizard/install_fixtures.py
  frappe/patches.txt
  frappe/patches/v12_0/setup_email_linking.py
Labels: review-codacy, squash, travis-failing

#8898 fix checkbox behavior in rtl view when clicking on label to check
  frappe/public/less/desk.less
Labels: squash

#9052 feat(server-scripts): Support Before/After Save for submitted document
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script_utils.py
Labels: squash

#8927 fix(Report): ignore args if Tag Link
  frappe/public/js/frappe/ui/filters/filter_list.js
Labels: ui-test-required

#9013 fix: ToDo reopens even when status is Closed
  frappe/automation/doctype/assignment_rule/assignment_rule.py
Labels: test-required

#9126 fix(tag): use distinct for tag filters
  frappe/desk/reportview.py
  frappe/public/js/frappe/list/list_view.js
Labels: squash

#9088 fix: contact cannot be contact
  frappe/core/doctype/communication/communication.py
Labels: squash

#9119 fix(Tag): get distinct for tag count
  frappe/desk/reportview.py
Labels: squash

#9139 fix: formatting for check in prints
  frappe/public/js/frappe/form/formatters.js
  frappe/templates/styles/standard.css
Labels: squash

#8775 fix: Name of Contact cannot be Contact error while creating communication for incoming emails
  frappe/core/doctype/communication/communication.py
Labels: inactive
