Repository frappe/frappe, pull requests merged in 2019-02, with the labels that each got.

#6873 Fix encoding error
  frappe/email/doctype/newsletter/newsletter.py
Labels: needs-semantic-title

#6868 update(frappe): Update dependency Oauthlib (#6832)
  frappe/oauth.py
  requirements.txt
Labels: needs-semantic-title

#6933 fix: Language Code naming fix
  frappe/core/doctype/language/language.py
Labels: review-codacy

#6768 fix: Don't assume async value == True
  frappe/utils/background_jobs.py
Labels: travis-failing

#6977 fix: typo on `frappe.client.attach_file` which resulted in error
  frappe/client.py
Labels: travis-failing

#6992 fix(desk_load): show onboarding status by number of records
  frappe/config/__init__.py
Labels: travis-failing

#6993 export fixtures of a specific app
  frappe/commands/utils.py
  frappe/utils/fixtures.py
Labels: needs-semantic-title, travis-failing

#6924 [bug fix]: prepare filter condition function
  frappe/model/db_query.py
Labels: travis-failing

#6986 fix(recorder): List view enhancements
  frappe/public/js/frappe/recorder/RecorderDetail.vue
  frappe/public/js/frappe/recorder/RecorderRoot.vue
Labels: travis-failing
