Repository frappe/frappe, pull requests merged in 2019-08, with the labels that each got.

#7958 fix: changed reset password button label
  frappe/www/login.html
Labels: travis-failing

#7982 fix: Blacklist iframe from sanitize_html
  frappe/utils/html_utils.py
Labels: review-codacy

#8092 fix(link-preview): Unexpected "Unknown column" error
  frappe/boot.py
  frappe/desk/link_preview.py
  frappe/public/images/fallback-thumbnail.jpg
  frappe/public/js/frappe/ui/link_preview.js
Labels: frappe-support

#8091 fix(link-preview): Unexpected "Unknown column" error
  frappe/boot.py
  frappe/desk/link_preview.py
  frappe/hooks.py
  frappe/public/images/fallback-thumbnail.jpg
  frappe/public/js/frappe/ui/link_preview.js
Labels: frappe-support

#8115 Revert " fix(comments): Remove size restriction on _comments column"
  frappe/model/db_schema.py
  frappe/patches.txt
  frappe/patches/v12_0/change_comments_column_data_type_to_longtext.py
Labels: needs-semantic-title

#8024 refactor(Google Calender): Make Google Calendar Work Again!
  frappe/config/integrations.py
  frappe/core/doctype/data_import/test_data_import.py
  frappe/core/doctype/version/test_version.py
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/data_migration/doctype/data_migration_connector/connectors/calendar_connector.py
  frappe/desk/doctype/event/event.js
  frappe/desk/doctype/event/event.json
  frappe/desk/doctype/event/event.py
  frappe/hooks.py
  frappe/integrations/data_migration_mapping/event_to_gcalendar/__init__.py
  frappe/integrations/data_migration_mapping/event_to_gcalendar/event_to_gcalendar.json
  frappe/integrations/data_migration_mapping/gcalendar_to_event/__init__.py
  frappe/integrations/data_migration_mapping/gcalendar_to_event/gcalendar_to_event.json
  frappe/integrations/data_migration_plan/gcalendar_sync/gcalendar_sync.json
  frappe/integrations/doctype/gcalendar_account/__init__.py
  frappe/integrations/doctype/gcalendar_account/gcalendar_account.js
  frappe/integrations/doctype/gcalendar_account/gcalendar_account.json
  frappe/integrations/doctype/gcalendar_account/gcalendar_account.py
  frappe/integrations/doctype/gcalendar_account/test_gcalendar_account.js
  frappe/integrations/doctype/gcalendar_account/test_gcalendar_account.py
  frappe/integrations/doctype/gcalendar_settings/__init__.py
  frappe/integrations/doctype/gcalendar_settings/gcalendar_settings.js
  frappe/integrations/doctype/gcalendar_settings/gcalendar_settings.json
  frappe/integrations/doctype/gcalendar_settings/gcalendar_settings.py
  frappe/integrations/doctype/gcalendar_settings/test_gcalendar_settings.js
  frappe/integrations/doctype/gcalendar_settings/test_gcalendar_settings.py
  frappe/integrations/doctype/google_calendar/__init__.py
  frappe/integrations/doctype/google_calendar/google_calendar.js
  frappe/integrations/doctype/google_calendar/google_calendar.json
  frappe/integrations/doctype/google_calendar/google_calendar.py
  frappe/integrations/doctype/google_calendar/test_google_calendar.py
  frappe/integrations/doctype/google_contacts/google_contacts.js
  frappe/integrations/doctype/google_settings/google_settings.js
  frappe/integrations/doctype/google_settings/google_settings.json
  frappe/patches/v12_0/remove_gcalendar_gmaps.py
Labels: review-codacy

#8151 Revert "feat: Allow utils inside Energy Point Rule condition"
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
Labels: needs-semantic-title

#8152 Revert "feat: Allow utils inside Energy Point Rule condition "
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
Labels: needs-semantic-title

#8161 fix(permissions): Perform case-insensitive substring check
  frappe/core/doctype/user_permission/user_permission.py
Labels: frappe-support

#8176 fix: Remove email limit check from frappe
  frappe/core/doctype/communication/email.py
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/queue.py
  frappe/tests/test_email.py
Labels: review-codacy

#8185 fix(ListView): trigger primary function on btn-new-doc
  frappe/public/js/frappe/list/list_view.js
Labels: frappe-support

#8172 fix: Allow user to export if user has permission to export own documents
  frappe/permissions.py
Labels: frappe-support

#8195 fix(dashboard): Only show valid options for time_interval
  frappe/desk/doctype/dashboard_chart/dashboard_chart.js
Labels: frappe-support

#8182 fix: using custom script barcode is not generated
  frappe/public/js/frappe/form/controls/barcode.js
Labels: review-codacy

#8276 fix: Disable caching for respond_as_web_page response
  frappe/__init__.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: don't-merge

#8281 refactor: added logged in status in body tag
  frappe/templates/base.html
Labels: travis-failing

#8247 fix: Change El Salvador currency to USD
  frappe/geo/country_info.json
Labels: bug

#8261 fix(Customer): Escape quotes
  frappe/utils/goal.py
Labels: frappe-support

#8160 fix(event): Include Event Participants in query
  frappe/desk/doctype/event/event.py
Labels: frappe-support, review-codacy

#8264 feat: allow forming JSON requests in webhook (develop)
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.js
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: docs-required, documentation, test-case-required
