Repository frappe/frappe, pull requests merged in 2020-05, with the labels that each got.

#10212 chore: Fix translation linter
  .github/workflows/translation_linter.yml
Labels: squash

#10200 fix: Use text instead of icon to show or hide password
  frappe/templates/includes/login/login.css
  frappe/templates/includes/login/login.js
  frappe/www/login.html
Labels: squash

#9843 fix(Email): Translations, Permissions & UI
  frappe/core/doctype/communication/communication.js
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/communication/communication_list.js
  frappe/email/doctype/email_account/email_account.json
  frappe/email/inbox.py
  frappe/public/js/frappe/list/list_sidebar.js
  frappe/public/js/frappe/views/inbox/inbox_view.js
  frappe/translations/de.csv
Labels: review-sider

#10131 fix(backup): keep minimum number of backups specified in config
  frappe/desk/page/backups/backups.py
Labels: dont-merge

#10129 fix(backup): keep minimum number of backups specified in config
  frappe/desk/page/backups/backups.py
Labels: dont-merge

#10134 fix(space_usage): get space usage only for specified number of backups
  frappe/limits.py
Labels: dont-merge

#10125 fix(backup): keep minimum number of backups specified in config
  frappe/desk/page/backups/backups.py
Labels: dont-merge

#10133 fix(space_usage): get space usage only for specified number of backups
  frappe/limits.py
Labels: dont-merge

#10267 fix: Linking of doctype from links table
  frappe/model/meta.py
Labels: squash

#10122 fix: SocketIO default port
  frappe/templates/base.html
Labels: squash

#10121 fix: SocketIO default port
  frappe/templates/base.html
Labels: squash

#10273 fix: handle invalid date parsing
  frappe/utils/data.py
Labels: squash

#10299 refactor: rename onboarding to module onboarding
  cypress/integration/login.js
  frappe/desk/desktop.py
  frappe/desk/doctype/desk_page/desk_page.json
  frappe/desk/doctype/module_onboarding/__init__.py
  frappe/desk/doctype/module_onboarding/module_onboarding.js
  frappe/desk/doctype/module_onboarding/module_onboarding.json
  frappe/desk/doctype/module_onboarding/module_onboarding.py
  frappe/desk/doctype/module_onboarding/test_module_onboarding.py
  frappe/model/sync.py
  frappe/modules/import_file.py
  frappe/patches.txt
  frappe/patches/v13_0/rename_onboarding.py
  frappe/website/module_onboarding/website/website.json
Labels: squash

#10242 fix(Website Search): Remove exact phrase search
  frappe/utils/global_search.py
Labels: update-branch

#9930 perf(desk): Even faster desk
  frappe/boot.py
  frappe/cache_manager.py
  frappe/desk/desktop.py
Labels: squash

#10201 fix: Exit chat from website
  frappe/public/js/frappe/chat.js
Labels: review-sider

#9872 feat: Custom DocType Dashboards
  frappe/custom/doctype/custom_link/__init__.py
  frappe/custom/doctype/custom_link/custom_link.js
  frappe/custom/doctype/custom_link/custom_link.json
  frappe/custom/doctype/custom_link/custom_link.py
  frappe/custom/doctype/custom_link/test_custom_link.py
  frappe/model/meta.py
Labels: docs-required

#10386 refactor: don't allow users to search onboarding docs
  frappe/desk/doctype/module_onboarding/module_onboarding.json
  frappe/desk/doctype/onboarding_step/onboarding_step.json
Labels: squash

#10385 feat: make dashboards searchable in awesomebar
  frappe/boot.py
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Labels: squash

#10257 fix(Communication): do not create contacts if unchecked
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/test_communication.py
  frappe/email/doctype/email_account/email_account.json
Labels: squash

#10444 fix: use get-all instead of get-list
  frappe/boot.py
Labels: urgent
