Repository frappe/frappe, pull requests merged in 2020-10, with the labels that each got.

#11651 fix: Allow creation of Energy Point Log
  frappe/social/doctype/energy_point_log/energy_point_log.json
Labels: squash

#11705 fix: Add default timezone for Laos
  frappe/geo/country_info.json
  frappe/patches.txt
Labels: squash

#11557 fix: Copy incoming_port from Email Domain to Email Account
  frappe/email/doctype/email_domain/email_domain.py
  frappe/email/doctype/email_domain/test_email_domain.py
  frappe/email/doctype/email_domain/test_records.json
Labels: inactive

#11675 fix: set fieldname before insert in customize form
  frappe/custom/doctype/custom_field/custom_field.py
Labels: squash

#11751 fix: Show custom error messages for email errors
  frappe/email/smtp.py
Labels: UX

#11569 feat: as_raw update to display content inline not always download as attachment
  frappe/utils/response.py
Labels: squash
