Repository frappe/frappe, pull requests merged in 2020-12, with the labels that each got.

#12014 feat(File): Option to strip EXIF data from image files before uploading
  frappe/core/doctype/file/file.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/tests/data/exif_sample_image.jpg
  frappe/tests/test_utils.py
  frappe/utils/image.py
Labels: add-test-cases, docs-required

#12027 refactor(System Settings): Remove redundant code
  frappe/core/doctype/system_settings/system_settings.js
Labels: squash

#11720 fix: validate email id before passing to formataddr
  frappe/utils/__init__.py
Labels: squash

#12081 fix: typo in Print Format Settings
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format.json
Labels: backport version-12-hotfix

#12063 feat: Added permission to grant only `Select` access to document
  frappe/__init__.py
  frappe/core/doctype/custom_docperm/custom_docperm.json
  frappe/core/doctype/docperm/docperm.json
  frappe/core/page/permission_manager/permission_manager.js
  frappe/desk/search.py
  frappe/model/db_query.py
  frappe/permissions.py
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/formatters.js
  frappe/public/js/frappe/model/model.js
  frappe/tests/test_permissions.py
  frappe/utils/user.py
Labels: critical, enhancement

#11202 feat: Add map view on sidebar
  frappe/geo/utils.py
  frappe/public/build.json
  frappe/public/css/list.css
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/list/list_sidebar.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/map/map_view.js
  frappe/public/less/list.less
  frappe/tests/tests_geo_utils.py
Labels: fix-sider-issues

#12138 fix: default str for json dumps
  frappe/integrations/doctype/webhook/webhook.py
Labels: Skip Manual Testing
