Repository frappe/frappe, pull requests merged in 2020-01, with the labels that each got.

#8928 fix(Report): reports tag fix
  frappe/public/js/frappe/ui/filters/filter_list.js
Labels: ui-test-required

#9182 fix: allow setting custom database schema in site_config
  frappe/database/postgres/database.py
Labels: docs-required

#9167 fix: update docstatus of documents if docstatus value is changed in w…
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow/workflow.py
Labels: test-required

#8766 fix(security): don't allow ignore_permissions in frappe.rename_doc
  frappe/__init__.py
  frappe/core/doctype/file/file.py
  frappe/public/js/frappe/model/model.js
  frappe/tests/test_document.py
Labels: version-13

#9229 refactor: simplify is_downloadable code in file.js
  frappe/core/doctype/file/file.py
Labels: squash

#9301 chore: Add Version 12.2.0 change log
  frappe/change_log/v12/v12_2_0.md
Labels: squash

#9217 refactor(Kanban): Use anchor tag for the ability to open card in new tab
  frappe/public/js/frappe/views/kanban/kanban_board.js
  frappe/public/js/frappe/views/kanban/kanban_card.html
  frappe/public/less/kanban.less
Labels: squash

#9291 refactor(Kanban): Use anchor tag for the ability to open card in new tab
  frappe/public/js/frappe/views/kanban/kanban_board.js
  frappe/public/js/frappe/views/kanban/kanban_card.html
  frappe/public/less/kanban.less
Labels: squash

#9303 fix: Update vulnerable dependencies
  requirements.txt
Labels: don't-merge

#9270 fix: refresh email link
  frappe/desk/form/load.py
  frappe/email/doctype/email_account/email_account.py
  frappe/public/js/frappe/form/footer/timeline.js
  frappe/public/js/frappe/form/templates/timeline.html
Labels: squash

#8567 feat: Events Streaming
  .travis.yml
  .travis/consumer_db/mariadb.json
  .travis/consumer_db/postgres.json
  .travis/producer_db/mariadb.json
  .travis/producer_db/postgres.json
  frappe/api.py
  frappe/config/automation.py
  frappe/config/desktop.py
  frappe/config/settings.py
  frappe/event_streaming/__init__.py
  frappe/event_streaming/doctype/__init__.py
  frappe/event_streaming/doctype/document_type_field_mapping/__init__.py
  frappe/event_streaming/doctype/document_type_field_mapping/document_type_field_mapping.json
  frappe/event_streaming/doctype/document_type_field_mapping/document_type_field_mapping.py
  frappe/event_streaming/doctype/document_type_mapping/__init__.py
  frappe/event_streaming/doctype/document_type_mapping/document_type_mapping.js
  frappe/event_streaming/doctype/document_type_mapping/document_type_mapping.json
  frappe/event_streaming/doctype/document_type_mapping/document_type_mapping.py
  frappe/event_streaming/doctype/document_type_mapping/test_document_type_mapping.py
  frappe/event_streaming/doctype/event_consumer/__init__.py
  frappe/event_streaming/doctype/event_consumer/event_consumer.js
  frappe/event_streaming/doctype/event_consumer/event_consumer.json
  frappe/event_streaming/doctype/event_consumer/event_consumer.py
  frappe/event_streaming/doctype/event_consumer/test_event_consumer.py
  frappe/event_streaming/doctype/event_consumer_document_type/__init__.py
  frappe/event_streaming/doctype/event_consumer_document_type/event_consumer_document_type.json
  frappe/event_streaming/doctype/event_consumer_document_type/event_consumer_document_type.py
  frappe/event_streaming/doctype/event_producer/__init__.py
  frappe/event_streaming/doctype/event_producer/event_producer.js
  frappe/event_streaming/doctype/event_producer/event_producer.json
  frappe/event_streaming/doctype/event_producer/event_producer.py
  frappe/event_streaming/doctype/event_producer/test_event_producer.py
  frappe/event_streaming/doctype/event_producer_document_type/__init__.py
  frappe/event_streaming/doctype/event_producer_document_type/event_producer_document_type.json
  frappe/event_streaming/doctype/event_producer_document_type/event_producer_document_type.py
  frappe/event_streaming/doctype/event_sync_log/__init__.py
  frappe/event_streaming/doctype/event_sync_log/event_sync_log.js
  frappe/event_streaming/doctype/event_sync_log/event_sync_log.json
  frappe/event_streaming/doctype/event_sync_log/event_sync_log.py
  frappe/event_streaming/doctype/event_sync_log/event_sync_log_list.js
  frappe/event_streaming/doctype/event_sync_log/test_event_sync_log.py
  frappe/event_streaming/doctype/event_update_log/__init__.py
  frappe/event_streaming/doctype/event_update_log/event_update_log.js
  frappe/event_streaming/doctype/event_update_log/event_update_log.json
  frappe/event_streaming/doctype/event_update_log/event_update_log.py
  frappe/event_streaming/doctype/event_update_log/test_event_update_log.py
  frappe/frappeclient.py
  frappe/handler.py
  frappe/hooks.py
  frappe/model/base_document.py
  frappe/model/delete_doc.py
  frappe/model/document.py
  frappe/modules.txt
  frappe/modules/patch_handler.py
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: version-13

#9352 fix: More informational error message in Address.
  frappe/contacts/doctype/address/address.py
Labels: squash

#9353 fix: More informational error message in Address.
  frappe/contacts/doctype/address/address.py
Labels: squash
