Repository frappe/frappe, pull requests merged in 2020-03, with the labels that each got.

#9609 fix: permission validation for child table fields
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_form_load.py
Labels: backport version-12-hotfix, test-required

#9570 fix(Dialog): depends_on fix in Dialog
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/ui/dialog.js
Labels: backport version-12-hotfix

#9611 fix(Print Format): click event being triggered multiple times
  frappe/printing/page/print_format_builder/print_format_builder.js
Labels: backport version-12-hotfix

#9587 feat(Reports): Allow child table fields in aggregate on
  frappe/public/js/frappe/ui/group_by/group_by.js
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-12-hotfix

#9635 Hotfix disable fields
  frappe/templates/includes/comments/comments.html
Labels: squash

#9462 fix: Create contact moved to background job in user
  frappe/core/doctype/user/user.py
  frappe/website/doctype/personal_data_download_request/test_personal_data_download_request.py
Labels: squash

#9510 fix: tag updating does work in preserve order
  frappe/desk/doctype/tag/tag.py
Labels: squash

#9637 feat: disable fields for comment
  frappe/templates/includes/comments/comments.html
Labels: squash

#9543 feat(scheduler): Frequent job scheduling
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/utils/scheduler.py
Labels: docs-required

#9542 feat: Monitor
  frappe/app.py
  frappe/hooks.py
  frappe/monitor.py
  frappe/tests/test_monitor.py
  frappe/utils/background_jobs.py
  frappe/utils/redis_wrapper.py
Labels: backport version-12-hotfix, docs-required

#9664 fix: UI tests
  cypress/integration/datetime.js
  cypress/integration/depends_on.js
  cypress/integration/grid_pagination.js
  cypress/integration/query_report.js
  frappe/commands/utils.py
  frappe/core/doctype/comment/comment.py
  frappe/public/js/frappe/views/desktop/desktop.js
Labels: squash

#9669 fix: create option to load more entries
  frappe/public/js/frappe/web_form/web_form_list.js
Labels: backport version-12-hotfix

#9704 fix: use agent style for details & summary
  frappe/public/css/bootstrap.css
Labels: backport v12-pre-release, backport version-12-hotfix

#9724 fix: set timeseries checkbox default value as 1
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
Labels: backport v12-pre-release

#9774 fix(list-sidebar): Show Yes or No label for check fieldtype instead of 1 or 0
  frappe/public/js/frappe/list/list_sidebar_group_by.js
Labels: squash

#9653 feat: add system override to logout sessions on password reset
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/user/user.py
Labels: squash

#9804 fix(permission-manager): Hide create, write options for non-creatable DocTypes
  frappe/core/page/permission_manager/permission_manager.js
  frappe/core/page/permission_manager/permission_manager.py
Labels: squash

#9801 fix(patch): set parent and parenttype as None for print formats
  frappe/patches.txt
  frappe/patches/v12_0/remove_parent_and_parenttype_from_print_formats.py
Labels: squash

#9610 feat: include custom JS and CSS files in web form
  frappe/utils/boilerplate.py
  frappe/website/doctype/web_form/web_form.py
Labels: docs-required
