Repository frappe/frappe, pull requests merged in 2020-06, with the labels that each got.

#10463 feat: Date filter improvements
  cypress/integration/relative_time_filters.js
  frappe/boot.py
  frappe/model/db_query.py
  frappe/patches.txt
  frappe/patches/v13_0/update_date_filters_in_user_settings.py
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/utils/data.py
Labels: add-docs

#10476 fix: filter table multiselect fields for filters
  frappe/public/js/frappe/ui/filters/field_select.js
Labels: squash

#8657 feat(ListView): allow overriding columns from settings
  frappe/desk/doctype/list_view_setting/list_view_setting.js
  frappe/desk/doctype/list_view_setting/list_view_setting.json
  frappe/desk/doctype/list_view_setting/list_view_setting.py
  frappe/desk/doctype/list_view_settings/__init__.py
  frappe/desk/doctype/list_view_settings/list_view_settings.js
  frappe/desk/doctype/list_view_settings/list_view_settings.json
  frappe/desk/doctype/list_view_settings/list_view_settings.py
  frappe/desk/doctype/list_view_settings/test_list_view_settings.py
  frappe/desk/listview.py
  frappe/public/js/frappe/list/list_settings.js
  frappe/public/js/frappe/list/list_view.js
  frappe/tests/test_listview.py
Labels: travis-failing

#10572 fix: empty desk on does not exist error
  frappe/desk/desktop.py
Labels: urgent

#10549 feat: allow mapper functions to be overriden
  frappe/model/mapper.py
Labels: add-docs

#10566 fix: show label for table fields
  frappe/templates/print_formats/standard_macros.html
Labels: squash

#10427 fix: API login inconsistency
  frappe/api.py
Labels: squash

#10838 feat(role permission): if desk access is removed from a role, attempt to remove it from users too
  frappe/core/doctype/role/role.py
  frappe/core/doctype/role/test_role.py
  frappe/model/document.py
  frappe/tests/test_document.py
Labels: squash

#10555 fix: Update num2words for Turkish translation support
  requirements.txt
Labels: squash
