Repository frappe/frappe, pull requests merged in 2020-08, with the labels that each got.

#11153 fix: whitelist functions called through search widget
  frappe/core/doctype/user_permission/user_permission.py
  frappe/core/report/permitted_documents_for_user/permitted_documents_for_user.py
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/email/__init__.py
Labels: squash

#11085 fix: add search queries to whitelist
  frappe/contacts/address_and_contact.py
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
Labels: inactive

#11194 feat: Add validate_and_sanitize_search_inputs decorator
  frappe/__init__.py
  frappe/desk/search.py
  frappe/tests/test_search.py
  requirements.txt
Labels: add-docs

#11162 feat: Allow sending emails via Server Script
  frappe/utils/safe_exec.py
Labels: add-docs

#11034 feat: Ignore doctypes for cancel_all
  frappe/core/doctype/doctype/test_doctype.py
  frappe/desk/form/linked_with.py
  frappe/public/js/frappe/form/form.js
Labels: squash

#11272 style: fix typo tood to todo
  frappe/__init__.py
Labels: squash

#11225 fix(cleanup): cleanup layout of doctype, user, role, add home_page to Portal Settings, Role
  .travis.yml
  .travis/consumer_db/mariadb.json
  .travis/consumer_db/postgres.json
  .travis/producer_db/mariadb.json
  .travis/producer_db/postgres.json
  frappe/__init__.py
  frappe/auth.py
  frappe/automation/doctype/assignment_rule/assignment_rule.py
  frappe/automation/doctype/milestone_tracker/milestone_tracker.py
  frappe/automation/doctype/milestone_tracker/test_milestone_tracker.py
  frappe/cache_manager.py
  frappe/commands/site.py
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/module_def/module_def.js
  frappe/core/doctype/module_def/module_def.json
  frappe/core/doctype/module_def/module_def.py
  frappe/core/doctype/role/role.json
  frappe/core/doctype/server_script/server_script.js
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/user/user.json
  frappe/database/database.py
  frappe/desk/doctype/onboarding_step/onboarding_step.json
  frappe/desk/form/document_follow.py
  frappe/event_streaming/doctype/event_consumer/event_consumer.py
  frappe/event_streaming/doctype/event_consumer_document_type/event_consumer_document_type.json
  frappe/event_streaming/doctype/event_producer/event_producer.py
  frappe/event_streaming/doctype/event_producer/test_event_producer.py
  frappe/event_streaming/doctype/event_producer_document_type/event_producer_document_type.json
  frappe/event_streaming/doctype/event_update_log/event_update_log.py
  frappe/hooks.py
  frappe/model/__init__.py
  frappe/model/delete_doc.py
  frappe/model/document.py
  frappe/model/workflow.py
  frappe/patches/v13_0/generate_theme_files_in_public_folder.py
  frappe/public/less/page.less
  frappe/social/doctype/energy_point_log/test_energy_point_log.py
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
  frappe/tests/test_website.py
  frappe/utils/boilerplate.py
  frappe/utils/install.py
  frappe/website/doctype/portal_settings/portal_settings.json
  frappe/website/doctype/portal_settings/test_portal_settings.py
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_page/web_page.json
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/utils.py
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/www/login.py
Labels: docs-required

#11328 feat(server script): Allow frappe.db.sql for read
  frappe/tests/test_safe_exec.py
  frappe/utils/safe_exec.py
Labels: add-docs
