Repository frappe/frappe, pull requests merged in 2020-09, with the labels that each got.

#11321 fix: newsletter issues
  frappe/email/doctype/newsletter/newsletter.js
  frappe/email/doctype/newsletter/newsletter.json
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/newsletter/newsletter_list.js
  frappe/email/doctype/newsletter/test_newsletter.py
  frappe/patches.txt
  frappe/patches/v13_0/update_newsletter_content_type.py
Labels: squash

#11323 fix(scheduler): Sync Jobs when hooks change
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
Labels: inactive

#11189 feat: don't let users override blog category
  frappe/core/doctype/user_permission/test_user_permission.py
  frappe/patches.txt
  frappe/patches/v13_0/set_route_for_blog_category.py
  frappe/search/full_text_search.py
  frappe/tests/test_form_load.py
  frappe/tests/test_permissions.py
  frappe/website/doctype/blog_category/blog_category.json
  frappe/website/doctype/blog_category/blog_category.py
  frappe/website/doctype/blog_category/test_blog_category.py
  frappe/website/doctype/blog_category/test_records.json
  frappe/website/doctype/blog_post/templates/blog_post.html
  frappe/website/doctype/blog_post/test_blog_post.py
  frappe/website/doctype/blog_post/test_records.json
Labels: travis-failing

#11476 fix(blog): Use Postgres compatible pagination query
  frappe/website/doctype/blog_post/blog_post.py
  frappe/website/doctype/blog_post/test_blog_post.py
Labels: dont-merge

#11228 fix(frappe client): validate http method for frappe.client api
  frappe/__init__.py
  frappe/client.py
  frappe/handler.py
  frappe/tests/test_client.py
Labels: critical, docs-required, security

#11237 fix: validate http method for frappe.client api
  frappe/__init__.py
  frappe/client.py
  frappe/handler.py
  frappe/tests/test_client.py
Labels: add-docs, security

#11503 fix(Tag): Ability to rename and merge tags
  frappe/desk/doctype/tag/tag.json
Labels: squash

#11515 fix(desk): Mute badge if the count is zero
  frappe/public/js/frappe/widgets/shortcut_widget.js
Labels: UX

#11535 fix: Don't allow trailing or leading whitespace in DocType name
  frappe/core/doctype/doctype/doctype.py
Labels: dont-merge

#11501 fix(salutation): Ability to rename salutation
  frappe/contacts/doctype/salutation/salutation.json
Labels: squash

#11544 feat(web_page): add dynamic routes to web page like /project/<project>
  frappe/website/doctype/web_page/test_web_page.py
  frappe/website/doctype/web_page/web_page.json
  frappe/website/doctype/web_page/web_page.py
  frappe/website/render.py
  frappe/website/router.py
Labels: add-docs

#11571 fix: frappe.utils.formatdate not working in the jinja
  frappe/utils/safe_exec.py
Labels: urgent
