Repository frappe/frappe, pull requests merged in 2020-04, with the labels that each got.

#9799 fix: avoid sqli inside global web search
  frappe/tests/test_global_search.py
  frappe/utils/global_search.py
Labels: test-required

#9641 fix: Prepared Report permissions
  frappe/core/doctype/prepared_report/prepared_report.json
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/hooks.py
Labels: backport version-12-hotfix, to validate

#9869 fix: break word if too long in link preview popover
  frappe/public/less/link_preview.less
Labels: squash

#9808 feat: Add calendar for ToDo
  frappe/desk/doctype/todo/todo_calendar.js
Labels: squash

#9817 feat: allow users to customize desk
  .eslintrc
  frappe/automation/desk_page/tools/tools.json
  frappe/core/desk_page/settings/settings.json
  frappe/core/desk_page/users/users.json
  frappe/core/page/dashboard/dashboard.js
  frappe/custom/desk_page/customization/customization.json
  frappe/desk/desktop.py
  frappe/desk/doctype/desk_card/desk_card.json
  frappe/desk/doctype/desk_chart/desk_chart.json
  frappe/desk/doctype/desk_page/desk_page.js
  frappe/desk/doctype/desk_page/desk_page.json
  frappe/desk/doctype/desk_shortcut/desk_shortcut.json
  frappe/integrations/desk_page/integrations/integrations.json
  frappe/public/js/frappe/ui/field_group.js
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/views/desktop/desktop.js
  frappe/public/js/frappe/widgets/base_widget.js
  frappe/public/js/frappe/widgets/chart_widget.js
  frappe/public/js/frappe/widgets/links_widget.js
  frappe/public/js/frappe/widgets/new_widget.js
  frappe/public/js/frappe/widgets/onboarding_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/js/frappe/widgets/widget_group.js
  frappe/public/less/desktop.less
  frappe/website/desk_page/website/website.json
Labels: desk-beta

#9896 feat: use schema.org specs for breadcrumb meta
  frappe/templates/includes/breadcrumbs.html
Labels: backport version-12-hotfix

#9912 fix: disable desk customization on mobile
  frappe/public/js/frappe/views/desktop/desktop.js
Labels: squash

#9844 fix: frappe.utils in get_context
  frappe/email/doctype/notification/notification.py
Labels: squash

#9927 fix: Return default match condition if as_condition if false
  frappe/desk/reportview.py
Labels: squash

#9909 feat: Add new report column property disable_total
  frappe/public/js/frappe/utils/utils.js
Labels: squash

#9849 enhancement: provision to scheduled server scripts execution
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/server_script/server_script.js
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
  frappe/utils/safe_exec.py
Labels: dont-merge, enhancement, need-help

#9910 feat: Add Video DocType
  frappe/automation/desk_page/tools/tools.json
  frappe/core/doctype/video/__init__.py
  frappe/core/doctype/video/test_video.py
  frappe/core/doctype/video/video.js
  frappe/core/doctype/video/video.json
  frappe/core/doctype/video/video.py
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: add-docs

#10037 feat: source maps for css/scss/less files!
  rollup/config.js
  rollup/less-loader.js
Labels: review-sider

#10036 feat: source maps for css/scss/less files!
  rollup/config.js
  rollup/less-loader.js
Labels: review-sider

#10029 fix: ignore user permissions not working from the JS side
  frappe/model/create_new.py
  frappe/public/js/frappe/model/create_new.js
Labels: urgent

#10041 fix: Validation on Select field with Default and no Options.
  frappe/core/doctype/doctype/doctype.py
Labels: dont-merge, squash

#9861 feat: data validation for child table
  cypress/integration/form.js
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/less/form_grid.less
Labels: ui-test-required

#10092 feat: add suggestive Google Search Preview option in blog
  frappe/tests/test_permissions.py
  frappe/website/doctype/blog_post/blog_post.js
  frappe/website/doctype/blog_post/blog_post.json
  frappe/website/doctype/blog_post/blog_post.py
  frappe/website/doctype/blog_post/templates/blog_post.html
Labels: review-sider

#10197 fix: set doc args before rendering card
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: urgent
