Repository frappe/frappe, pull requests merged in 2021-11, with the labels that each got.

#14855 feat(minor): Implement __getitem__ in Base Document
  frappe/model/base_document.py
Labels: frappe-support, squash

#14489 fix: Multi level custom report fix
  cypress/integration/query_report.js
  frappe/desk/query_report.py
Labels: frappe-support

#14848 fix: add check to validate chat room members
  frappe/chat/doctype/chat_message/chat_message.py
Labels: squash

#14411 chore: Remove chat module
  cypress/fixtures/doctype_with_tab_break.js
  frappe/__init__.py
  frappe/chat/__init__.py
  frappe/chat/doctype/__init__.py
  frappe/chat/doctype/chat_message/__init__.py
  frappe/chat/doctype/chat_message/chat_message.js
  frappe/chat/doctype/chat_message/chat_message.json
  frappe/chat/doctype/chat_message/chat_message.py
  frappe/chat/doctype/chat_message/chat_message_list.js
  frappe/chat/doctype/chat_profile/__init__.py
  frappe/chat/doctype/chat_profile/chat_profile.js
  frappe/chat/doctype/chat_profile/chat_profile.json
  frappe/chat/doctype/chat_profile/chat_profile.py
  frappe/chat/doctype/chat_profile/chat_profile_list.js
  frappe/chat/doctype/chat_room/__init__.py
  frappe/chat/doctype/chat_room/chat_room.js
  frappe/chat/doctype/chat_room/chat_room.json
  frappe/chat/doctype/chat_room/chat_room.py
  frappe/chat/doctype/chat_room/chat_room_list.js
  frappe/chat/doctype/chat_room_user/__init__.py
  frappe/chat/doctype/chat_room_user/chat_room_user.json
  frappe/chat/doctype/chat_room_user/chat_room_user.py
  frappe/chat/doctype/chat_token/__init__.py
  frappe/chat/doctype/chat_token/chat_token.js
  frappe/chat/doctype/chat_token/chat_token.json
  frappe/chat/doctype/chat_token/chat_token.py
  frappe/chat/util/__init__.py
  frappe/chat/util/test_util.py
  frappe/chat/util/util.py
  frappe/chat/website/__init__.py
  frappe/core/doctype/role/role.json
  frappe/core/doctype/role/role.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/core/doctype/user_permission/test_user_permission.py
  frappe/hooks.py
  frappe/modules.txt
  frappe/public/js/chat.bundle.js
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/chat.js
  frappe/public/less/chat.bundle.less
  frappe/public/sounds/chat-message.mp3
  frappe/public/sounds/chat-notification.mp3
  frappe/templates/base.html
  frappe/utils/__init__.py
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
  frappe/website/js/website.js
Labels: tests-failing

#13995 fix: Dashboard Chart to support Child Table Doctype.
  cypress/integration/dashboard_chart.js
  frappe/desk/doctype/dashboard_chart/dashboard_chart.js
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/public/js/frappe/ui/filters/field_select.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/reports/report_utils.js
  frappe/public/js/frappe/widgets/chart_widget.js
Labels: frappe-support

#14853 fix(Signup Page): Last Step Page style
  frappe/public/scss/website/index.scss
  frappe/www/complete_signup.html
Labels: squash

#13579 feat: Convenience methods for NestedSet {get_parent, get_children}
  frappe/utils/nestedset.py
Labels: squash

#15008 fix: Only allow group_by for list view data
  frappe/public/js/frappe/views/reports/report_view.js
Labels: critical, add-test-cases

#15016 fix: Only show report when there is data
  frappe/public/js/frappe/views/reports/query_report.js
Labels: frappe-support

#14967 fix: fixed list filters in get_values
  frappe/database/database.py
  frappe/tests/test_db.py
Labels: add-test-cases

#15020 fix: Exporting from report builder not exporting all rows
  frappe/public/js/frappe/views/reports/report_view.js
Labels: urgent

#15017 fix: change Event subject data type from Data to Text
  frappe/desk/doctype/event/event.json
  frappe/tests/test_document.py
Labels: frappe-support

#14971 fix: Make symbols translatable
  frappe/public/js/frappe/utils/number_format.js
  frappe/public/js/frappe/widgets/number_card_widget.js
  frappe/utils/data.py
Labels: squash

#15049 fix: Remove edit icon from quick entry to avoid browser crash
  frappe/public/js/frappe/form/quick_entry.js
Labels: frappe-support

#15028 feat: add no-git option in make-app command and boilerplate generation
  frappe/commands/utils.py
  frappe/tests/test_boilerplate.py
  frappe/tests/test_commands.py
  frappe/utils/boilerplate.py
Labels: squash

#15064 fix: Remove chart from report builder when saved without chart
  frappe/public/js/frappe/views/reports/report_view.js
Labels: frappe-support

#15084 fix: Don't pass kwargs that make_access_log can't handle
  frappe/core/doctype/access_log/access_log.py
Labels: frappe-support

#15093 fix: Correct the polish translations to correctly show buttons in Frappe framework.
  frappe/translations/pl.csv
Labels: squash

#14201 fix: Move site setup into background to fix timeouts
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
Labels: discussion, add-docs

#15133 fix: multiple time global search minimize screen freeze
  frappe/public/js/frappe/ui/dialog.js
Labels: squash
