Repository frappe/frappe, pull requests merged in 2021-07, with the labels that each got.

#13500 fix: Remove meta from pickling overhead
  frappe/model/base_document.py
Labels: add-test-cases

#13452 fix: Option to pass any value for limit from client-side
  frappe/printing/page/print/print.js
  frappe/public/js/frappe/db.js
Labels: frappe-support, squash

#13662 fix: Allow navigation to folders that are nested inside 2 folders
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/views/file/file_view.js
Labels: frappe-support

#13488 fix: Invalid Custom Report link on Workspace
  frappe/desk/desktop.py
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/widgets/links_widget.js
Labels: frappe-support

#13667 fix: custom script to duplicate row not working in v13
  frappe/public/js/frappe/form/form.js
Labels: squash

#13689 fix: Add missing fieldtypes for custom fields
  frappe/custom/doctype/custom_field/custom_field.json
Labels: frappe-support

#13240 fix: added suitable filtering mechanism to link field
  frappe/desk/search.py
  frappe/tests/test_search.py
Labels: UX, github-externship, user-interface

#13708 fix: Do not create energy points for disabled users
  frappe/core/doctype/user/user.py
  frappe/social/doctype/energy_point_log/test_energy_point_log.py
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
Labels: frappe-support

#13685 fix(listview): Tag count query
  frappe/desk/doctype/tag/test_tag.py
  frappe/desk/reportview.py
Labels: frappe-support

#13734 fix: Trigger workflow action on update_after_submit event
  frappe/hooks.py
Labels: frappe-support

#13654 fix: system notifications without email
  frappe/desk/doctype/notification_log/notification_log.py
Labels: frappe-support

#13730 fix: Allow navigation to the document with # in the docname
  cypress/integration/navigation.js
  frappe/public/js/frappe/router.js
Labels: frappe-support

#13755 fix: Allow navigation to the document with # in the docname
  cypress/integration/navigation.js
  frappe/public/js/frappe/router.js
Labels: frappe-support

#13703 refactor: Request Language Resolution
  .github/semantic.yml
  frappe/auth.py
  frappe/commands/utils.py
  frappe/coverage.py
  frappe/parallel_test_runner.py
  frappe/pythonrc.py
  frappe/sessions.py
  frappe/tests/test_auth.py
  frappe/tests/test_translate.py
  frappe/translate.py
Labels: add-docs

#13320 feat: Improvements in Webhooks
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
  frappe/integrations/doctype/webhook_request_log/__init__.py
  frappe/integrations/doctype/webhook_request_log/test_webhook_request_log.py
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.js
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.json
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.py
Labels: squash

#13705 feat: Frappe Query Builder
  frappe/__init__.py
  frappe/cache_manager.py
  frappe/config/__init__.py
  frappe/core/doctype/doctype/doctype.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/model/__init__.py
  frappe/patches/v12_0/set_correct_assign_value_in_docs.py
  frappe/patches/v13_0/increase_password_length.py
  frappe/query_builder/__init__.py
  frappe/query_builder/builder.py
  frappe/query_builder/custom.py
  frappe/query_builder/functions.py
  frappe/query_builder/utils.py
  frappe/tests/test_db.py
  frappe/tests/test_query_builder.py
  frappe/utils/global_search.py
  frappe/website/report/website_analytics/website_analytics.py
  requirements.txt
Labels: add-docs, add-test-cases, discussion, dont-merge
