Repository frappe/frappe, pull requests merged in 2021-01, with the labels that each got.

#12058 fix: fields get reordered after adding new columns
  frappe/public/js/frappe/views/reports/report_view.js
Labels: inactive

#12178 fix: Wrong closing of h5 tag
  frappe/website/doctype/blog_post/templates/blog_post_row.html
Labels: Skip Manual Testing

#12191 fix: update modified timestamp in Auto Repeat JSON file
  frappe/automation/doctype/auto_repeat/auto_repeat.json
Labels: Skip Manual Testing

#12174 fix: data.non_standard_fieldnames is None
  frappe/model/meta.py
Labels: Skip Manual Testing

#12202 fix(Auto Email Report): HTML download of auto email report breaks for columns with link field type
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: bug
