Repository frappe/frappe, pull requests merged in 2021-05, with the labels that each got.

#13046 fix: Make strings translatable
  frappe/core/page/recorder/recorder.js
  frappe/desk/page/backups/backups.js
  frappe/desk/page/translation_tool/translation_tool.js
  frappe/desk/page/user_profile/user_profile.html
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/recorder/RecorderDetail.vue
  frappe/public/js/frappe/recorder/RequestDetail.vue
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/views/dashboard/dashboard_view.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: squash

#12800 fix: forward message action in communication form view not working
  frappe/public/js/frappe/views/communication.js
Labels: squash

#12942 fix: translations
  frappe/translate.py
Labels: squash

#13230 fix: Python 3 issue on re
  frappe/translate.py
Labels: squash

#13255 feat(minor): add number format parameter in fmt_money
  frappe/utils/data.py
Labels: squash

#13330 fix: corrected the function get_url
  frappe/model/document.py
Labels: squash

#13346 fix: tooltip displays correct title
  frappe/public/js/frappe/form/controls/link.js
Labels: UX, github-externship

#13051 fix: Select appropriate email template response
  frappe/email/doctype/email_group/email_group.py
Labels: inactive
