Repository frappe/frappe, pull requests merged in 2021-04, with the labels that each got.

#12777 fix: Patch to pluralize list view setting
  frappe/patches/v13_0/rename_list_view_setting_to_list_view_settings.py
Labels: dont-merge

#12121 feat: Virtual DocType
  frappe/core/doctype/comment/comment.py
  frappe/core/doctype/doctype/boilerplate/controller._py
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/core/doctype/test/__init__.py
  frappe/core/doctype/test/test.js
  frappe/core/doctype/test/test.json
  frappe/core/doctype/test/test.py
  frappe/core/doctype/test/test_test.py
  frappe/database/database.py
  frappe/database/schema.py
  frappe/desk/reportview.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/modules/utils.py
Labels: tests-failing, update-branch

#12790 fix: Pass parent to get_list to avoid permission error
  frappe/client.py
Labels: squash

#12812 fix: added 'ps' to the right-to-left languages list
  frappe/public/js/frappe/utils/utils.js
  frappe/www/printview.py
Labels: squash

#12791 fix: Apply only if creator perm irrespective of user
  frappe/model/db_query.py
  frappe/permissions.py
  frappe/tests/test_permissions.py
Labels: add-test-cases

#12550 test: which email Id to pick for sending emails
  frappe/email/test_smtp.py
Labels: squash

#12661 fix: Redirect Web Form user directly to success URL, if no amount is due
  frappe/website/doctype/web_form/web_form.py
Labels: squash

#12857 feat: Add log_error and FrappeClient to restricted python
  frappe/utils/safe_exec.py
Labels: update-docs

#12886 fix: Remove `cmd` only if exist
  frappe/desk/treeview.py
Labels: squash

#12888 feat: Add autocompletion items in Server Script
  frappe/cache_manager.py
  frappe/core/doctype/server_script/server_script.js
  frappe/core/doctype/server_script/server_script.py
  frappe/public/js/frappe/form/controls/code.js
Labels: fix-sider-issues

#12926 ci: Fix coveralls
  .github/workflows/ci-tests.yml
Labels: squash

#12961 ci: Set COVERALLS_SERVICE_NAME as github
  .github/workflows/ci-tests.yml
Labels: squash

#12876 ci(semgrep): add more rules, r/python.correctness
  .github/helper/semgrep_rules/frappe_correctness.py
  .github/helper/semgrep_rules/frappe_correctness.yml
  .github/helper/semgrep_rules/security.yml
  .github/helper/semgrep_rules/translate.yml
  .github/helper/semgrep_rules/ux.py
  .github/helper/semgrep_rules/ux.yml
  .github/workflows/semgrep.yml
Labels: squash

#12847 feat: allow button of different sizes in df
  frappe/public/js/frappe/form/controls/button.js
Labels: update-docs

#12971 ci: fix coveralls
  .github/workflows/ci-tests.yml
  requirements.txt
Labels: squash

#13033 fix: Moving Site folder across different FileSystems failed
  frappe/commands/site.py
Labels: squash

#13035 test: omit commands directory since it is tested seperately
  frappe/commands/utils.py
Labels: squash

#13028 fix: Respond to /api requests as JSON by default
  frappe/app.py
Labels: discussion, update-docs
