Repository frappe/frappe, pull requests merged in 2021-02, with the labels that each got.

#11932 fix: Translation related issues
  frappe/custom/doctype/custom_script/custom_script.js
  frappe/desk/page/leaderboard/leaderboard.js
  frappe/public/js/frappe/file_uploader/index.js
  frappe/public/js/frappe/form/controls/html.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/multi_select_dialog.js
  frappe/public/js/frappe/form/success_action.js
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/list/list_sidebar_group_by.js
  frappe/public/js/frappe/translate.js
  frappe/public/js/frappe/ui/alt_keyboard_shortcuts.js
  frappe/public/js/frappe/ui/group_by/group_by.html
  frappe/public/js/frappe/ui/group_by/group_by.js
  frappe/public/js/frappe/ui/link_preview.js
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/ui/toolbar/search.js
  frappe/public/js/frappe/ui/toolbar/search_header.html
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/public/js/frappe/widgets/onboarding_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/translate.py
Labels: fix-sider-issues

#12288 fix: On Event creation assign to not working
  frappe/public/js/frappe/views/interaction.js
Labels: squash

#12006 fix(Number Cards): Percentage difference calculation
  frappe/desk/doctype/number_card/number_card.py
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: squash

#12405 fix: make UI elements translatable
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/request.js
  frappe/public/js/frappe/ui/toolbar/search.js
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: squash

#12400 refactor: Removed unused parameter
  frappe/realtime.py
Labels: squash

#12365 feat: Kanban enhancements
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/views/kanban/kanban_board.js
  frappe/public/js/frappe/views/kanban/kanban_card.html
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/scss/desk/kanban.scss
  frappe/public/scss/desk/page.scss
Labels: WIP

#12207 fix(List View Settings): Patch rename list view setting
  frappe/patches.txt
  frappe/patches/v13_0/rename_list_view_setting_to_list_view_settings.py
Labels: bug

#12417 fix: Throw early if invalid arguments
  frappe/app.py
  frappe/utils/response.py
Labels: Skip Manual Testing
