Repository frappe/frappe, pull requests merged in 2021-09, with the labels that each got.

#14101 fix: Enable Server Scripts by default
  frappe/utils/safe_exec.py
Labels: add-docs

#14120 fix: Problems while using translations via Globe Symbol (v13)
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/translate.py
Labels: squash

#14142 fix: Switch writes to primary when wrapped with read_only
  frappe/__init__.py
  frappe/core/doctype/access_log/access_log.py
Labels: add-docs

#14162 fix: Dont translate brand name
  frappe/translations/af.csv
  frappe/translations/am.csv
  frappe/translations/da.csv
  frappe/translations/id.csv
  frappe/translations/is.csv
  frappe/translations/it.csv
  frappe/translations/ja.csv
  frappe/translations/km.csv
  frappe/translations/mr.csv
  frappe/translations/rw.csv
  frappe/translations/sk.csv
  frappe/translations/sq.csv
  frappe/translations/sv.csv
Labels: squash

#13465 fix: number format converting to decimals
  cypress/integration/control_float.js
  frappe/public/js/frappe/form/controls/float.js
  frappe/public/js/frappe/utils/number_format.js
Labels: frappe-support

#14160 fix(event streaming): Notify consumers on document cancel
  frappe/hooks.py
Labels: squash

#14206 fix: List view skeleton
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_factory.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/model/model.js
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/list.scss
Labels: critical, fix-sider-issues

#13954 feat: Support for MariaDB 10.6
  frappe/commands/site.py
  frappe/commands/utils.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/mariadb/schema.py
  frappe/installer.py
Labels: hotfix

#14230 fix(database): Fixed sql convention inconsistency
  frappe/database/database.py
Labels: squash

#14235 fix: CSV upload failure
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/utils/utils.js
Labels: frappe-support

#14241 fix(grid): Delete all functionality
  frappe/public/js/frappe/form/grid.js
Labels: frappe-support

#14253 fix(Workflow Action): Pass doc to attach_print to avoid "Not Found"
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: frappe-support

#14048 fix: Reloading doc before Setting Property After Alert
  frappe/email/doctype/notification/notification.py
  frappe/email/doctype/notification/test_notification.py
Labels: frappe-support

#14299 fix(Event Streaming): Doctype dependencies sync
  frappe/event_streaming/doctype/event_producer/event_producer.py
Labels: squash
