Repository frappe/frappe, pull requests merged in 2021-03, with the labels that each got.

#12515 fix(UI): Miscellaneous fixes
  frappe/public/icons/timeless/icon-right-arrow.svg
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/desk/breadcrumb.scss
  frappe/public/scss/desk/css_variables.scss
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/variables.scss
Labels: WIP

#12363 fix: remove data import mandatory check
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_importer.py
Labels: squash

#12517 feat: Lazy import functionality added
  frappe/__init__.py
  frappe/utils/lazy_loader.py
Labels: docs-required

#12545 fix: Dropdown style for RTL layout
  frappe/public/css/desk-rtl.css
Labels: squash

#12142 fix: Arabic date not working in event calendar
  frappe/desk/doctype/event/event.py
  requirements.txt
Labels: squash

#12299 fix: set_primary and set_primary_email bug
  frappe/contacts/doctype/contact/contact.py
  frappe/contacts/report/addresses_and_contacts/test_addresses_and_contacts.py
Labels: squash

#12437 fix: Get file name from path
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.py
  frappe/patches.txt
  frappe/patches/v12_0/rename_uploaded_files_with_proper_name.py
Labels: squash

#12527 feat: Display progress on the bar for gantt
  frappe/public/js/frappe/views/gantt/gantt_view.js
Labels: squash

#12567 test: encoding @ since we encode each url
  cypress/integration/table_multiselect.js
Labels: WIP

#12559 ci: Port from TravisCI to Github Actions
  .github/helper/consumer_db/mariadb.json
  .github/helper/consumer_db/postgres.json
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
  .github/helper/producer_db/mariadb.json
  .github/helper/producer_db/postgres.json
  .github/helper/roulette.py
  .github/helper/run_tests.sh
  .github/workflows/ci-tests.yml
  .mergify.yml
  .travis.yml
Labels: squash

#12574 ci: Fix Github Action
  .github/helper/install.sh
  .github/helper/install_dependencies.sh
  .github/helper/roulette.py
  .github/helper/run_tests.sh
  .github/workflows/ci-tests.yml
Labels: squash

#12557 fix: Redesign fixes
  frappe/public/js/frappe/form/controls/select.js
  frappe/public/js/frappe/ui/messages.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/web_form/web_form.js
  frappe/public/scss/common/form.scss
  frappe/public/scss/common/quill.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/index.scss
  frappe/public/scss/print.scss
  frappe/public/scss/website/index.scss
  frappe/public/scss/website/web_form.scss
  frappe/templates/includes/list/list.html
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/www/app.py
  frappe/www/login.html
  frappe/www/login.py
  package.json
  yarn.lock
Labels: WIP, backport version-13-pre-release

#12588 ci: Use Ubuntu 18.04 specifically and remove verbose flag
  .github/workflows/ci-tests.yml
Labels: squash

#12254 fix: Average Chart compute inaccurate average
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/dashboard_chart/test_dashboard_chart.py
  frappe/test_runner.py
Labels: backport version-13-pre-release, travis-failing

#12578 feat: Add quoting parameter in the UnicodeWriter constructor
  frappe/utils/csvutils.py
Labels: squash

#12591 fix: Redesign Fixes
  frappe/desk/leaderboard.py
  frappe/public/js/frappe/utils/utils.js
  frappe/public/scss/common/quill.scss
  frappe/tests/ui_test_helpers.py
Labels: WIP

#12548 fix: copy paste rows more than 50 (one page)
  frappe/public/js/frappe/form/controls/table.js
Labels: squash

#12413 feat: allowed the auto name in Customize Form
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Labels: add-docs, fix-sider-issues

#12658 fix: Login with username fails
  frappe/core/doctype/user/user.py
  frappe/tests/test_auth.py
Labels: critical

#12689 test: sort folders and files before running tests for consistency
  frappe/core/doctype/user_permission/test_user_permission.py
  frappe/core/doctype/version/test_version.py
  frappe/test_runner.py
  frappe/tests/test_auth.py
Labels: squash

#12701 fix: Typo in comment
  frappe/model/document.py
Labels: squash

#12696 feat: allowed the auto name in Customize Form
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Labels: fix-sider-issues, travis-failing

#12685 fix: Always validate file URLs
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
Labels: squash

#12679 fix: Unhide email field in "Request Data" Web Form
  frappe/website/web_form/request_data/request_data.json
  frappe/website/web_form/request_to_delete_data/request_to_delete_data.json
Labels: update-branch

#12739 fix: get `frappe.client.get_value()` to work when `as_dict` is false
  frappe/client.py
Labels: squash
