Repository frappe/frappe, pull requests merged in 2021-08, with the labels that each got.

#13788 fix: Inbox View & Kanban View not loading
  frappe/public/js/frappe/router.js
Labels: frappe-support

#13830 fix: some activities not rendering correctly
  frappe/public/js/frappe/form/footer/version_timeline_content_builder.js
Labels: frappe-support

#13694 fix: Error on updating docs via API
  frappe/api.py
  frappe/utils/nestedset.py
Labels: add-test-cases

#13805 fix: grid header missing when new column added through code
  frappe/public/js/frappe/form/grid.js
Labels: frappe-support

#13831 fix: Get title only when necessary
  frappe/core/doctype/doctype/doctype.py
  frappe/search/website_search.py
Labels: squash

#13827 fix: Better error message while uploading web image
  frappe/core/doctype/file/file.py
Labels: frappe-support

#13823 feat: Internal link support in custom document links
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype_link/doctype_link.json
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/model/meta.py
Labels: add-test-cases, update-docs

#13707 feat: `PythonExpression` and `Python` option with syntax validation for `Code` field types
  frappe/automation/doctype/assignment_rule/assignment_rule.json
  frappe/core/doctype/server_script/server_script.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/model/meta.py
  frappe/tests/test_utils.py
  frappe/utils/data.py
  frappe/workflow/doctype/workflow_transition/workflow_transition.json
Labels: squash

#13711 fix: standard pages message in website settings.
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Labels: squash

#13729 test: Adding Cypress tests for sidebar, timeline and email testing
  cypress/integration/sidebar.js
  cypress/integration/table_multiselect.js
  cypress/integration/timeline.js
  cypress/integration/timeline_email.js
  cypress/support/commands.js
Labels: squash

#13899 fix: Call `is_rtl` function to get the actual value
  frappe/utils/pdf.py
Labels: frappe-support

#13907 fix: website_content_field based indexing fails since fields are not passed correctly
  frappe/search/website_search.py
Labels: Skip Manual Testing

#13932 ci: ignore js only changes while running unittests
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/server-postgres-tests.yml
  .github/workflows/ui-tests.yml
Labels: squash

#13915 refactor(minor): Newsletter
  frappe/email/doctype/newsletter/exceptions.py
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/newsletter/test_newsletter.py
Labels: frappe-support

#14006 fix: Duplicate name columns in list_view when no title field defined
  frappe/public/js/frappe/list/list_view.js
Labels: squash

#13973 fix: Handle null values in auto email report rows for XLSX format
  frappe/desk/query_report.py
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: frappe-support

#14061 ci: concurrency control for CI jobs
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/server-postgres-tests.yml
  .github/workflows/ui-tests.yml
Labels: squash
