Repository frappe/frappe, pull requests merged in 2022-07, with the labels that each got.

#17370 ci: force modern python with pyupgrade
  .git-blame-ignore-revs
  .pre-commit-config.yaml
Labels: do not backport, Skip CI

#17385 fix: remove duplicate tracebacks
  frappe/app.py
  frappe/database/database.py
  frappe/desk/form/load.py
  frappe/desk/form/save.py
Labels: backport version-13-hotfix

#17384 ci: use different reference for fetched label in has_label
  .github/helper/roulette.py
Labels: Skip CI

#17386 ci: faster patch test
  .github/workflows/patch-mariadb-tests.yml
Labels: squash

#17390 fix(control): Retain value in the field instance
  frappe/public/js/frappe/form/controls/base_control.js
Labels: backport version-13-hotfix

#17399 fix: shortcut widget title overflowing
  frappe/public/js/frappe/widgets/base_widget.js
  frappe/public/scss/desk/desktop.scss
Labels: frappe-support

#17388 ci: Bump mariadb from 10.3 to 10.6
  .github/helper/install.sh
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/ui-tests.yml
  frappe/utils/boilerplate.py
Labels: do not backport

#15891 fix(doc)!: Always cast datetime, date and time fields
  frappe/automation/doctype/assignment_rule/test_assignment_rule.py
  frappe/automation/doctype/auto_repeat/test_auto_repeat.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/integrations/doctype/oauth_bearer_token/oauth_bearer_token.py
  frappe/model/base_document.py
  frappe/model/create_new.py
  frappe/model/document.py
  frappe/model/meta.py
  frappe/tests/test_document.py
  frappe/utils/data.py
  frappe/website/doctype/personal_data_deletion_request/test_personal_data_deletion_request.py
Labels: squash

#17415 fix: incorrect default fraction for USD
  frappe/geo/country_info.json
  frappe/geo/doctype/currency/test_currency.py
Labels: backport version-13-hotfix

#17408 fix: sanitize all line boundaries for email headers
  frappe/email/email_body.py
  frappe/email/test_email_body.py
Labels: backport version-13-hotfix

#17426 fix: phone field type hidden property break form load
  frappe/public/js/frappe/form/controls/phone.js
Labels: backport version-13-hotfix

#17417 refactor: simplify fetching of readable records
  frappe/boot.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/permissions.py
Labels: backport version-13-hotfix

#17431 perf: drop country_info from boot
  frappe/boot.py
  frappe/public/js/frappe/form/controls/phone.js
Labels: squash

#17437 fix: Set files private by default
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Labels: backport version-13-hotfix

#17456 fix: check mimetype if content is present
  frappe/handler.py
Labels: squash

#17467 fix: dont scrub key if found in defaults, but falsy
  frappe/database/database.py
Labels: squash

#17497 fix: copy global defaults before updating to avoid cache mutation
  frappe/defaults.py
Labels: Run UI Tests

#17476 refactor: change Admin based OTP reset to role based reset (System Manager)
  frappe/core/doctype/user/user.js
  frappe/twofactor.py
Labels: squash

#17479 refactor: Replaced blog's feedback with comment's comment_type='Like'
  frappe/core/doctype/comment/comment.json
  frappe/core/doctype/feedback/feedback.js
  frappe/core/doctype/feedback/feedback.json
  frappe/core/doctype/feedback/feedback.py
  frappe/core/doctype/feedback/test_feedback.py
  frappe/patches.txt
  frappe/patches/v14_0/setup_likes_from_feedback.py
  frappe/templates/includes/comments/comment.html
  frappe/templates/includes/comments/comments.html
  frappe/templates/includes/comments/comments.py
  frappe/templates/includes/feedback/__init__.py
  frappe/templates/includes/feedback/feedback.py
  frappe/templates/includes/likes/__init__.py
  frappe/templates/includes/likes/likes.html
  frappe/templates/includes/likes/likes.py
  frappe/website/doctype/blog_post/blog_post.json
  frappe/website/doctype/blog_post/blog_post.py
  frappe/website/doctype/blog_post/templates/blog_post.html
  frappe/website/doctype/blog_post/test_blog_post.py
  frappe/website/doctype/blog_settings/blog_settings.json
  frappe/website/doctype/blog_settings/blog_settings.py
Labels: squash

#17512 fix: update ru translate
  frappe/translations/ru.csv
Labels: squash, Run Server Tests

#17527 Updating the Arabic part of the datepicker_i18n.js file
  frappe/public/js/frappe/form/controls/datepicker_i18n.js
Labels: backport version-13-hotfix

#17541 ci: check commit messages with commitlint
  .github/workflows/semantic-commits.yml
  package.json
Labels: squash, Skip CI

#17542 ci: Stripped down config for Semantic checks
  .github/semantic.yml
  .mergify.yml
  commitlint.config.js
  package.json
Labels: Skip CI

#17543 perf: option to skip realtime notify update after insert
  frappe/model/document.py
Labels: squash, backport version-13-hotfix

#17492 fix: translate page numbers
  frappe/templates/print_format/print_format.css
Labels: squash

#17439 feat: Allow setting "User Type" for LDAP user creation
  frappe/integrations/doctype/ldap_group_mapping/ldap_group_mapping.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/integrations/doctype/ldap_settings/test_ldap_settings.py
Labels: frappe-support

#17550 fix: No need to check for permission again while attaching a file
  frappe/core/doctype/file/utils.py
Labels: frappe-support

#17561 fix: replace incorrect validation on doctype connections
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
Labels: backport version-13-hotfix

#17575 fix: ensure 2FA patch sets parent only for 2FA keys
  frappe/core/doctype/system_settings/system_settings.py
  frappe/patches.txt
  frappe/patches/v13_0/encrypt_2fa_secrets.py
  frappe/patches/v13_0/reset_corrupt_defaults.py
Labels: critical, squash, backport version-13-hotfix

#17581 fix: Blog post Google Search Preview missing
  frappe/website/doctype/blog_post/blog_post.js
Labels: backport version-13-hotfix

#17608 fix: Letter head image not working
  frappe/printing/doctype/letter_head/letter_head.py
Labels: frappe-support, backport version-13-hotfix

#17627 fix: use comma as separator instead of space for offset
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/js/frappe/ui/group_by/group_by.js
Labels: squash

#17630 fix: load avatars of user in notification dropdown
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/public/js/frappe/utils/user.js
Labels: squash, backport version-13-hotfix

#17601 chore: add depreciation warning for payment gateways inlieu of payments app
  frappe/patches.txt
  frappe/patches/v13_0/payment_gateways_deprecation_warning.py
Labels: squash

#17634 feat: Role based permission for Dashboard Chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Labels: frappe-support, backport version-13-hotfix

#17646 fix: return promise
  frappe/public/js/frappe/ui/tree.js
Labels: backport version-13-hotfix

#17674 chore: remove duplicate field in `get_version`
  frappe/desk/form/document_follow.py
Labels: backport version-12-hotfix, backport version-13-hotfix

#17673 fix: Dropdown selection list in Reports should be translatable
  frappe/public/js/frappe/list/list_view_select.js
Labels: backport version-13-hotfix
