Repository frappe/frappe, pull requests merged in 2022-05, with the labels that each got.

#16812 fix(UX): suggest app-specific password for gmail logins
  frappe/email/doctype/email_account/email_account.js
Labels: backport version-12-hotfix, backport version-13-hotfix

#16823 perf: remove naming series from log-like doctypes
  frappe/core/doctype/access_log/access_log.json
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.json
Labels: backport version-13-hotfix

#16796 fix: bad query if user has ' in the email address
  frappe/core/doctype/user/test_records.json
  frappe/desk/doctype/dashboard_settings/dashboard_settings.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/desk/doctype/note/note.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/desk/doctype/number_card/number_card.py
  frappe/tests/test_db_query.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: frappe-support, squash

#16852 fix: improved validation for py2 compatible
  frappe/utils/csvutils.py
Labels: squash

#16842 fix(list settings): Set max fields limit as 10 instead of 4
  frappe/public/js/frappe/list/list_settings.js
Labels: add-visuals

#16863 fix: change ordering to creation
  frappe/contacts/address_and_contact.py
Labels: fix-frappe-linter

#16868 fix: Dashboard view
  frappe/desk/notifications.py
  frappe/public/js/frappe/widgets/chart_widget.js
  frappe/public/js/frappe/widgets/number_card_widget.js
  frappe/utils/scheduler.py
Labels: frappe-support, backport version-13-hotfix

#16871 refactor(DX): add type hints for some utilities
  frappe/__init__.py
  frappe/utils/data.py
Labels: squash

#16858 fix: duplicate list_update realtime events
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/model/model.js
  frappe/public/js/frappe/views/reports/report_view.js
Labels: do not backport

#16894 fix: recursion error in translations
  frappe/tests/test_translate.py
  frappe/translate.py
Labels: backport version-13-hotfix

#16897 fix(patch): Reload workspace child tables in pre_model_sync
  frappe/patches.txt
  frappe/patches/v14_0/reload_workspace_child_tables.py
Labels: squash

#16900 fix(server_scripts): warn about restricted context
  frappe/core/doctype/server_script/server_script.py
Labels: add-test-cases

#16903 fix: add dependent status field in reportview
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-13-hotfix

#15451 fix: set translated text to link field
  cypress/integration/control_link.js
  cypress/integration/table_multiselect.js
  frappe/boot.py
  frappe/core/doctype/doctype/doctype.json
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/controls/table_multiselect.js
  frappe/sessions.py
Labels: squash

#16910 feat: Add font sizes dropdown in text editor(quill)
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/public/scss/common/quill.scss
Labels: backport version-13-hotfix

#16918 revert: "refactor: new query engine in `get_count()`"
  frappe/database/database.py
  frappe/desk/reportview.py
Labels: urgent

#16877 feat!: Added support for IS in frappe qb
  frappe/database/query.py
  frappe/tests/test_db.py
Labels: squash

#16843 fix: Passing `dev server` variable to jenv globals correctly
  frappe/__init__.py
  frappe/utils/safe_exec.py
Labels: squash

#16922 fix: Check if email account exists before picking signature
  frappe/public/js/frappe/views/communication.js
Labels: frappe-support, backport develop

#16919 fix: Mandatory field bad UX
  cypress/integration/control_data.js
  cypress/integration/folder_navigation.js
  cypress/integration/kanban.js
  cypress/integration/timeline.js
  cypress/support/commands.js
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/ui/field_group.js
Labels: squash, tests-failing

#16920 fix: allow guests/users without desk access to upload text files
  frappe/handler.py
Labels: backport version-13-hotfix

#16921 fix: Dashboard charts not loading
  frappe/public/js/frappe/widgets/chart_widget.js
Labels: squash, backport version-13-hotfix

#16939 fix(form): Set actual doctype of link instead of parent doctype
  frappe/public/js/frappe/form/form.js
Labels: frappe-support

#16942 fix: use reference to form instead of global var
  frappe/public/js/frappe/form/form.js
Labels: backport version-13-hotfix

#16941 fix: duplicate buttons on desk
  cypress/integration/custom_buttons.js
  cypress/integration/folder_navigation.js
  frappe/public/js/frappe/ui/alt_keyboard_shortcuts.js
  frappe/public/js/frappe/ui/page.js
Labels: backport version-13-hotfix

#16953 perf(translation): improve if condition to return all values except `None`
  frappe/translate.py
Labels: backport version-13-hotfix

#16948 chore: update ru translate
  frappe/translations/ru.csv
Labels: backport version-13-hotfix

#16962 feat: Add german translations
  frappe/translations/de.csv
Labels: backport version-13-hotfix

#16968 fix: delete email queue first
  frappe/core/doctype/log_settings/log_settings.py
Labels: backport version-13-hotfix

#16958 test: fixed failing UI test
  cypress/integration/folder_navigation.js
  cypress/integration/workspace_blocks.js
  cypress/support/commands.js
  frappe/commands/utils.py
Labels: squash

#16987 Fix: Change currency fraction for Singapore from Sen to Cent
  frappe/geo/country_info.json
Labels: backport version-13-hotfix

#16979 feat: Display button "Create User Email" only if current user can create an Email Account
  frappe/core/doctype/user/user.js
Labels: backport version-13-hotfix

#16985 test: flaky test due to stale translation cache
  frappe/tests/utils.py
  frappe/website/doctype/personal_data_download_request/test_personal_data_download_request.py
Labels: squash, backport version-13-hotfix

#16950 perf: faster auth ~50% avg speed up on each request
  frappe/auth.py
  frappe/core/doctype/user/user.py
Labels: do not backport

#16999 fix: Strip all spacing characters from Message-ID & In-Reply-To
  frappe/core/doctype/communication/email.py
  frappe/email/doctype/email_account/test_email_account.py
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/receive.py
  frappe/utils/data.py
Labels: frappe-support

#17016 fix: identify varkw in get_newargs
  frappe/__init__.py
  frappe/tests/test_utils.py
Labels: critical

#17006 feat(website-settings): Configurable Splash Image
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Labels: frappe-support, backport version-13-hotfix

#17020 Fix: Delete Share in Frontend when read is de-selected
  frappe/share.py
Labels: backport version-13-hotfix

#17032 fix: pass currency to razorpay checkout
  frappe/templates/includes/integrations/razorpay_checkout.js
  frappe/templates/pages/integrations/razorpay_checkout.py
Labels: backport version-13-hotfix

#17042 perf: store compact JSON in version diffs
  frappe/__init__.py
  frappe/core/doctype/version/version.py
Labels: backport version-13-hotfix
