Repository frappe/frappe, pull requests merged in 2022-02, with the labels that each got.

#15560 refactor: frappe.db.set_value
  frappe/__init__.py
  frappe/client.py
  frappe/commands/utils.py
  frappe/core/doctype/file/test_file.py
  frappe/database/database.py
  frappe/query_builder/__init__.py
  frappe/query_builder/builder.py
  frappe/query_builder/terms.py
  frappe/query_builder/utils.py
  frappe/test_runner.py
  frappe/tests/test_db.py
  frappe/tests/test_query_builder.py
  frappe/tests/test_utils.py
  frappe/tests/test_website.py
  frappe/utils/__init__.py
  frappe/utils/data.py
  frappe/utils/formatters.py
  frappe/utils/response.py
  frappe/website/utils.py
Labels: hotfix, refactor, performance

#15679 feat: translate column names in export of report
  frappe/desk/reportview.py
  frappe/public/js/frappe/views/reports/report_view.js
Labels: do not backport

#15831 fix: Import `moment` in `datetime.js` for web portal
  frappe/public/js/frappe-web.bundle.js
  frappe/public/js/lib/moment.js
  frappe/public/js/libs.bundle.js
  frappe/public/js/web_form.bundle.js
  frappe/templates/base.html
  frappe/website/doctype/web_form/templates/web_form.html
Labels: Skip Manual Testing, backport v14-beta-pre-release

#15826 fix: Doctype name/table-name in database is limited to 64 character
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
Labels: frappe-support

#15776 fix(link): Call validate_link only if "value" is passed
  cypress/integration/control_link.js
  cypress/support/commands.js
  frappe/public/js/frappe/form/controls/link.js
Labels: frappe-support

#15835 feat: add breadcrumbs in dashboard view
  frappe/core/page/dashboard_view/dashboard_view.js
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: squash

#15857 fix: missing param_wrapper in recursive calls
  frappe/query_builder/terms.py
  frappe/tests/test_query_builder.py
Labels: add-description, Skip Manual Testing

#15515 feat: utility methods for docstatus
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/email/doctype/notification/notification.py
  frappe/model/base_document.py
  frappe/model/delete_doc.py
  frappe/model/docstatus.py
  frappe/model/document.py
  frappe/model/workflow.py
  frappe/social/doctype/energy_point_rule/energy_point_rule.py
  frappe/tests/test_base_document.py
  frappe/tests/test_docstatus.py
Labels: squash

#15888 fix: Use whoosh AsyncWriter to prevent write locks
  frappe/search/full_text_search.py
Labels: Skip Manual Testing

#15889 fix: Update translation
  frappe/translations/de.csv
Labels: squash

#15893 fix: use `now` instead of `is_async` in tests
  frappe/model/delete_doc.py
Labels: Skip Manual Testing

#15838 fix: Thumbnail for external images (from URL) [v13]
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/website/render.py
  frappe/www/_test/assets/image
Labels: frappe-support

#15907 fix: executing non-select qb code from whitelisted methods
  frappe/core/doctype/server_script/test_server_script.py
  frappe/query_builder/utils.py
Labels: Skip Manual Testing

#15883 refactor: Query Building & Data Handling [v13]
  frappe/__init__.py
  frappe/client.py
  frappe/commands/utils.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/server_script/test_server_script.py
  frappe/database/database.py
  frappe/database/query.py
  frappe/query_builder/__init__.py
  frappe/query_builder/builder.py
  frappe/query_builder/custom.py
  frappe/query_builder/functions.py
  frappe/query_builder/terms.py
  frappe/query_builder/utils.py
  frappe/test_runner.py
  frappe/tests/test_db.py
  frappe/tests/test_query_builder.py
  frappe/tests/test_utils.py
  frappe/tests/test_website.py
  frappe/utils/__init__.py
  frappe/utils/data.py
  frappe/utils/formatters.py
  frappe/utils/response.py
  frappe/website/utils.py
Labels: frappe-support

#15919 chore: Bump pip requirements
  requirements.txt
Labels: dependencies

#15769 fix: translate default msgprint title in backend
  frappe/__init__.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/user/test_user.py
  frappe/public/js/frappe/ui/messages.js
Labels: resolve-conflicts

#15757 refactor: replace Link field with Select field
  frappe/desk/doctype/form_tour/form_tour.js
  frappe/desk/doctype/form_tour/form_tour.py
  frappe/desk/doctype/form_tour_step/form_tour_step.json
  frappe/public/js/frappe/form/form_tour.js
  frappe/tests/ui_test_helpers.py
Labels: Ready for Testing

#15892 fix: add try except for splitting email
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/communication/test_communication.py
Labels: Skip Manual Testing

#15918 feat: Allow all users to customize reports of type Report Builder
  frappe/core/doctype/report/test_report.py
  frappe/desk/reportview.py
  frappe/public/js/frappe/views/reports/report_view.js
Labels: squash

#14593 feat: Virtual DocFields
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/property_setter/property_setter.py
  frappe/database/schema.py
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/form/script_manager.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/public/js/frappe/views/treeview.js
  frappe/tests/test_document.py
  frappe/website/doctype/web_form/web_form.js
Labels: add-docs

#15879 fix: added menu translations
  frappe/translations/de.csv
Labels: squash

#15886 fix: Update translations
  frappe/translations/de.csv
Labels: squash

#15906 feat(db/pg): ability to ignore pk collision
  frappe/database/database.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_db.py
Labels: Skip Manual Testing

#15931 fix: load more button loads only 20 records at a time
  cypress/integration/report_view.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/desk/list.scss
  frappe/tests/ui_test_helpers.py
Labels: frappe-support

#15963 perf: reduce loop in `doc.update`
  frappe/model/base_document.py
Labels: Skip Manual Testing

#15945 fix(Permission Manager): Update client-side permission data
  frappe/core/page/permission_manager/permission_manager.js
Labels: squash

#15873 fix: added missing translations for View Types
  frappe/translations/de.csv
Labels: squash

#15787 fix: update child table row's linked field on creating new connection
  cypress/fixtures/child_table_doctype.js
  cypress/fixtures/doctype_to_link.js
  cypress/fixtures/doctype_with_child_table.js
  cypress/integration/dashboard_links.js
  frappe/public/js/frappe/form/form.js
  frappe/tests/ui_test_helpers.py
Labels: Ready for Testing

#15950 fix: Totalling for tree view reports
  frappe/core/doctype/report/test_report.py
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: squash

#15877 refactor: Site Migration
  frappe/build.py
  frappe/commands/site.py
  frappe/migrate.py
  frappe/tests/test_commands.py
  frappe/utils/minify.py
Labels: discussion

#16067 fix: error in table creation from incorrect scope
  frappe/core/doctype/doctype/test_doctype.py
  frappe/database/postgres/schema.py
Labels: Skip Manual Testing

#16069 fix: `AttributeError` when initializing `FormMeta`
  frappe/desk/form/meta.py
Labels: critical

#16055 fix(minor): throttle listview refresh on same args for 3 seconds
  cypress/integration/list_view.js
  cypress/integration/report_view.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/scss/common/grid.scss
  frappe/public/scss/common/modal.scss
  frappe/public/scss/desk/frappe_datatable.scss
Labels: Skip Manual Testing

#16045 fix(print): Added properties page-width, page-height
  frappe/utils/pdf.py
Labels: squash

#16010 fix(translation): Field translation
  frappe/translations/de.csv
Labels: squash, Skip Manual Testing

#16081 fix: explicitly ignore duplicates and skip migration_hash
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/desk/utils.py
  frappe/modules/import_file.py
  frappe/test_runner.py
  frappe/utils/install.py
Labels: Skip Manual Testing, postgres

#16095 fix(ux): instructions/warning for doctype edits in developer mode
  frappe/core/doctype/doctype/doctype.js
  frappe/public/js/frappe/form/layout.js
Labels: Skip Manual Testing

#16041 refactor(minor): Rename Document
  frappe/commands/utils.py
  frappe/core/doctype/user/test_user.py
  frappe/model/naming.py
  frappe/model/rename_doc.py
  frappe/model/utils/rename_doc.py
  frappe/public/js/frappe/form/toolbar.js
  frappe/test_runner.py
  frappe/tests/test_api.py
  frappe/tests/test_email.py
  frappe/tests/test_frappe_client.py
  frappe/tests/test_rename_doc.py
Labels: Skip Manual Testing

#15915 feat(minor): No Copy attribute for custom fields
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
Labels: squash

#16126 fix: Set message in Document.raise_no_permission_to
  frappe/model/rename_doc.py
Labels: Skip Manual Testing

#16059 feat(minor): Add Custom Group Search for custom LDAP servers
  frappe/integrations/doctype/ldap_settings/ldap_settings.json
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Labels: squash

#16125 refactor(minor): Update Document Title API
  frappe/model/rename_doc.py
Labels: Skip Manual Testing

#16105 fix(UI): Flaky link preview popover creation
  frappe/public/js/frappe/ui/link_preview.js
Labels: Skip Manual Testing

#15973 fix(cli): Database agnostic options for root db credentials
  frappe/commands/site.py
  frappe/database/postgres/setup_db.py
  frappe/installer.py
Labels: squash, add-docs

#15929 fix: Always show charts even if onboarding enabled
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: Skip Manual Testing, add-visuals

#16140 fix: Unable to open query report
  frappe/core/doctype/report/test_report.py
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: Skip Manual Testing

#16129 feat(minor): No Copy attribute for custom fields (backport #15915)
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
Labels: squash

#15913 fix(grid): Select All checkbox not visible
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Labels: squash

#16005 fix: forget return value after `run_method` execution
  frappe/model/document.py
Labels: Skip Manual Testing

#16138 test: Fix flaky permission test
  frappe/tests/test_permissions.py
  frappe/tests/test_utils.py
Labels: Skip Manual Testing

#16162 feat: testing utilities
  frappe/tests/test_permissions.py
  frappe/tests/test_utils.py
  frappe/tests/utils.py
Labels: Skip Manual Testing

#15958 fix: always execute method if found in `__dict__`
  frappe/model/document.py
  frappe/tests/test_document.py
Labels: squash

#16168 fix: Inherit from FrappeTestCase in template
  frappe/core/doctype/doctype/boilerplate/test_controller._py
Labels: Skip Manual Testing

#16171 feat(minor): added option to configure powered by in footer and max-height for text editors
  frappe/public/js/frappe/form/controls/text_editor.js
  frappe/templates/includes/footer/footer_info.html
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
Labels: Skip Manual Testing
