Repository frappe/frappe, pull requests merged in 2022-09, with the labels that each got.

#17537 feat: moving all get_all queries to frappe.qb.engine
  frappe/core/report/permitted_documents_for_user/permitted_documents_for_user.py
  frappe/database/database.py
  frappe/database/query.py
  frappe/database/utils.py
  frappe/integrations/doctype/webhook/__init__.py
  frappe/query_builder/functions.py
  frappe/share.py
  frappe/tests/test_query.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: security

#18011 feat: add lang to safe globals
  frappe/utils/safe_exec.py
Labels: squash, backport version-13-hotfix, backport version-14-hotfix

#18014 fix: comma looks like a decimal in report summary widget
  frappe/public/scss/desk/report.scss
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#17981 feat: review Custom and Build workspace, move background Job to Build Workspace
  cypress/integration/workspace_blocks.js
  frappe/core/workspace/build/build.json
  frappe/core/workspace/settings/settings.json
  frappe/custom/workspace/customization/customization.json
  frappe/utils/install.py
Labels: squash, backport version-14-hotfix

#17777 fix!: Allow Root deletion for Tree DocTypes
  frappe/tests/test_nestedset.py
  frappe/utils/nestedset.py
Labels: Skip CI

#18025 fix: show unique workspaces in sidebar
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#18030 refactor: improved CORS support and caching
  frappe/app.py
  frappe/tests/test_cors.py
Labels: backport version-14-hotfix

#18000 feat: option to disable user pass based login
  frappe/auth.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/tests/test_auth.py
  frappe/www/login.html
  frappe/www/login.py
Labels: squash, backport version-14-hotfix

#18043 fix: show user/pass fields when LDAP is active
  frappe/www/login.html
Labels: backport version-14-hotfix

#18049 perf: remove duplicate database initialisation
  frappe/auth.py
Labels: Run UI Tests

#18044 refactor(minor): get_success_recipients -> get_queued_recipients
  frappe/email/doctype/email_queue_recipient/email_queue_recipient.json
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/newsletter/test_newsletter.py
Labels: backport version-14-hotfix

#18056 fix(UI): Grid UI glitch when child table is used with column breaks
  frappe/public/scss/common/grid.scss
Labels: backport version-14-hotfix

#18061 fix(Link): dont validate DocType twice when setting value
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-14-hotfix

#18050 feat: Zero* downtime migrations
  frappe/__init__.py
  frappe/app.py
  frappe/auth.py
  frappe/core/doctype/error_log/error_log.py
  frappe/core/doctype/view_log/view_log.json
  frappe/database/__init__.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/desk/form/load.py
  frappe/exceptions.py
  frappe/migrate.py
  frappe/model/document.py
  frappe/model/sync.py
  frappe/modules/patch_handler.py
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/scss/common/indicator.scss
  frappe/sessions.py
  frappe/templates/includes/navbar/navbar_items.html
  frappe/tests/test_api.py
  frappe/tests/test_db.py
  frappe/utils/dashboard.py
  frappe/website/doctype/web_page_view/web_page_view.py
  frappe/website/doctype/website_settings/website_settings.py
Labels: Skip CI

#18080 fix: erase default before adding new series-es
  .github/workflows/server-mariadb-tests.yml
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
Labels: Skip CI, backport version-14-hotfix

#18086 feat: Improved RQ monitoring and control with virtual doctypes
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/rq_job/__init__.py
  frappe/core/doctype/rq_job/rq_job.js
  frappe/core/doctype/rq_job/rq_job.json
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_job/rq_job_list.js
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/core/doctype/rq_worker/__init__.py
  frappe/core/doctype/rq_worker/rq_worker.js
  frappe/core/doctype/rq_worker/rq_worker.json
  frappe/core/doctype/rq_worker/rq_worker.py
  frappe/core/doctype/rq_worker/test_rq_worker.py
  frappe/core/page/background_jobs/background_jobs.css
  frappe/core/page/background_jobs/background_jobs.html
  frappe/core/page/background_jobs/background_jobs.js
  frappe/core/page/background_jobs/background_jobs.json
  frappe/core/page/background_jobs/background_jobs.py
  frappe/core/page/background_jobs/background_workers.html
  frappe/core/workspace/build/build.json
  frappe/database/database.py
  frappe/patches.txt
  frappe/public/js/frappe/desk.js
  frappe/tests/test_background_jobs.py
  frappe/utils/background_jobs.py
  frappe/utils/response.py
  frappe/utils/scheduler.py
Labels: Skip CI, backport version-14-hotfix

#18089 fix: sync app dashboard on app install
  frappe/commands/site.py
  frappe/installer.py
  frappe/utils/dashboard.py
  frappe/utils/fixtures.py
Labels: backport version-14-hotfix

#18099 fix: coalesce `not in` queries
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#18109 fix: create a private workspace if user doesn't have access while duplicating
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#18112 chore(DX): RQ job name when func object is passed
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_job/test_rq_job.py
Labels: backport version-14-hotfix

#18111 refactor(minor): simplify show_kanban_dialog & allow multiple kanban board creation
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#18126 fix: show portal sidebar on login
  frappe/www/me.py
Labels: add-test-cases, backport version-14-hotfix

#18125 fix: dynamic label for document rename
  frappe/public/js/frappe/form/toolbar.js
Labels: backport version-14-hotfix

#18128 chore: Add `make_put_requests` method for Server Scripts
  frappe/utils/safe_exec.py
Labels: Skip CI, backport version-14-hotfix

#18116 fix: allow standard webforms to be unpublished
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.py
Labels: frappe-support

#18119 perf!: Only add modified index on parent doctypes
  frappe/database/mariadb/schema.py
  frappe/patches.txt
  frappe/patches/v14_0/drop_unused_indexes.py
  frappe/patches/v15_0/drop_modified_index.py
Labels: Skip CI

#18104 feat: completed option to status
  frappe/desk/doctype/event/event.json
Labels: backport version-14-hotfix

#18073 feat: specify sender for auto email report
  frappe/email/doctype/auto_email_report/auto_email_report.js
  frappe/email/doctype/auto_email_report/auto_email_report.json
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: squash

#18164 perf: cache `Meta` directly and other improvements
  frappe/__init__.py
  frappe/cache_manager.py
  frappe/commands/utils.py
  frappe/core/doctype/doctype/doctype.py
  frappe/model/meta.py
  frappe/tests/test_perf.py
  frappe/tests/utils.py
Labels: Run UI Tests, backport version-14-hotfix

#18182 fix: drop Meta cache during update
  frappe/model/meta.py
  frappe/patches.txt
  frappe/patches/v14_0/drop_meta_cache.py
  frappe/tests/test_perf.py
Labels: Skip CI

#18186 Revert "fix: drop Meta cache during update"
  frappe/cache_manager.py
  frappe/desk/form/meta.py
  frappe/model/meta.py
  frappe/patches.txt
  frappe/patches/v14_0/drop_meta_cache.py
Labels: add-test-cases

#18163 feat(minor): delete kanban board from kanban view
  frappe/public/js/frappe/views/kanban/kanban_view.js
Labels: backport version-14-hotfix

#18185 fix: add string to translate function onboarding widget
  frappe/public/js/frappe/widgets/onboarding_widget.js
Labels: backport version-14-hotfix

#18191 fix: Chart date format on x-axis is inaccurate
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
  frappe/desk/doctype/dashboard_chart/test_dashboard_chart.py
  frappe/utils/data.py
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#18184 fix: pypika does not parse datetime.time
  frappe/query_builder/functions.py
  frappe/query_builder/terms.py
  frappe/tests/test_query_builder.py
Labels: add-test-cases, backport develop

#18204 fix: make module to export required.
  frappe/custom/doctype/customize_form/customize_form.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#18221 test: flaky API tests due to autherror
  frappe/tests/test_commands.py
Labels: backport version-14-hotfix

#18219 fix: remove mariadb specific comments from column
  frappe/utils/__init__.py
  frappe/utils/data.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#18212 fix: chart label not being translated
  frappe/public/js/frappe/utils/dashboard_utils.js
Labels: squash, backport version-14-hotfix

#18231 fix(minor): consider only email id as sender email for auto email report
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: Skip CI

#18235 fix: only allow verified_command on GET requests
  frappe/utils/verified_command.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#18188 fix: add translate function to some strings
  frappe/public/js/frappe/phone_picker/phone_picker.js
  frappe/public/js/frappe/views/dashboard/dashboard_view.js
  frappe/public/js/frappe/views/workspace/blocks/block.js
  frappe/public/js/frappe/views/workspace/blocks/paragraph.js
  frappe/public/js/frappe/views/workspace/blocks/spacer.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/quick_list_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
Labels: backport version-14-hotfix

#18230 fix: throw exception if backup failed
  frappe/tests/test_commands.py
  frappe/utils/__init__.py
  frappe/utils/backups.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#18236 fix: store full doctype schema for special doctypes
  frappe/model/base_document.py
Labels: backport version-14-hotfix

#18243 refactor(minor): reorder and remove unnecessary branches in set_new_name
  frappe/model/naming.py
Labels: backport version-14-hotfix

#18259 fix: report generation - frappe monitor
  frappe/desk/query_report.py
Labels: Skip CI
