Repository frappe/frappe, pull requests merged in 2022-06, with the labels that each got.

#16976 fix: Prioritize report custom roles
  frappe/core/doctype/report/report.py
  frappe/core/doctype/report/test_report.py
Labels: frappe-support, backport version-13-hotfix

#17074 Revert "fix: mention only users that can be read"
  frappe/desk/search.py
Labels: frappe-support, backport version-13-hotfix

#16727 fix: explicitly start a new transaction
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/database/database.py
  frappe/database/postgres/setup_db.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/email/doctype/newsletter/test_newsletter.py
  frappe/tests/test_db.py
  frappe/tests/test_rename_doc.py
Labels: postgres

#17104 fix: Reset role editor while loading a new user form
  frappe/core/doctype/user/user.js
  frappe/desk/doctype/notification_settings/notification_settings.py
  frappe/public/js/frappe/roles_editor.js
Labels: backport version-13-hotfix

#17102 ci: Set permissions for GitHub actions
  .github/workflows/docker-release.yml
  .github/workflows/docs-checker.yml
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/release.yml
  .github/workflows/server-mariadb-tests.yml
  .github/workflows/server-postgres-tests.yml
  .github/workflows/ui-tests.yml
Labels: squash

#16289 refactor: File
  frappe/__init__.py
  frappe/app.py
  frappe/client.py
  frappe/core/api/__init__.py
  frappe/core/api/file.py
  frappe/core/doctype/file/__init__.py
  frappe/core/doctype/file/exceptions.py
  frappe/core/doctype/file/file.js
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/file/utils.py
  frappe/database/database.py
  frappe/desk/form/utils.py
  frappe/email/receive.py
  frappe/event_streaming/doctype/event_producer/test_event_producer.py
  frappe/handler.py
  frappe/hooks.py
  frappe/model/base_document.py
  frappe/model/create_new.py
  frappe/model/document.py
  frappe/patches/v14_0/update_github_endpoints.py
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/frappe/file_uploader/FileBrowser.vue
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/form/sidebar/attachments.js
  frappe/public/js/frappe/utils/file_manager.js
  frappe/public/js/frappe/views/file/file_view.js
  frappe/public/js/frappe/views/image/image_view.js
  frappe/utils/data.py
  frappe/utils/file_manager.py
  frappe/utils/install.py
  frappe/utils/response.py
  frappe/website/doctype/web_form/web_form.py
Labels: do not backport

#17095 fix: print & breadcrumbs for forward slash
  frappe/printing/page/print/print.js
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: backport version-13-hotfix

#17117 fix: added text editor dialog on hide action
  frappe/public/js/frappe/views/reports/report_view.js
  package.json
  yarn.lock
Labels: backport version-13-hotfix

#17031 fix: Use same labels for standard fields throughout interfaces
  cypress/integration/awesome_bar.js
  frappe/model/meta.py
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_settings.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/model/meta.js
Labels: squash

#17127 chore(deps): Update python dependencies
  dev-requirements.txt
  frappe/core/doctype/file/file.py
  frappe/tests/test_pdf.py
  frappe/utils/data.py
  frappe/utils/image.py
  frappe/utils/password.py
  frappe/utils/pdf.py
  frappe/utils/print_format.py
  requirements.txt
  setup.py
Labels: dependencies

#17152 fix: JS error in page.js when the is a quote in button translation
  cypress/integration/custom_buttons.js
  frappe/public/js/frappe/ui/page.js
Labels: backport version-13-hotfix, ignore-flaky-test

#17136 fix: Allow to set empty values in Bulk Edit
  frappe/public/js/frappe/list/bulk_operations.js
Labels: backport version-13-hotfix

#17161 fix: Handle case where document title can be NONE
  frappe/model/document.py
  frappe/www/printview.py
Labels: frappe-support

#17149 fix: Update label for editing in full page and add custom logic for rendering it.
  cypress/integration/timeline_email.js
  frappe/public/js/frappe/form/quick_entry.js
Labels: backport version-13-hotfix

#17063 perf!: Pages & APIs
  .github/helper/roulette.py
  frappe/__init__.py
  frappe/contacts/address_and_contact.py
  frappe/database/database.py
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/query_builder/utils.py
  frappe/sessions.py
  frappe/tests/test_scheduler.py
  frappe/utils/background_jobs.py
  frappe/website/router.py
  frappe/www/about.py
  frappe/www/app.py
  frappe/www/login.py
Labels: refactor, performance, Run UI Tests

#17160 fix: number card ui inconsistencies
  frappe/desk/doctype/number_card/number_card.json
  frappe/desk/doctype/number_card/number_card.py
Labels: backport version-13-hotfix

#17119 feat: set image as footer in letter head
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/printing/doctype/letter_head/letter_head.py
Labels: backport version-13-hotfix

#17239 fix: translate doctype in error messages
  frappe/__init__.py
  frappe/client.py
  frappe/model/db_query.py
  frappe/share.py
Labels: backport version-13-hotfix

#17115 fix: dont clear `_meta` when caching doc
  frappe/model/base_document.py
Labels: squash

#17234 fix: cast list to tuple when using parameterized query for postgres
  frappe/database/postgres/database.py
  frappe/tests/test_db.py
Labels: postgres

#17270 fix: make response mandatory in email template
  frappe/email/doctype/email_template/email_template.js
  frappe/email/doctype/email_template/email_template.json
Labels: frappe-support

#17278 fix: navbar child redirection issue
  frappe/templates/includes/navbar/navbar_items.html
Labels: urgent

#16977 fix: Virtual DocTypes currently breaking Parent-DocType Update and Deletion
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/model/delete_doc.py
  frappe/model/document.py
Labels: squash

#17276 feat(translations-cli): Fetch translations for a particular app
  frappe/commands/translate.py
  frappe/translate.py
Labels: squash

#17287 fix(Image View): make info field translatable
  frappe/public/js/frappe/views/image/image_view.js
Labels: backport version-13-hotfix

#17238 fix: update ru translate
  frappe/translations/ru.csv
Labels: backport version-13-hotfix

#17213 Add data titles to sidebar workspace fields for easier selection through CSS.
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: add-description

#17316 fix: Allow permitted number card of type report
  frappe/desk/doctype/number_card/number_card.py
Labels: backport version-13-hotfix

#17322 fix(redis): pass shared param when setting value based on generator
  frappe/utils/redis_wrapper.py
Labels: backport version-13-hotfix

#17250 fix: email not sent if contain file with current site url
  frappe/core/doctype/file/file.py
Labels: frappe-support, squash

#17228 ci: temp fix for semgrep
  .github/helper/roulette.py
  .github/workflows/linters.yml
Labels: Skip CI

#17126 fix: extra column in excel after exporting report with group by
  frappe/desk/reportview.py
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Labels: squash, backport version-13-hotfix

#17259 feat: add email retry limit in system settings
  frappe/core/doctype/system_settings/system_settings.json
  frappe/email/doctype/email_queue/email_queue.py
Labels: frappe-support, squash

#17334 refactor(minor): Email Unsubscription [v13]
  .github/helper/roulette.py
  .github/workflows/semgrep.yml
  frappe/__init__.py
  frappe/desk/doctype/dashboard_chart/test_dashboard_chart.py
  frappe/email/email_body.py
  frappe/email/queue.py
  frappe/migrate.py
  frappe/templates/emails/email_footer.html
  frappe/tests/test_email.py
Labels: frappe-support

#17337 fix: remove bare exception catching
  .github/helper/flake8.conf
  frappe/build.py
  frappe/commands/scheduler.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/core/doctype/user/user.py
  frappe/database/database.py
  frappe/desk/doctype/system_console/system_console.py
  frappe/email/__init__.py
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/notification/notification.py
  frappe/email/receive.py
  frappe/installer.py
  frappe/integrations/doctype/razorpay_settings/razorpay_settings.py
  frappe/model/mapper.py
  frappe/patches/v13_0/generate_theme_files_in_public_folder.py
  frappe/twofactor.py
  frappe/utils/background_jobs.py
  frappe/utils/data.py
  frappe/utils/pdf.py
  frappe/utils/scheduler.py
Labels: backport version-13-hotfix

#17305 fix: correct Brazilian portuguese translations
  frappe/translations/pt-BR.csv
  frappe/translations/pt_br.csv
Labels: add-description

#17348 fix(translation): Translate strings in public folders
  frappe/printing/page/print/print.py
  frappe/translate.py
Labels: backport version-13-hotfix
