Repository frappe/frappe, pull requests merged in 2022-12, with the labels that each got.

#19070 fix: socketio spawn error
  socketio.js
Labels: backport version-14-hotfix

#19078 perf: dont clear all cache during default install
  frappe/defaults.py
Labels: Run UI Tests

#19080 fix: consistent translation in meta.get_label
  frappe/model/meta.py
Labels: add-test-cases

#19095 fix: only System Manager should access Google Drive
  frappe/integrations/doctype/google_drive/google_drive.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#19099 fix: ensure correct parenttype when retrieving roles
  frappe/permissions.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#18906 feat(UI): Sticky Tabs Header
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/scss/desk/form.scss
Labels: hotfix, squash, waiting-for-suggested-changes

#19094 fix(UX): freeze on delete
  frappe/public/js/frappe/model/model.js
Labels: UX, backport version-13-hotfix, backport version-14-hotfix

#19088 fix(security): validate web form permissions correctly
  frappe/public/js/frappe/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.py
Labels: Run UI Tests

#19111 fix: ignore empty/`None` scripts
  frappe/desk/form/meta.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19105 fix: attribute error on export of reports with additional columns
  frappe/desk/query_report.py
Labels: add-test-cases

#18729 chore!: drop device support from session
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/postgres/framework_postgres.sql
  frappe/sessions.py
  frappe/templates/includes/login/login.js
Labels: squash, do not backport

#19121 fix: give more weight to sequential matches
  frappe/public/js/frappe/ui/toolbar/fuzzy_match.js
Labels: backport version-14-hotfix

#19128 fix: type conversion for read receipt in communication email
  frappe/core/doctype/communication/email.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19164 fix: translate doctype in link error
  frappe/model/delete_doc.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19143 fix: unscrub and translate field names in tooltip explaining fetch from
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/translations/de.csv
Labels: backport version-13-hotfix, backport version-14-hotfix

#19171 fix: restore `_dict` in safe exec, override RestrictedPython transformer to add compatibility
  frappe/query_builder/utils.py
  frappe/tests/test_safe_exec.py
  frappe/utils/jinja.py
  frappe/utils/safe_exec.py
Labels: Skip CI

#19161 fix: workflow action button icon not visible in mobile view
  frappe/public/js/frappe/ui/page.html
Labels: backport version-13-hotfix, backport version-14-hotfix

#19098 fix: validate parentfield while checking child perms
  frappe/permissions.py
  frappe/tests/test_permissions.py
Labels: backport version-14-hotfix

#19170 fix: stabilize shared with dialog
  frappe/public/js/frappe/form/sidebar/share.js
  frappe/share.py
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#19187 fix(docshare): return None if share_name and value are None
  frappe/share.py
Labels: add-test-cases, backport version-13-hotfix, Skip CI, backport version-14-hotfix

#19192 fix: only make fetch_from field read only if no input
  frappe/public/js/frappe/form/controls/base_input.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#19196 fix: reload shared dialog upon checking any perm
  frappe/public/js/frappe/form/sidebar/share.js
Labels: backport version-13-hotfix, Skip CI, backport version-14-hotfix

#19199 fix: log unknown usernames too for failed attempts
  frappe/auth.py
Labels: add-test-cases

#19193 refactor: html2text and fix diff render
  frappe/core/doctype/version/version_view.html
  frappe/public/js/frappe/form/footer/version_timeline_content_builder.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/communication.js
Labels: defer backport

#19207 fix: child table not working
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix

#19220 feat: finer frappe Recorder control with decorator
  frappe/recorder.py
  frappe/tests/test_recorder.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19155 fix: untranslated link fields in list view
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix

#19255 fix: TypeError when msgprint() receives lists
  frappe/__init__.py
Labels: squash, backport version-14-hotfix

#19247 fix: change page title to app name.
  frappe/www/app.html
  frappe/www/app.py
Labels: squash, add-test-cases

#19265 fix: sort keys in prepared report filters
  frappe/core/doctype/prepared_report/prepared_report.py
Labels: frappe-support

#19269 fix: in web form if print format is empty getting error
  frappe/website/doctype/web_form/templates/web_form.html
Labels: frappe-support, backport version-14-hotfix

#19280 fix(UI): if grid custom button is not set grid has some extra space on top
  frappe/public/scss/common/grid.scss
Labels: backport version-13-hotfix, backport version-14-hotfix

#19283 build(deps): Bump editorjs to 2.26.3
  package.json
  yarn.lock
Labels: defer backport

#19286 fix: handle `HTML` Code fieldtype's `has_content`
  frappe/model/base_document.py
Labels: add-test-cases

#19284 feat: add parameters language and letter_head to `download_pdf`
  frappe/translate.py
  frappe/utils/print_format.py
Labels: backport version-14-hotfix

#19285 fix: remove unused `html` parameter
  frappe/__init__.py
Labels: add-test-cases, do not backport, defer backport

#19292 fix(trim-database): Dont act on non-frappe tables
  frappe/commands/site.py
Labels: backport version-14-hotfix

#19277 fix: use stricter regex for `sanitize_searchfield`
  frappe/desk/search.py
  frappe/tests/test_search.py
Labels: squash, backport version-13-hotfix, backport version-14-hotfix

#19306 feat: fields for attaching (html) meta tags in web form
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/test_records.json
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Labels: fix-frappe-linter

#19311 test: remove duplication in `test_search`
  frappe/tests/test_search.py
Labels: backport version-14-hotfix

#19318 fix(UX): Redirect after submitting webform
  frappe/public/js/frappe/web_form/web_form.js
Labels: frappe-support

#19327 fix: dont share with self for standard users
  frappe/core/doctype/user/user.py
  frappe/patches.txt
  frappe/patches/v13_0/remove_share_for_std_users.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19308 fix: db ssl connection
  frappe/database/mariadb/database.py
Labels: backport version-14-hotfix

#19322 fix: allow zero page length in `get_list` to return complete list
  frappe/frappeclient.py
Labels: add-test-cases

#19331 build: bump pyyaml
  pyproject.toml
Labels: squash, backport version-14-hotfix

#19329 fix: better check of whether doctype is child table
  frappe/model/base_document.py
  frappe/model/meta.py
Labels: backport version-14-hotfix

#19332 fix(workflow): Remove docstatus field from get_workflow_state_count
  frappe/workflow/doctype/workflow/workflow.py
Labels: postgres, backport version-14-hotfix

#19326 perf: reuse `_doc_before_save` in `doc.get_latest`
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_linked_with.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19348 chore: pin markupsafe
  pyproject.toml
Labels: backport version-14-hotfix

#19353 fix: re-introduce html param for attach_print
  frappe/__init__.py
Labels: Run UI Tests

#19357 fix: postgres query
  frappe/contacts/doctype/contact/contact.py
Labels: postgres, backport version-14-hotfix

#19358 fix: datepicker not working for arabic language
  frappe/public/scss/common/datepicker.scss
Labels: backport version-13-hotfix, backport version-14-hotfix

#19367 fix(UX): shift-select checkboxes ranges
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix

#19373 fix(error snapshot): fix seen update query in error snapshot to work with postgres
  frappe/core/doctype/error_snapshot/error_snapshot.py
Labels: backport version-14-hotfix

#19382 fix: Allow emailing disabled user
  frappe/core/doctype/communication/mixins.py
  frappe/core/doctype/communication/test_communication.py
Labels: backport version-14-hotfix

#19389 ci: use `$GITHUB_OUTPUT` instead of `set-output`
  .github/helper/roulette.py
  .github/workflows/patch-mariadb-tests.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
  frappe/utils/boilerplate.py
Labels: add-test-cases

#19386 fix: prevent emails from being queued multiple times
  frappe/email/queue.py
Labels: squash, defer backport

#19399 chore(Document): remove code that resets `self.latest`
  frappe/model/document.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19391 feat(minor): Show fieldname on hover when cmd/ctrl is pressed
  frappe/public/js/frappe/form/controls/base_control.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/scss/desk/form.scss
Labels: backport version-13-hotfix, backport version-14-hotfix

#19407 fix(subscription): Allow remote_login even if subscription.expiry is not set
  frappe/utils/subscription.py
Labels: add-test-cases

#19411 fix(minor): dont set autoincrement autoname by default for child table
  frappe/core/doctype/doctype/doctype.js
Labels: Run Server Tests, backport version-14-hotfix

#19418 fix: not able to make delivery note from pick list
  frappe/model/document.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19422 fix(socketio): Event list_update > doctype_subscribe
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/socketio_client.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/realtime.py
  socketio.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#19413 fix: build_response for re.Match
  frappe/utils/response.py
Labels: backport version-14-hotfix

#19395 chore: remove code for handling old dict-based meta cache
  frappe/model/meta.py
Labels: backport version-14-hotfix
