Repository frappe/frappe, pull requests merged in 2023-10, with the labels that each got.

#22335 fix(UX): Responsive, column-major design for multicheck elements
  frappe/public/js/frappe/form/controls/multicheck.js
  frappe/public/js/frappe/module_editor.js
  frappe/public/js/frappe/roles_editor.js
  frappe/templates/styles/standard.css
Labels: fix-frappe-linter

#22604 fix: Give All role permission to read/create own address and contact
  frappe/contacts/doctype/address/address.json
  frappe/contacts/doctype/contact/contact.json
Labels: add-test-cases

#22429 fix: Workflow Builder not updating diagram with added states/transitions in table
  frappe/public/js/workflow_builder/WorkflowBuilder.vue
  frappe/public/js/workflow_builder/components/Properties.vue
  frappe/public/js/workflow_builder/components/StateNode.vue
  frappe/public/js/workflow_builder/components/TransitionEdge.vue
  frappe/public/js/workflow_builder/store.js
  frappe/public/js/workflow_builder/utils.js
  frappe/workflow/doctype/workflow/workflow.js
  frappe/workflow/doctype/workflow_document_state/workflow_document_state.json
  frappe/workflow/doctype/workflow_transition/workflow_transition.json
Labels: squash

#22627 fix(minor): hide side section on new doc.
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/scss/desk/sidebar.scss
Labels: backport version-14-hotfix

#22628 fix: kanban remove unnecessary get_docfield
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Labels: backport version-14-hotfix

#22330 feat: improve openid connect devx
  frappe/app.py
  frappe/commands/utils.py
  frappe/hooks.py
Labels: add-test-cases

#22667 chore: export black-compatible types
  frappe/types/exporter.py
Labels: add-test-cases

#22620 refactor(treewide): use `mariadb` commands directly instead of `mysql`
  frappe/commands/utils.py
  frappe/database/db_manager.py
  frappe/installer.py
  frappe/utils/backups.py
  frappe/utils/boilerplate.py
Labels: defer backport

#22555 fix(NotPermittedPage): Add redirect-to even if starting with /app
  frappe/website/page_renderers/not_permitted_page.py
Labels: add-test-cases

#22439 fix: permission check for the child table in search link
  frappe/desk/search.py
Labels: add-test-cases

#22674 fix: Use same filter in report view and list view
  frappe/public/js/frappe/views/reports/report_view.js
Labels: defer backport

#22679 fix: conditional webform with list view enabled
  frappe/public/js/frappe/ui/filters/filter_list.js
  frappe/public/js/frappe/web_form/web_form_list.js
  frappe/public/js/frappe/web_form/webform_script.js
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-14-hotfix

#22291 fix(Email Inline Embed): Unescape embed path
  frappe/email/email_body.py
Labels: add-test-cases

#22655 fix: workspace don't strip filter info on save.
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/widgets/quick_list_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
Labels: backport version-14-hotfix

#22714 fix: method name typo and return type annotation
  frappe/types/exporter.py
Labels: add-test-cases

#22713 fix(model/document): add missing parameters to docstring and fix return type annotation
  frappe/model/document.py
Labels: add-test-cases

#22700 fix(UX): send out a system notification when email sending + retries fail
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/email_queue/test_email_queue.py
Labels: do not backport

#22730 fix: Delete from cache after deleting a server script
  frappe/core/doctype/server_script/server_script.py
Labels: add-test-cases

#22649 fix: Work-around to fix issue with syncing Google Contacts
  frappe/integrations/doctype/google_contacts/google_contacts.py
Labels: add-test-cases

#22750 fix: Check if note has permission
  frappe/desk/doctype/note/note.py
  frappe/hooks.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#22753 fix: validation permission on `tag` creation
  frappe/desk/doctype/tag/tag.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#22614 fix: Fix scopes for Google Calendar
  frappe/integrations/doctype/google_calendar/google_calendar.py
Labels: add-test-cases

#22637 fix(UX): Add 'Due Date' to Quick Entry Form, default to Today.
  frappe/desk/doctype/todo/todo.json
Labels: backport version-14-hotfix

#22768 fix: number card shorten number is not formatted correctly if number format is not default
  frappe/public/js/frappe/utils/number_format.js
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: frappe-support, backport version-14-hotfix

#22774 feat: rate limit logins based on IP too
  frappe/auth.py
  frappe/core/doctype/activity_log/test_activity_log.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/tests/test_auth.py
Labels: Skip CI, Run Server Tests, backport version-14-hotfix

#22778 fix: filename xss
  frappe/public/js/frappe/views/file/file_view.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#22783 fix: Check perms before sharing linked docs
  frappe/desk/form/linked_with.py
Labels: add-test-cases, backport version-14-hotfix

#22784 refactor: Split address render function
  frappe/contacts/doctype/address/address.py
Labels: backport version-14-hotfix

#22789 fix: do not allow creating/editing/deleting other's private workspaces
  frappe/desk/doctype/workspace/workspace.py
Labels: add-test-cases

#22795 fix: cron job firing immediately after save
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
  frappe/tests/test_test_utils.py
  frappe/tests/utils.py
  pyproject.toml
Labels: backport version-14-hotfix

#22814 refactor: Use client.set_value instead of db.set_value
  frappe/email/inbox.py
Labels: add-test-cases

#22809 fix(Permission Manager): Update type of perm level options
  frappe/public/js/frappe/form/controls/select.js
Labels: v15

#22693 fix: relink attachments before saving doc
  cypress/integration/control_attach.js
  cypress/integration/control_data.js
  cypress/integration/dashboard_chart.js
  cypress/integration/grid_keyboard_shortcut.js
  cypress/integration/number_card.js
  cypress/integration/timeline.js
  cypress/support/commands.js
  frappe/core/doctype/file/utils.py
  frappe/desk/form/save.py
  frappe/handler.py
  frappe/model/document.py
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/model/create_new.js
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: add-test-cases

#22827 fix: Fix get_message_log extra json.loads
  frappe/__init__.py
Labels: add-test-cases

#22832 fix: ignore duplicate perm check on assign hooks
  frappe/__init__.py
  frappe/automation/doctype/assignment_rule/assignment_rule.py
  frappe/automation/doctype/assignment_rule/test_assignment_rule.py
  frappe/desk/form/assign_to.py
  frappe/tests/utils.py
Labels: backport version-14-hotfix

#22821 chore: v15 release
  .github/helper/ci.py
  .github/helper/translation.py
  .github/workflows/create-release.yml
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
  .releaserc
  frappe/__init__.py
Labels: squash

#22840 fix: minor desk style inconsistencies
  frappe/public/js/frappe/widgets/onboarding_widget.js
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/desk/slides.scss
  frappe/public/scss/desk/tree.scss
Labels: backport version-15-hotfix

#22839 refactor: use gzip library's compress() and decompress() methods directly
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/utils/__init__.py
Labels: add-test-cases

#22857 fix(UX): resolve page not found error
  frappe/public/js/frappe/views/reports/query_report.js
Labels: hacktoberfest

#22846 fix(minor): use inline-flex in page-actions btn
  frappe/public/scss/desk/page.scss
Labels: backport version-15-hotfix

#22860 fix: Correctly update fields on doctype form
  frappe/public/js/form_builder/store.js
Labels: backport version-15-hotfix

#22871 fix: don't encode `/` in html escaping
  frappe/public/js/frappe/utils/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#22873 fix: pass default SSL context to imap/pop conn
  frappe/email/receive.py
Labels: add-test-cases

#22895 fix: ignore workspace links on delete
  frappe/hooks.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#22902 fix: Footer should show up once at end if not repeating header/footer
  frappe/templates/print_formats/standard.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#22918 fix!: Correct between filtering
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
  frappe/tests/utils.py
Labels: defer backport

#22916 fix!: revert UI behavior of `fetch_if_empty`
  frappe/core/doctype/docfield/docfield.json
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#22930 fix(minor): hide grid row on modal close
  frappe/public/js/frappe/ui/dialog.js
Labels: backport version-15-hotfix

#22924 fix: web styles espresso
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/common/datepicker.scss
  frappe/public/scss/common/global.scss
  frappe/public/scss/desk/css_variables.scss
  frappe/public/scss/desk/list.scss
  frappe/public/scss/website/blog.scss
  frappe/public/scss/website/index.scss
  frappe/public/scss/website/markdown.scss
  frappe/public/scss/website/navbar.scss
  frappe/public/scss/website/variables.scss
  frappe/website/js/website.js
Labels: backport version-15-hotfix

#22940 fix: ignore stale custom fields while checking back-links
  frappe/model/delete_doc.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#22945 chore: bump `werkzeug` to `3.0.1`
  pyproject.toml
Labels: defer backport

#22969 fix: group by didn't work for the frappe.client.get_value
  frappe/client.py
Labels: add-test-cases, backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#22974 fix: revert unintentional quick entry default for Address
  frappe/contacts/doctype/address/address.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#22977 fix: revert to setting `frappe.dynamic_link` instead of using `cur_frm`
  frappe/public/js/frappe/utils/address_and_contact.js
Labels: backport version-15-hotfix

#22982 perf: query fields only once
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases

#22983 chore(blog_post): drop usage of `ifnull`
  frappe/website/doctype/blog_post/blog_post.py
Labels: add-test-cases

#22981 refactor: Writing multi-pdf
  frappe/utils/print_format.py
Labels: add-test-cases

#22658 feat(data export): Option to programattically set default filetype
  frappe/public/js/frappe/data_import/data_exporter.js
Labels: inactive, add-description

#22984 chore: print full path to backup
  frappe/utils/backups.py
Labels: add-test-cases

#22958 fix: developer mode in website theme
  frappe/website/doctype/website_theme/website_theme.js
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix

#22922 fix(migrate): raise exception even if db is not available
  frappe/migrate.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#22880 fix: Strip HTML tags from SMS Notifications
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#22993 fix: Validate invalid links in fetch_from dependency fields
  frappe/model/base_document.py
Labels: add-test-cases

#22879 fix: skip invalid numbers on SMS `receiver_list`
  frappe/core/doctype/sms_settings/sms_settings.py
Labels: add-test-cases

#23007 fix: directly assign returned value
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases

#23009 fix(cli): Use mysql CLI as fallback is mariadb isnt found
  frappe/database/db_manager.py
Labels: Skip CI

#23013 fix(minor): mobile menu & sidebar attachment text
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/website/navbar.scss
Labels: backport version-15-hotfix

#23019 perf: Improve link checks during cancellation
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/recorder/recorder.js
  frappe/desk/form/linked_with.py
  frappe/model/delete_doc.py
Labels: defer backport

#23031 fix: enforce perms on global search
  frappe/utils/global_search.py
Labels: backport version-13-hotfix, backport version-14-hotfix, backport version-15-hotfix
