Repository frappe/frappe, pull requests merged in 2023-01, with the labels that each got.

#19445 fix: show document title instead of name in like notification email
  frappe/templates/includes/likes/likes.py
Labels: backport version-14-hotfix

#19446 chore: bump gitpython to `3.1.30`
  .github/workflows/linters.yml
  pyproject.toml
Labels: backport version-14-hotfix

#19436 fix: For Update for child table
  frappe/model/document.py
Labels: defer backport

#19451 fix: Allow everyone to read geo data
  frappe/geo/country_info.py
Labels: add-test-cases, Skip CI

#19430 fix: don't set default in list view for fields not allowed
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
Labels: backport version-14-hotfix

#19403 fix(commands): require ngrok auth token in `site_config.json` to use ngrok command
  frappe/commands/site.py
Labels: Skip CI

#19458 fix: only allow system manager to create/edit email templates by default
  frappe/email/doctype/email_template/email_template.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#19421 refactor: OAuth
  frappe/core/doctype/user/user.py
  frappe/integrations/oauth2_logins.py
  frappe/utils/oauth.py
  frappe/www/login.py
Labels: add-test-cases, backport version-14-hotfix

#18930 fix: [ux] Render Kanban Board actions with permissions check
  cypress/integration/kanban.js
  cypress/integration/permissions.js
  cypress/support/commands.js
  frappe/client.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/public/js/frappe/list/list_view_select.js
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/tests/ui_test_helpers.py
Labels: defer backport

#19472 refactor: deprecate usage of set_value with None as docname
  frappe/core/doctype/domain/domain.py
  frappe/core/doctype/user/test_user.py
  frappe/database/database.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.py
  frappe/integrations/doctype/google_drive/google_drive.py
  frappe/integrations/doctype/google_settings/test_google_settings.py
  frappe/patches/v10_0/set_default_locking_time.py
  frappe/patches/v11_0/set_dropbox_file_backup.py
  frappe/patches/v12_0/set_default_password_reset_limit.py
  frappe/patches/v13_0/set_first_day_of_the_week.py
  frappe/patches/v14_0/set_document_expiry_default.py
  frappe/patches/v14_0/update_auto_account_deletion_duration.py
  frappe/translate.py
  frappe/twofactor.py
  frappe/utils/install.py
  frappe/utils/scheduler.py
  frappe/website/doctype/personal_data_deletion_request/test_personal_data_deletion_request.py
  frappe/website/doctype/website_settings/google_indexing.py
Labels: backport version-14-hotfix

#19429 fix: Improve JSON export format readability
  frappe/__init__.py
  frappe/core/doctype/data_import/data_import.py
Labels: add-test-cases

#19479 feat(dx): Useful Meta.__repr__
  frappe/core/doctype/docfield/docfield.py
Labels: add-test-cases

#19465 chore: Remove duplicated Oauth2 whitelisted APIs
  frappe/hooks.py
  frappe/www/login.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19485 revert: checking if user has permission to meta
  frappe/desk/form/linked_with.py
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#19469 fix: Child Table in Dialog: sortable #19468
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix

#19491 test: Fix for failing date control UI test
  cypress/integration/control_date.js
Labels: backport version-14-hotfix

#19495 fix: after login if redirect is used getting blank screen
  frappe/website/page_renderers/not_permitted_page.py
Labels: backport version-14-hotfix

#19494 fix: Dont throw back to `/` if desk page not found
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/request.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#19504 fix: use file name for backups to Google Drive
  frappe/integrations/doctype/google_drive/google_drive.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19510 fix: Hide delete button for standard workspace if not in developer_mode
  frappe/desk/doctype/workspace/workspace.js
  frappe/desk/doctype/workspace/workspace.json
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#19517 fix typo in frappe/desk/reportview.py
  frappe/desk/reportview.py
Labels: add-test-cases

#19519 fix(user profile): fix user profile queries to support postgresql
  frappe/desk/page/user_profile/user_profile.py
  frappe/query_builder/functions.py
  frappe/social/doctype/energy_point_log/test_energy_point_log.py
  frappe/tests/test_query_builder.py
Labels: postgres

#19518 simplify frappe/permissions.py raise_exception assignment
  frappe/permissions.py
Labels: add-test-cases

#19525 ci: use node18 for releases
  .github/workflows/create-release.yml
Labels: backport version-13-hotfix, backport version-14-hotfix

#19523 ci: retry if rate limited in roulette
  .github/helper/roulette.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19540 chore: remove deprecated check_admin_or_system_manager function
  frappe/permissions.py
Labels: Skip CI

#19546 fix: RSS feed escaping
  frappe/tests/ui_test_helpers.py
  frappe/www/rss.py
Labels: add-test-cases

#19552 fix(DX): Print alter query if it fails during migration
  frappe/database/mariadb/schema.py
Labels: defer backport

#19558 fix(UX): Better message for update after submit.
  frappe/model/base_document.py
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#19562 fix(UX): Leaderboard company field validation
  frappe/desk/page/leaderboard/leaderboard.js
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#19569 docs: fix docstring for get_list filters
  frappe/__init__.py
Labels: squash, Skip CI

#19574 fix: hide unhide workspace css not working in firefox
  frappe/public/scss/desk/desktop.scss
Labels: backport version-14-hotfix

#19572 chore(docstring): fix docstring to match the value of `MAX_WRITES_PER_TRANSACTION`
  frappe/database/database.py
Labels: add-test-cases

#19581 fix: slug doctype when building url to report with filters
  frappe/utils/data.py
Labels: add-test-cases, Skip CI

#19587 fix: Hide drop-icon if all children is hidden
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/scss/desk/desktop.scss
Labels: defer backport

#18750 feat: use Connected App for OAuth based Email Account
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/oauth.py
  frappe/email/receive.py
  frappe/email/smtp.py
  frappe/integrations/doctype/connected_app/connected_app.py
  frappe/integrations/doctype/token_cache/token_cache.json
  frappe/integrations/doctype/token_cache/token_cache.py
  frappe/patches.txt
  frappe/patches/v14_0/disable_email_accounts_with_oauth.py
Labels: add-test-cases, backport version-14-hotfix

#19605 fix(minor): only show authorization message if connected app is set
  frappe/email/doctype/email_account/email_account.js
  frappe/integrations/doctype/connected_app/connected_app.py
Labels: add-test-cases

#17869 refactor!: deprecate sorting based on `apps.txt` in `get_installed_apps`
  frappe/__init__.py
  frappe/tests/test_commands.py
  frappe/utils/change_log.py
  frappe/utils/jinja.py
Labels: defer backport

#19611 chore: remove unnecessary query condition from get_other_system_managers
  frappe/core/doctype/user/user.py
Labels: add-test-cases

#19616 fix(DX): better error msg for non-whitelisted methods
  frappe/__init__.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19624 fix: cannot add number card on dashboard
  frappe/public/js/frappe/widgets/widget_dialog.js
Labels: backport version-14-hotfix

#19627 fix: Argument name should be letterhead instead of letter_head
  frappe/utils/print_format.py
Labels: add-test-cases

#19630 fix: Initialize "r" to avoid UnboundLocalError
  frappe/integrations/doctype/webhook/webhook.py
Labels: add-test-cases

#19635 fix: handle `tel:` links in emails
  frappe/tests/test_utils.py
  frappe/utils/data.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19641 fix: always generate unique fieldnames instead of appending row number
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/custom_field/custom_field.py
Labels: backport version-13-hotfix

#19642 fix: Edit Profile link is not redirecting correctly
  frappe/core/web_form/edit_profile/edit_profile.json
  frappe/www/me.html
Labels: backport version-14-hotfix

#19653 feat: let users modify hook resolution order
  frappe/core/doctype/installed_applications/installed_applications.js
  frappe/core/doctype/installed_applications/installed_applications.py
  frappe/core/doctype/installed_applications/test_installed_applications.py
Labels: defer backport

#19609 chore(file): better error msg for file_upload
  frappe/core/doctype/file/file.py
Labels: squash

#19663 fix: only generate fieldname for inconsequential fields
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/file/file.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19668 fix: improved installed app fail feedback
  frappe/__init__.py
  frappe/installer.py
Labels: add-test-cases

#19661 perf: only clear controller cache from current site
  frappe/cache_manager.py
Labels: backport version-14-hotfix

#19667 feat: allow 'content' attribute for website structured data schema
  frappe/utils/html_utils.py
Labels: add-test-cases

#19695 fix: use document title instead of name in subject
  frappe/templates/includes/comments/comments.py
Labels: backport version-14-hotfix

#19696 fix: invalid "empty form" message
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/layout.js
Labels: Skip CI

#19690 fix: rate limit newsletter subscriptions
  frappe/email/doctype/newsletter/newsletter.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19083 fix: misc fixes (background submission)
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/submission_queue/submission_queue.js
  frappe/core/doctype/submission_queue/submission_queue.json
  frappe/core/doctype/submission_queue/submission_queue.py
  frappe/public/js/frappe/form/form.js
  frappe/public/scss/common/css_variables.scss
Labels: Skip CI

#19723 fix: Load libs with frappe-web.bundle.js
  frappe/public/js/frappe-web.bundle.js
Labels: frappe-support

#19711 fix: improve invalid naming series message
  frappe/model/naming.py
Labels: backport version-14-hotfix

#19725 fix: misc migration issues
  frappe/core/doctype/user_type/user_type.py
  frappe/desk/form/meta.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19684 refactor: simplified `get_controller`
  frappe/model/base_document.py
Labels: squash

#19710 fix: Password Strength Progress Bar & Toggle Password
  frappe/public/js/frappe/form/controls/password.js
  frappe/public/scss/common/controls.scss
Labels: defer backport

#19743 fix(UI): Grid in 3 column layout is broken
  frappe/public/scss/common/grid.scss
Labels: backport version-14-hotfix

#19744 fix: incorrect link when std field has problem
  frappe/desk/form/meta.py
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#19754 test: fixed failing LDAP test
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/integrations/doctype/ldap_settings/test_ldap_settings.py
Labels: backport version-14-hotfix

#19755 refactor: Add a maxsplit limit to string splits
  frappe/__init__.py
  frappe/auth.py
  frappe/commands/utils.py
  frappe/core/doctype/communication/communication.py
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/file/utils.py
  frappe/core/doctype/package_import/package_import.py
  frappe/core/doctype/user_permission/test_user_permission.py
  frappe/database/mariadb/setup_db.py
  frappe/desk/doctype/event/event.py
  frappe/desk/form/meta.py
  frappe/desk/query_report.py
  frappe/desk/reportview.py
  frappe/desk/search.py
  frappe/frappeclient.py
  frappe/installer.py
  frappe/model/create_new.py
  frappe/model/db_query.py
  frappe/model/delete_doc.py
  frappe/model/utils/rename_field.py
  frappe/modules/import_file.py
  frappe/modules/patch_handler.py
  frappe/search/website_search.py
  frappe/tests/test_commands.py
  frappe/tests/test_patches.py
  frappe/tests/test_search.py
  frappe/translate.py
  frappe/utils/__init__.py
  frappe/utils/backups.py
  frappe/utils/change_log.py
  frappe/utils/data.py
  frappe/utils/dateutils.py
  frappe/utils/error.py
  frappe/utils/global_search.py
  frappe/website/doctype/blogger/blogger.py
  frappe/website/doctype/personal_data_download_request/test_personal_data_download_request.py
  frappe/website/doctype/web_page/web_page.py
  frappe/website/doctype/web_page_view/web_page_view.py
Labels: Run UI Tests

#19736 perf(DX): use cached `Meta` to create `FormMeta`
  frappe/desk/form/meta.py
Labels: Run UI Tests, defer backport

#19776 fix(translation): empty string
  frappe/custom/doctype/custom_field/custom_field.py
Labels: add-test-cases

#19781 build(deps): Bump frappe-datatable to 1.17.1
  package.json
  yarn.lock
Labels: defer backport

#19732 Fix update docfield property using set_df_property on child table
  cypress/integration/form.js
  frappe/public/js/frappe/form/form.js
Labels: defer backport

#19782 fix: set-config without `-g` must specify site
  frappe/commands/utils.py
Labels: defer backport

#19716 chore!: remove special local cache for documents (and related `cache_locally` parameter)
  frappe/__init__.py
  frappe/cache_manager.py
  frappe/utils/redis_wrapper.py
Labels: do not backport

#19715 feat: change quick entry dialog size based on column breaks
  frappe/public/js/frappe/ui/dialog.js
Labels: squash, defer backport

#19788 fix: assertAlmostEqual with precision
  frappe/model/base_document.py
  frappe/tests/utils.py
Labels: backport version-14-hotfix

#19665 fix: respect disable sidebar stats on list view
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix

#19799 ci: temporarily disable pip-audit
  .github/workflows/linters.yml
Labels: Skip CI, backport version-14-hotfix

#19783 fix(MariaDBTable): dont attempt to drop index twice
  frappe/database/mariadb/schema.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19790 fix: add freeze message for bulk delete
  frappe/public/js/frappe/list/bulk_operations.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#19823 fix: permission check before loading document
  frappe/desk/form/load.py
Labels: Run UI Tests

#19780 feat: Audit hooks report
  frappe/custom/report/__init__.py
  frappe/custom/report/audit_system_hooks/__init__.py
  frappe/custom/report/audit_system_hooks/audit_system_hooks.js
  frappe/custom/report/audit_system_hooks/audit_system_hooks.json
  frappe/custom/report/audit_system_hooks/audit_system_hooks.py
  frappe/custom/report/audit_system_hooks/test_audit_system_hooks.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19786 chore!: Remove translation tool (page)
  frappe/desk/page/translation_tool/__init__.py
  frappe/desk/page/translation_tool/translation_tool.css
  frappe/desk/page/translation_tool/translation_tool.html
  frappe/desk/page/translation_tool/translation_tool.js
  frappe/desk/page/translation_tool/translation_tool.json
  frappe/patches.txt
Labels: breaking change

#19588 fix: Report sidebar must consider Permission Query
  frappe/boot.py
  frappe/tests/test_boot.py
Labels: needs-backport, Run UI Tests

#19798 fix: grid search without frm object
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix

#19832 fix: docshare on int pk doctype
  frappe/core/doctype/docshare/test_docshare.py
  frappe/permissions.py
Labels: Skip CI, backport version-14-hotfix

#19650 fix: add brackets for docshare or condition
  frappe/model/db_query.py
Labels: defer backport

#19753 fix: 2fa creation token on ldap
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
  frappe/utils/error.py
Labels: squash

#19836 ci: bump isort to 5.12.0
  .pre-commit-config.yaml
  frappe/desk/form/load.py
Labels: Skip CI

#19835 fix: sanitize form dict in error logs
  frappe/core/doctype/error_snapshot/test_error_snapshot.py
  frappe/utils/__init__.py
  frappe/utils/logger.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19848 fix: duplicate website theme generation
  frappe/website/doctype/website_theme/test_website_theme.py
  frappe/website/doctype/website_theme/website_theme.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#19820 fix(db_query): Allow link field to have 'tab'
  frappe/model/db_query.py
Labels: add-test-cases

#19862 fix: Setting default print format
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format.py
Labels: backport version-14-hotfix
