Repository frappe/frappe, pull requests merged in 2023-03, with the labels that each got.

#20198 fix: only load workspace skeleton on workspace body
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#20196 fix: use `DOMParser` instead of `createElement` to remove script and style
  frappe/public/js/frappe/dom.js
Labels: defer backport

#20200 Revert "chore(Database): simplify condition"
  frappe/database/database.py
Labels: add-test-cases

#20187 fix mapview display
  frappe/geo/utils.py
Labels: add-test-cases

#20112 fix:child table issue on mobile touch in RTL
  frappe/public/js/frappe/form/grid_row.js
Labels: squash, backport version-14-hotfix

#20205 fix: Attempt to run after_hooks only if site is initialized
  frappe/app.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#20209 FIX js issue if no message returned for xhr callback
  frappe/public/js/frappe/desk.js
Labels: backport version-14-hotfix

#20190 fix: improved implementation of `between` filter
  frappe/database/database.py
  frappe/model/db_query.py
Labels: defer backport

#20226 fix: log raw text reponse instead of parsing JSON
  frappe/integrations/doctype/webhook/webhook.py
Labels: frappe-support, backport version-14-hotfix

#20228 fix: token cache expiry calculation
  frappe/integrations/doctype/token_cache/token_cache.py
Labels: add-test-cases, backport version-14-hotfix

#20231 fix(DX): better error message for notification from reference doctype
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#20241 build(deps): Bump frappe-datatable to 1.17.2
  package.json
  yarn.lock
Labels: backport version-13-hotfix, backport version-14-hotfix

#20240 fix: compare with content value for Link fieldtypes
  frappe/public/js/frappe/views/reports/query_report.js
Labels: defer backport

#20229 fix: frappe.route_options in quick_list_widget
  frappe/public/js/frappe/widgets/quick_list_widget.js
Labels: backport version-14-hotfix

#20249 chore: remove manage subscriptions from navbar settings
  frappe/patches.txt
  frappe/patches/v14_0/remove_manage_subscriptions_from_navbar.py
  frappe/utils/install.py
Labels: backport version-14-hotfix

#20257 fix: TemplatePage.can_render
  frappe/tests/test_website.py
  frappe/website/page_renderers/template_page.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#20253 refactor: rename timezone utils
  frappe/boot.py
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_worker/rq_worker.py
  frappe/core/doctype/user/user.py
  frappe/desk/page/backups/backups.py
  frappe/email/receive.py
  frappe/integrations/doctype/google_calendar/google_calendar.py
  frappe/integrations/doctype/token_cache/token_cache.py
  frappe/oauth.py
  frappe/utils/data.py
  frappe/utils/safe_exec.py
  frappe/website/utils.py
Labels: backport version-14-hotfix

#20255 refactor!: remove deprecated timezone utils
  frappe/utils/data.py
  frappe/utils/safe_exec.py
Labels: add-test-cases, do not backport

#20264 fix: Remove unnecessary code to avoid timestamp conflict
  frappe/core/doctype/communication/communication.py
Labels: add-test-cases

#20263 fix: type annotation for filters parameter of get_monthly_goal_graph_data
  frappe/utils/goal.py
Labels: add-test-cases

#20278 fix(UX): dont let users select child table in ref_doctype
  frappe/core/doctype/report/report.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#20291 chore: Add missing and fix french translation
  frappe/translations/fr.csv
Labels: squash

#20312 fix: Do not consider priority while clearing email queue
  frappe/email/queue.py
  frappe/patches.txt
  frappe/patches/v13_0/clear_large_email_queues.py
Labels: frappe-support

#20316 fix: proper errror translation for finding outgoing email account
  frappe/email/doctype/email_account/email_account.py
Labels: backport version-14-hotfix

#20324 chore: translate read only alert to german
  frappe/translations/de.csv
Labels: backport version-13-hotfix, backport version-14-hotfix

#20330 feat: configurable rounding methods (v14 port)
  cypress/integration/rounding.js
  frappe/core/doctype/system_settings/patches/__init__.py
  frappe/core/doctype/system_settings/patches/set_default_rounding_method.py
  frappe/core/doctype/system_settings/system_settings.js
  frappe/core/doctype/system_settings/system_settings.json
  frappe/exceptions.py
  frappe/patches.txt
  frappe/public/js/frappe/utils/number_format.js
  frappe/tests/test_utils.py
  frappe/utils/data.py
  pyproject.toml
Labels: squash

#20336 fix(print): Language set in document should have higher precedence
  frappe/printing/page/print/print.js
Labels: frappe-support

#20348 fix: Set link title in PDF
  frappe/www/printview.py
Labels: add-test-cases

#20346 fix: sidebar becomes unhidden while removing skeleton
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#20356 fix: email linking and message_id indexing
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/communication/communication.py
  frappe/email/doctype/email_queue/email_queue.json
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/receive.py
Labels: defer backport

#20355 fix: Remove language selector in email modal
  frappe/public/js/frappe/views/communication.js
Labels: frappe-support

#20358 fix: skip InReadOnlyMode in error snapshots
  frappe/utils/error.py
Labels: add-test-cases, Skip CI

#20361 fix(patch): move desk prop patch to post model sync
  frappe/core/doctype/role/patches/v13_set_default_desk_properties.py
  frappe/patches.txt
Labels: backport version-14-hotfix

#20369 fix: tolerant newsletter view logging
  frappe/email/doctype/newsletter/newsletter.py
Labels: add-test-cases

#20376 fix: Drop message_id index before migrating email queue
  frappe/email/doctype/email_queue/patches/__init__.py
  frappe/email/doctype/email_queue/patches/drop_search_index_on_message_id.py
  frappe/patches.txt
Labels: add-test-cases

#20168 fix!: create property setters for system generated custom fields
  frappe/custom/doctype/custom_field/custom_field.js
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form/test_customize_form.py
Labels: defer backport

#20393 chore: fix typo in error dump
  frappe/public/js/frappe/request.js
Labels: backport version-14-hotfix

#19793 fix!: refresh access token for dropbox
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.js
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.json
  frappe/integrations/doctype/dropbox_settings/dropbox_settings.py
Labels: add-test-cases

#20401 fix(meta): get_permitted_fields with no field-columns
  frappe/model/__init__.py
Labels: add-test-cases, backport version-13-hotfix, backport version-14-hotfix

#20326 feat: make workflow state translatable
  frappe/workflow/doctype/workflow_state/workflow_state.json
Labels: backport version-13-hotfix, backport version-14-hotfix

#20413 feat: Add campaign and medium to web page view
  frappe/email/doctype/newsletter/newsletter.json
  frappe/email/doctype/newsletter/newsletter.py
  frappe/email/doctype/newsletter/templates/newsletter.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/utils/utils.js
  frappe/utils/data.py
  frappe/website/doctype/marketing_campaign/__init__.py
  frappe/website/doctype/marketing_campaign/marketing_campaign.json
  frappe/website/doctype/marketing_campaign/marketing_campaign.py
  frappe/website/doctype/web_page_view/web_page_view.json
  frappe/website/doctype/web_page_view/web_page_view.py
  frappe/website/report/website_analytics/website_analytics.js
  frappe/www/website_script.js
Labels: add-test-cases

#20414 feat(minor): log datetime in worker log
  frappe/utils/background_jobs.py
Labels: add-test-cases

#20396 perf: Dont update list view data if list view not active
  frappe/public/js/frappe/list/list_view.js
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#20409 chore: translations of "Login" and "Signup" (german)
  frappe/translations/de.csv
Labels: backport version-14-hotfix

#20423 perf: unsubscribe from list_update events
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/socketio_client.js
  socketio.js
Labels: defer backport

#20434 feat: re-enable scheduler from desk
  frappe/core/doctype/rq_job/rq_job_list.js
  frappe/utils/scheduler.py
Labels: backport version-14-hotfix

#20437 fix: Get translated value for child tables in print format
  frappe/templates/print_formats/standard_macros.html
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#20432 fix: Avoid list update if user is doing some bulk operation
  cypress/integration/list_view.js
  frappe/public/js/frappe/list/list_view.js
Labels: frappe-support, backport version-13-hotfix, backport version-14-hotfix

#20442 perf: dont re-initate session in realtime.py
  frappe/core/doctype/doctype/doctype.json
  frappe/realtime.py
Labels: defer backport

#20467 fix: hard link environment variable
  frappe/commands/utils.py
Labels: add-test-cases

#20452 feat: redis cache decorator
  frappe/tests/test_caching.py
  frappe/utils/caching.py
  frappe/utils/redis_wrapper.py
Labels: squash, defer backport

#20475 fix: pin pymysql to avoid breaking behaviour
  pyproject.toml
Labels: critical, backport version-14-hotfix

#20478 build: bump pymysql
  frappe/database/mariadb/database.py
  pyproject.toml
Labels: defer backport

#20459 fix: install cypress plugins in frappe namespace
  frappe/commands/utils.py
Labels: add-test-cases, Run UI Tests

#20487 chore: add insights banner
  frappe/public/js/frappe/list/list_sidebar.js
Labels: backport version-14-hotfix

#20318 feat: Disable Sharing globally
  frappe/core/doctype/docshare/test_docshare.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/desk/form/assign_to.py
  frappe/permissions.py
  frappe/public/js/frappe/model/model.js
Labels: backport version-13-hotfix, backport version-14-hotfix, do not squash

#20494 test: switch tests to supported methods
  frappe/tests/test_rename_doc.py
Labels: squash

#20498 fix: nestedset rename
  frappe/model/rename_doc.py
  frappe/tests/test_nestedset.py
Labels: backport version-14-hotfix

#20412 feat: make workflow state translatable (backport #20326)
  frappe/workflow/doctype/workflow_state/workflow_state.json
Labels: backport version-13-hotfix

#20508 fix: escape HTML instead of sanitizing
  frappe/www/printview.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#20522 fix: bulk update
  frappe/desk/doctype/bulk_update/bulk_update.js
  frappe/desk/doctype/bulk_update/bulk_update.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#20115 fix(email): unintended emails sent as cc for todo allocated_to users
  frappe/core/doctype/communication/mixins.py
Labels: add-test-cases, backport version-14-hotfix

#20532 fix: handle JsBarcode exceptions (backport #20533)
  frappe/public/js/frappe/form/controls/barcode.js
Labels: backport develop

#20537 perf: Faster address query with explicit joins
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/address/test_address.py
Labels: backport version-13-hotfix, backport version-14-hotfix
