Repository frappe/frappe, pull requests merged in 2023-09, with the labels that each got.

#22235 fix: when tree doctype is created ignore_user_permissions is set to 1 by default
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/user_permission/test_user_permission.py
Labels: tests-failing, debug-gha

#22286 fix: attribute error on old custom reports
  frappe/desk/query_report.py
Labels: add-test-cases, backport version-14-hotfix

#22271 chore(rq): Pass `rq.Callback` objects to `enqueue_call`
  frappe/utils/background_jobs.py
Labels: add-test-cases

#22268 chore: Switch to `pydantic.ConfigDict` in `typing_validations.py`
  frappe/utils/typing_validations.py
Labels: add-test-cases

#22266 fix: add Email Validation in boilerplate creation
  frappe/tests/test_boilerplate.py
  frappe/utils/boilerplate.py
Labels: add-test-cases

#22290 build: bump gitpython
  pyproject.toml
Labels: Skip CI, Run Server Tests

#22185 feat: search frappecloud marketplace apps from awesomebar
  frappe/boot.py
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Labels: add-test-cases

#22267 feat: communication: override `on_update`
  frappe/core/doctype/communication/communication.py
Labels: add-test-cases

#22294 build(deps): update python dependencies
  frappe/core/doctype/rq_job/test_rq_job.py
  pyproject.toml
Labels: Skip CI, Run Server Tests

#22302 fix: Allow DB Callback Managers in Safe Exec
  frappe/utils/safe_exec.py
Labels: do not backport

#22299 feat: Dynamically generate license text
  frappe/tests/test_boilerplate.py
  frappe/utils/boilerplate.py
Labels: add-test-cases, Skip CI

#22321 fix: key error on link_field
  frappe/desk/query_report.py
Labels: add-test-cases

#22326 fix: convert value column to `longtext` for Singles
  frappe/database/mariadb/framework_mariadb.sql
  frappe/patches.txt
  frappe/patches/v14_0/modify_value_column_size_for_singles.py
Labels: backport version-14-hotfix

#22309 refactor!: monkey patching {imap,pop}lib is no more necessary since 4 years
  frappe/email/doctype/email_domain/email_domain.py
  frappe/email/receive.py
Labels: add-test-cases

#22083 fix: translate values of sidebar filters
  frappe/public/js/frappe/list/list_sidebar_group_by.js
Labels: squash

#22336 fix: Defer module deletion IO post DB commit
  frappe/core/doctype/module_def/module_def.py
Labels: add-test-cases

#22339 refactor: escape instead of sanitizing HTML
  frappe/app.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#22342 fix: send category tojson
  frappe/website/doctype/blog_post/templates/blog_post_list.html
Labels: backport version-13-hotfix, backport develop

#22347 build(deps): Bump frappe-datatable to 1.17.3
  yarn.lock
Labels: backport version-13-hotfix, backport version-14-hotfix

#22320 fix: + btn not appearing for connections with both internal and external links
  frappe/desk/notifications.py
  frappe/public/js/frappe/form/dashboard.js
  frappe/tests/test_dashboard_connections.py
Labels: backport version-14-hotfix

#22333 fix: Ensure Google Calendar `scopes` is a list
  frappe/integrations/doctype/google_calendar/google_calendar.py
Labels: add-test-cases

#22378 fix: getting workspace roles from doc instead from Has Role doctype
  frappe/desk/desktop.py
Labels: frappe-support, add-test-cases, backport version-14-hotfix

#22383 refactor: Correct Content-Disposition headers
  frappe/utils/response.py
Labels: add-test-cases, Run UI Tests

#22384 feat: max_file_size configurable from system settings
  frappe/core/api/file.py
  frappe/core/doctype/file/file.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
Labels: add-test-cases

#22385 fix: data_import.import_file() fails with "'ImportFile' object has no attribute 'console'" message
  frappe/core/doctype/data_import/importer.py
Labels: dont-merge, add-test-cases

#22389 revert: #22308
  frappe/__init__.py
  frappe/commands/site.py
  frappe/commands/utils.py
  frappe/core/doctype/access_log/test_access_log.py
  frappe/core/doctype/server_script/test_server_script.py
  frappe/patches/v13_0/set_unique_for_page_view.py
  frappe/tests/test_api.py
  frappe/tests/test_auth.py
  frappe/tests/test_client.py
  frappe/tests/test_perf.py
  frappe/utils/__init__.py
Labels: Run UI Tests, Run Server Tests

#22394 refactor: force ipv4 localhost
  frappe/app.py
  frappe/commands/site.py
  frappe/email/doctype/email_account/email_account.py
  frappe/email/test_smtp.py
  frappe/printing/doctype/network_printer_settings/network_printer_settings.py
  frappe/tests/test_db.py
  frappe/utils/backups.py
  frappe/utils/connections.py
  frappe/utils/data.py
Labels: backport version-14-hotfix

#22397 fix!: Bind development server only to localhost
  frappe/app.py
  frappe/commands/utils.py
Labels: add-test-cases

#22409 perf: Enqueue "removing of index" on web page save
  frappe/website/website_generator.py
Labels: add-test-cases

#22398 feat: `after_response` callback manager
  frappe/app.py
  frappe/core/doctype/communication/email.py
  frappe/hooks.py
  frappe/rate_limiter.py
Labels: squash

#22411 refactor: Ensure admin receives a valid backup encryption key
  frappe/utils/backups.py
Labels: add-test-cases

#22417 fix: remove items linked to non-existing doctypes from portal settings
  frappe/website/doctype/portal_settings/portal_settings.py
Labels: backport version-14-hotfix

#22399 fix!: Sync deleted doctypes on migration
  .github/workflows/patch-mariadb-tests.yml
  frappe/core/doctype/doctype/test_doctype.py
  frappe/core/doctype/report/report.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/migrate.py
  frappe/model/sync.py
  frappe/patches.txt
  frappe/tests/utils.py
Labels: do not backport, Skip CI, Run Server Tests

#22270 feat: improve responsiveness of address and contact list
  frappe/public/js/frappe/form/templates/address_list.html
  frappe/public/js/frappe/form/templates/contact_list.html
  frappe/public/scss/common/controls.scss
  frappe/translations/de.csv
Labels: backport version-14-hotfix

#22282 fix: missing keyboard shortcut on document - Duplicate
  frappe/public/js/frappe/form/toolbar.js
Labels: backport version-14-hotfix

#22379 fix: nested custom reports filter not rendering
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: frappe-support, backport version-14-hotfix

#22187 feat(list): Sort by column by clicking on col title
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/sort_selector.js
  frappe/public/scss/desk/list.scss
Labels: inactive

#22441 fix: `flt` with trailing zeros
  cypress/integration/control_currency.js
  cypress/integration/control_float.js
  cypress/integration/rounding.js
  frappe/public/js/frappe/utils/number_format.js
Labels: defer backport

#22466 feat: view committed queries in console log
  frappe/desk/doctype/console_log/console_log.json
  frappe/desk/doctype/console_log/console_log.py
  frappe/desk/doctype/system_console/system_console.py
Labels: add-test-cases

#22446 fix: Only allow user with role set in Dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Labels: add-test-cases

#22436 refactor: Improve list_apps function readability and maintainability.
  frappe/commands/site.py
Labels: add-test-cases

#22462 feat: add upstream json argument to integrations make_request
  frappe/integrations/utils.py
Labels: dont-merge, add-test-cases

#22474 fix: Fix typo in form_tour
  frappe/desk/doctype/form_tour/form_tour.js
Labels: Skip CI

#22440 fix: Set system timezone for Administrator and Guest users.
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/utils/data.py
Labels: add-test-cases

#22486 chore: handle invalid connections conf for internal links
  frappe/desk/notifications.py
Labels: add-test-cases, backport version-14-hotfix

#22357 chore(js): improved cryptic looking sanitise regex with info
  frappe/public/js/frappe/utils/common.js
Labels: squash

#22318 feat: bulk update fields select sorted by translated labels
  frappe/public/js/frappe/list/bulk_operations.js
Labels: Skip CI

#22254 feat: Add custom icons with the `app_include_icons` hook
  frappe/hooks.py
  frappe/public/icons/timeless/test.svg
  frappe/public/js/frappe/form/controls/icon.js
  frappe/tests/test_website.py
  frappe/utils/boilerplate.py
  frappe/www/app.html
  frappe/www/app.py
Labels: Run UI Tests

#22507 fix: link notification email queue with communication
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#22511 fix: rss rendering of blog entries
  frappe/www/rss.py
  frappe/www/rss.xml
Labels: add-test-cases

#22515 fix: handle poorly encoded from emails
  frappe/core/doctype/log_settings/log_settings.py
  frappe/email/doctype/unhandled_email/unhandled_email.py
  frappe/email/receive.py
  frappe/email/test_email_body.py
  frappe/hooks.py
Labels: frappe-support

#22516 fix: duplicate icons
  frappe/hooks.py
  frappe/www/app.html
Labels: add-test-cases

#22500 feat: check write perms on attached to doc(type)
  frappe/handler.py
Labels: add-test-cases, defer backport

#22509 fix: use relative path in file backup
  frappe/__init__.py
  frappe/tests/test_commands.py
Labels: add-test-cases

#22488 fix(run-ui-tests): Allow setting browser option
  frappe/commands/utils.py
Labels: Run UI Tests

#22513 feat: rename custom field's `fieldname`
  frappe/custom/doctype/custom_field/custom_field.js
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/custom_field/test_custom_field.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
Labels: frappe-support, backport version-14-hotfix

#22505 build: Update cypress
  cypress.config.js
  cypress/integration/control_phone.js
  cypress/integration/customize_form.js
  cypress/integration/form_builder.js
  cypress/integration/login.js
  cypress/integration/navigation.js
  cypress/integration/sidebar.js
  cypress/integration/socket_updates.js
  cypress/integration/web_form.js
  cypress/support/commands.js
  cypress/support/e2e.js
  frappe/commands/utils.py
Labels: add-test-cases

#22408 fix: clash in fieldnames in report when adding new column
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/tests/test_query_report.py
Labels: add-test-cases

#22539 fix: Correct exit code for failed compressed file backup
  frappe/utils/backups.py
Labels: add-test-cases

#22574 fix: improved validation for address and contact
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#22578 fix: avoid double translation
  frappe/permissions.py
Labels: add-test-cases, backport version-14-hotfix

#22583 fix: no perm if doc doesn't exist
  frappe/core/doctype/file/file.py
Labels: add-test-cases, backport version-14-hotfix
