Repository frappe/frappe, pull requests merged in 2023-06, with the labels that each got.

#21110 feat: added email template customization option for welcome and passw…
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/user/user.py
Labels: add-test-cases

#21064 feat: dynamic webhook URL
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: enhancement

#21209 fix: do not render custom cards if workspace does not contain content
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: Skip CI, backport version-14-hotfix

#21206 feat: formatter for `Attach` and `Attach Image` fields
  frappe/public/js/frappe/form/formatters.js
Labels: backport version-14-hotfix

#21220 fix: handle multiple webform for same doctype
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
Labels: add-test-cases, backport version-14-hotfix

#21224 fix(safe_eval): Normalize code passed before validating the code
  frappe/__init__.py
Labels: add-test-cases

#21239 fix: currency formatter got incorrect format when use precision 0
  frappe/public/js/frappe/form/formatters.js
Labels: squash

#16561 feat: read-only geolocation (GDE-86)
  frappe/public/js/frappe/form/controls/geolocation.js
  frappe/public/js/frappe/form/controls/signature.js
  frappe/public/js/frappe/form/section.js
Labels: backport version-14-hotfix

#21245 fix: changed section with card url field to small text
  frappe/website/web_template/section_with_cards/section_with_cards.json
  frappe/website/web_template/section_with_features/section_with_features.json
  frappe/website/web_template/section_with_testimonials/section_with_testimonials.json
Labels: frappe-support, backport version-14-hotfix

#21251 fix(UX): Notify if newly created user has no roles
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix

#21252 fix: avoid loading workspace content if already loaded
  frappe/core/doctype/doctype/doctype_list.js
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: backport version-14-hotfix

#21265 fix: added breadcrumbs on workflow builder page
  frappe/public/js/workflow_builder/store.js
Labels: Skip CI

#21279 refactor(DX)!: `frappe.cache()` -> `frappe.cache`
  frappe/__init__.py
  frappe/tests/test_caching.py
  frappe/utils/redis_wrapper.py
Labels: squash

#21258 fix: consider default value for content in update_workspace2 patch
  frappe/desk/doctype/workspace/workspace.json
  frappe/patches.txt
  frappe/patches/v14_0/update_workspace2.py
Labels: backport version-14-hotfix

#21288 chore: vendor cgitb
  frappe/utils/error.py
Labels: add-test-cases

#21290 fix(UX): let people reset layout back to original
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/custom/doctype/customize_form/customize_form.py
Labels: add-test-cases

#21293 fix: currency precision formatter
  cypress/integration/control_currency.js
  frappe/public/js/frappe/form/controls/currency.js
  frappe/public/js/frappe/form/formatters.js
Labels: backport version-13-hotfix, backport version-14-hotfix

#21275 fix: New Dashboard Chart throws TypeError: format requires a mapping
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/report_utils.js
Labels: squash, add-test-cases

#21297 feat: support reordering standard fields in Form Builder
  frappe/public/js/form_builder/FormBuilder.vue
  frappe/public/js/form_builder/components/Column.vue
  frappe/public/js/form_builder/components/Section.vue
  frappe/public/js/form_builder/components/Tabs.vue
  frappe/public/js/form_builder/store.js
Labels: squash

#21307 build(deps): bump cryptography and pyOpenSSL
  pyproject.toml
Labels: backport version-14-hotfix

#21331 fix(UX): show perm server messages on file uploader
  frappe/permissions.py
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Labels: Skip CI

#21335 fix: error in workspace patch
  frappe/patches/v14_0/update_workspace2.py
Labels: backport version-14-hotfix

#21341 fix: handle fixtures & custom script syncing for missing doctypes
  frappe/utils/fixtures.py
Labels: add-test-cases

#21306 fix: always get parsed date value from a user date formatted date value
  frappe/public/js/frappe/form/controls/base_control.js
Labels: frappe-support, defer backport

#21309 refactor: normalize redis invocation and unblock unix domain socket conn
  frappe/utils/redis_queue.py
Labels: add-test-cases

#21379 perf: index for_user in Notification log
  frappe/desk/doctype/notification_log/notification_log.json
Labels: backport version-14-hotfix

#21391 fix(meta): Revert to using conf over _dev_server for cache
  frappe/desk/form/meta.py
Labels: add-test-cases

#21392 perf: faster docshare queries
  frappe/core/doctype/docshare/docshare.json
  frappe/share.py
Labels: add-test-cases

#21410 feat: webhook timeout
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: add-test-cases

#21305 fix(Data Import): cast selected value to string
  frappe/core/doctype/data_import/importer.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#21372 fix: re-delete doc if dependent doc is deleted
  frappe/desk/reportview.py
  frappe/public/js/frappe/ui/messages.js
Labels: frappe-support, add-test-cases, defer backport

#21414 feat: configurable amended document naming
  frappe/core/doctype/amended_document_naming_settings/__init__.py
  frappe/core/doctype/amended_document_naming_settings/amended_document_naming_settings.json
  frappe/core/doctype/amended_document_naming_settings/amended_document_naming_settings.py
  frappe/core/doctype/document_naming_settings/document_naming_settings.js
  frappe/core/doctype/document_naming_settings/document_naming_settings.json
  frappe/core/doctype/document_naming_settings/document_naming_settings.py
  frappe/core/doctype/document_naming_settings/test_document_naming_settings.py
  frappe/model/naming.py
  frappe/patches.txt
Labels: dont-merge, squash

#21394 fix: sort options in group by field
  frappe/public/js/frappe/ui/group_by/group_by.js
  frappe/translations/de.csv
Labels: backport version-13-hotfix, backport version-14-hotfix

#21404 fix: Rename document/update title via toolbar (update_document_title API)
  frappe/model/rename_doc.py
  frappe/public/js/frappe/form/toolbar.js
Labels: add-test-cases

#21450 test: mock github API calls
  frappe/tests/test_utils.py
  frappe/tests/utils.py
Labels: Skip CI

#21443 ci: use multiple python version in patch test
  .github/workflows/patch-mariadb-tests.yml
Labels: squash

#21466 fix: hooks boilerplate
  frappe/utils/boilerplate.py
Labels: add-test-cases

#21465 fix (get_report_filters): wrong property name
  frappe/public/js/frappe/views/reports/report_utils.js
Labels: backport version-14-hotfix

#21467 perf: reduce memory usage of background processes
  frappe/__init__.py
  frappe/boot.py
  frappe/build.py
  frappe/cache_manager.py
  frappe/commands/redis_utils.py
  frappe/commands/site.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/core/doctype/system_settings/system_settings.py
  frappe/database/database.py
  frappe/defaults.py
  frappe/desk/form/meta.py
  frappe/desk/search.py
  frappe/query_builder/utils.py
  frappe/utils/__init__.py
  frappe/utils/change_log.py
  frappe/utils/data.py
  frappe/utils/scheduler.py
Labels: squash, defer backport

#21461 feat: before/after hooks for any app install/uninstall
  frappe/installer.py
  frappe/utils/boilerplate.py
Labels: add-test-cases

#21485 fix: set prepared report in background
  frappe/core/doctype/report/report.py
Labels: backport version-13-hotfix, backport version-14-hotfix

#21504 fix(WebForm): auto-increment link field
  frappe/public/js/frappe/form/controls/autocomplete.js
  frappe/website/doctype/web_form/web_form.py
Labels: add-test-cases

#21508 fix(minor): workflow state indicator in list view
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix

#21513 fix: session expiry logic
  frappe/sessions.py
  frappe/tests/test_auth.py
Labels: Run UI Tests, defer backport

#21519 perf: Faster docshare permission checks
  frappe/core/doctype/docshare/test_docshare.py
  frappe/permissions.py
  frappe/share.py
  frappe/tests/test_db.py
  frappe/tests/test_perf.py
  frappe/tests/utils.py
Labels: backport version-14-hotfix

#21425 fix: log errors while getting headers and data
  frappe/integrations/doctype/webhook/webhook.py
Labels: add-test-cases

#21526 refactor: Namespace all RQ jobs
  frappe/commands/scheduler.py
  frappe/core/doctype/rq_job/rq_job.py
  frappe/core/doctype/rq_job/rq_job_list.js
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/email/queue.py
  frappe/tests/test_background_jobs.py
  frappe/tests/test_commands.py
  frappe/utils/background_jobs.py
  frappe/utils/doctor.py
Labels: do not backport

#21520 fix: styling of group by button
  frappe/public/scss/desk/report.scss
Labels: backport version-13-hotfix, backport version-14-hotfix
