Repository frappe/frappe, pull requests merged in 2024-08, with the labels that each got.

#27269 fix: fetch from is not working in quick entry form
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-15-hotfix

#27283 fix: child table filter
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27278 fix: header block is not translatable
  frappe/public/js/frappe/views/workspace/blocks/header.js
Labels: backport version-15-hotfix

#27294 fix: default notification
  frappe/desk/doctype/notification_log/notification_log.json
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/doctype/notification_settings/notification_settings.py
Labels: add-test-cases

#27175 fix: add translation function to route label text
  frappe/public/js/frappe/utils/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27187 fix: field sorting in listview
  frappe/public/js/frappe/ui/sort_selector.js
Labels: backport version-15-hotfix

#27311 chore(deleted_document): don't create feed entry on deletion
  frappe/core/doctype/deleted_document/deleted_document.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27322 fix(auto_email_report): ensure that a report is selected before we try to apply filters
  frappe/email/doctype/auto_email_report/auto_email_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27332 refactor(Frappe Mail): pass `last_synced_at` in system timezone
  frappe/email/frappemail.py
Labels: add-test-cases

#27341 fix: preserve exif data in optimized image
  frappe/utils/image.py
Labels: defer backport

#27347 fix: check to ensure field is defined
  frappe/public/js/frappe/model/model.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27345 fix(minor): Quick Entry now subclasses from Dialog
  frappe/public/js/frappe/form/quick_entry.js
  frappe/public/js/frappe/form/script_manager.js
  frappe/public/js/frappe/ui/dialog.js
  frappe/public/js/frappe/ui/field_group.js
Labels: backport version-15-hotfix

#27188 chore: adapt webhook preview
  frappe/email/doctype/notification/notification.js
  frappe/email/doctype/notification/notification.py
  frappe/integrations/doctype/webhook/webhook.js
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: add-test-cases

#27064 feat(Email): manually pull email from given email account
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.py
Labels: add-test-cases

#27359 chore(scheduler): never mark sites as dormant if running in developer mode
  frappe/utils/scheduler.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27369 fix: undue error printing (backport: #24329)
  frappe/commands/site.py
Labels: add-test-cases

#27292 feat: Apps page
  frappe/apps.py
  frappe/auth.py
  frappe/core/doctype/system_settings/system_settings.js
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/hooks.py
  frappe/patches.txt
  frappe/patches/v16_0/add_app_launcher_in_navbar_settings.py
  frappe/sessions.py
  frappe/templates/includes/navbar/navbar_login.html
  frappe/utils/boilerplate.py
  frappe/website/js/website.js
  frappe/www/apps.css
  frappe/www/apps.html
  frappe/www/apps.py
  frappe/www/login.py
Labels: add-test-cases

#27378 fix: set `no_feed_on_delete` for Comment and Data Import Log
  frappe/core/doctype/comment/comment.py
  frappe/core/doctype/data_import_log/data_import_log.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27339 fix: form breadcrumbs
  frappe/public/js/frappe/views/breadcrumbs.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27376 fix: redirect to default path via social login
  frappe/templates/includes/login/login.js
  frappe/utils/oauth.py
  frappe/www/login.html
Labels: add-test-cases

#27383 fix(UserSignature): changed field type to TextEditor
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27401 fix(translate): Fix extraction in JS files
  babel_extractors.csv
  frappe/gettext/extractors/javascript.py
  frappe/translate.py
Labels: backport version-15-hotfix

#27377 fix(styles): cleaner sidebars for list and form
  cypress/integration/form.js
  cypress/integration/grid_configuration.js
  frappe/__init__.py
  frappe/automation/workspace/tools/tools.json
  frappe/core/doctype/comment/comment.json
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/core/workspace/users/users.json
  frappe/desk/form/document_follow.py
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/controls/check.js
  frappe/public/js/frappe/form/controls/comment.js
  frappe/public/js/frappe/form/footer/footer.js
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/sidebar/document_follow.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_factory.js
  frappe/public/js/frappe/list/list_filter.js
  frappe/public/js/frappe/list/list_settings.js
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/list/list_sidebar.js
  frappe/public/js/frappe/model/meta.js
  frappe/public/js/frappe/model/model.js
  frappe/public/js/frappe/model/perm.js
  frappe/public/js/frappe/ui/filters/field_select.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/public/js/frappe/views/factory.js
  frappe/public/js/frappe/views/workspace/blocks/onboarding.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/chart_widget.js
  frappe/public/js/lib/fingerprintjs.js
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/common/grid.scss
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/espresso/_typography.scss
  frappe/tests/ui_test_helpers.py
  frappe/website/workspace/website/website.json
  frappe/www/website_script.js
  pyproject.toml
Labels: add-test-cases

#27426 chore: minor style fixes (backport #27372)
  frappe/public/images/framework.png
  frappe/utils/boilerplate.py
  frappe/www/apps.css
Labels: add-test-cases

#27421 chore: Remove unreachable branch
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases

#27413 fix(style): Cleaner Workspace
  cypress/integration/awesome_bar.js
  cypress/integration/form_tab_break.js
  frappe/automation/workspace/tools/tools.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/module_def/module_def.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/users/users.json
  frappe/custom/module_onboarding/customization/customization.json
  frappe/custom/onboarding_step/custom_doctype/custom_doctype.json
  frappe/custom/onboarding_step/custom_field/custom_field.json
  frappe/custom/onboarding_step/naming_series/naming_series.json
  frappe/custom/onboarding_step/print_format/print_format.json
  frappe/custom/onboarding_step/report_builder/report_builder.json
  frappe/custom/onboarding_step/role_permissions/role_permissions.json
  frappe/custom/onboarding_step/workflows/workflows.json
  frappe/public/js/frappe/form/controls/code.js
  frappe/public/js/frappe/form/dashboard.js
  frappe/public/js/frappe/form/section.js
  frappe/public/js/frappe/form/templates/form_links.html
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/workspace_loading_skeleton.html
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/common/grid.scss
  frappe/public/scss/common/modal.scss
  frappe/public/scss/desk/dark.scss
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/frappe_datatable.scss
  frappe/public/scss/desk/list.scss
  frappe/public/scss/desk/mobile.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/desk/theme_switcher.scss
  frappe/website/doctype/blog_category/blog_category.json
  frappe/website/module_onboarding/website/website.json
  frappe/website/onboarding_step/add_blog_category/add_blog_category.json
  frappe/website/onboarding_step/create_blogger/create_blogger.json
  frappe/website/onboarding_step/enable_website_tracking/enable_website_tracking.json
  frappe/website/onboarding_step/introduction_to_website/introduction_to_website.json
  frappe/website/onboarding_step/web_page_tour/web_page_tour.json
  frappe/website/workspace/website/website.json
Labels: user-interface, add-test-cases

#27437 fix(exporter): don't crash when a `Text Editor` field doesn't have a value
  frappe/core/doctype/data_import/exporter.py
Labels: add-test-cases

#27431 fix: allow `rediss` connection scheme
  frappe/utils/connections.py
Labels: add-test-cases

#27443 fix: translatable strings
  frappe/desk/form/document_follow.py
  frappe/public/js/frappe/views/render_preview.js
Labels: backport version-15-hotfix

#27445 fix: don't auto-enable prepared report in developer mode
  frappe/core/doctype/report/report.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27434 fix(sanitize_html): sanitize all string inputs if specified
  frappe/core/doctype/comment/comment.py
  frappe/utils/html_utils.py
Labels: add-test-cases, defer backport

#27456 fix(system_settings): add back `rate_limit_email_link_login`, drop `sidebar_position`
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
Labels: add-test-cases

#27451 fix(Google Contacts): use authentication url in absence of authorization code
  frappe/integrations/doctype/google_contacts/google_contacts.py
Labels: add-test-cases

#27205 fix: translatable strings in doc.validate_value
  frappe/model/document.py
Labels: backport version-15-hotfix

#27201 refactor: address query
  frappe/contacts/doctype/address/address.py
Labels: defer backport

#27462 fix: mark genders and salutations as translatable
  frappe/desk/page/setup_wizard/install_fixtures.py
Labels: backport version-15-hotfix

#27464 fix: extract translatable headings and paragraphs from workspaces
  frappe/gettext/extractors/workspace.py
Labels: backport version-15-hotfix

#27352 refactor(File): Move validations to before_insert
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/test_file.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27429 feat: add get_month function to return current or specific month as a…
  frappe/utils/data.py
  frappe/utils/safe_exec.py
Labels: add-test-cases

#27481 fix(rate_limiter): prevent KeyError if the key isn't defined in form_dict
  frappe/rate_limiter.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27480 fix(notification): can't use `message` where it isn't defined
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases, backport version-15-hotfix

#27477 fix: correct permissions for user cannot create doctypes
  frappe/core/page/permission_manager/permission_manager.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27474 chore(email_queue): nudge user to resume email queue if suspended and they are manually sending
  frappe/email/doctype/email_queue/email_queue.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27092 refactor(Client Rewrite): add typescript to list
  desk/package.json
  desk/src/components/FormControls/Link.vue
  desk/src/components/FormControls/MultiSelectLink.vue
  desk/src/components/List/ListColumnSettings.vue
  desk/src/components/List/ListControls.vue
  desk/src/components/List/ListFilterValue.vue
  desk/src/components/List/ListFilters.vue
  desk/src/components/List/ListFormatter.vue
  desk/src/components/List/ListSortSelector.vue
  desk/src/components/ViewSwitcher.vue
  desk/src/data/constants/filters.ts
  desk/src/lib.d.ts
  desk/src/pages/doctype_views/ListView.vue
  desk/src/stores/view.ts
  desk/src/types/controls.ts
  desk/src/types/injectionKeys.ts
  desk/src/types/list.ts
  desk/src/utils/dayjs.ts
  desk/src/utils/index.ts
  desk/src/utils/list.js
  desk/src/utils/list.ts
  desk/yarn.lock
  frappe/desk/doctype/view_config/view_config.py
Labels: add-test-cases

#27472 fix: Unable to save JSON field type in the customize form.
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
Labels: add-test-cases

#27491 revert: Merge pull request #27386 from GursheenK/grid-dependent-fields
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27346 fix: Before Mapping the Doc run `before_mapping` hook
  frappe/model/mapper.py
Labels: backport version-15-hotfix

#27501 fix: before mapping the doc run before_mapping hook
  frappe/model/mapper.py
Labels: add-test-cases

#27494 fix(rate_limiter): we can't call str.join([]) with NoneTypes in the list
  frappe/rate_limiter.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27514 fix: remove workspace setting from navbar --patch
  frappe/patches.txt
  frappe/patches/v15_0/remove_workspace_settings_navbar_items.py
Labels: add-test-cases

#27495 fix(grid): some JS crashes from sentry
  frappe/public/js/frappe/form/controls/table_multiselect.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/print_utils.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27499 feat(design): espresso style sidebar
  cypress/integration/awesome_bar.js
  cypress/integration/form.js
  cypress/integration/workspace.js
  cypress/integration/workspace_blocks.js
  frappe/boot.py
  frappe/core/doctype/doctype/doctype.js
  frappe/core/workspace/build/build.json
  frappe/desk/doctype/workspace/workspace.js
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_settings/workspace_settings.js
  frappe/desk/doctype/workspace_settings/workspace_settings.py
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/form/controls/table_multiselect.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/section.js
  frappe/public/js/frappe/form/sidebar/attachments.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/templates/form_footer.html
  frappe/public/js/frappe/form/templates/form_sidebar.html
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_filter.js
  frappe/public/js/frappe/list/list_sidebar.html
  frappe/public/js/frappe/list/list_sidebar.js
  frappe/public/js/frappe/list/list_sidebar_group_by.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/logtypes.js
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/ui/page.js
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/ui/tags.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/kanban/kanban_view.js
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/views/reports/report_view.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/scss/common/awesomeplete.scss
  frappe/public/scss/common/css_variables.scss
  frappe/public/scss/common/form.scss
  frappe/public/scss/common/global.scss
  frappe/public/scss/common/grid.scss
  frappe/public/scss/common/icon_picker.scss
  frappe/public/scss/common/icons.scss
  frappe/public/scss/common/modal.scss
  frappe/public/scss/desk/breadcrumb.scss
  frappe/public/scss/desk/css_variables.scss
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/list.scss
  frappe/public/scss/desk/mobile.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/report.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/espresso/_spacing.scss
  frappe/public/scss/espresso/_typography.scss
Labels: add-test-cases

#27528 fix(search_utils): escape HTML before displaying in awesomebar
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27519 fix: allow rediss connection scheme (backport #27431)
  frappe/utils/connections.py
Labels: add-test-cases

#27515 fix: Update Child table from the Last Source Doc
  frappe/model/mapper.py
Labels: add-test-cases

#27541 fix: Set undefined values to zero in round_floats_in
  frappe/public/js/frappe/model/model.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27539 fix(website_search): Avoid recursive loop if _items_to_index is falsy
  frappe/search/website_search.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#23691 refactor(minor): email retry
  frappe/email/doctype/email_queue/email_queue.js
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/doctype/email_queue/email_queue_list.js
Labels: add-test-cases

#27542 fix(sessions): logout properly when user requests logout on password change
  frappe/sessions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27016 fix(query report)!: skip empty filters in print
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: defer backport

#27571 fix: Consider default app path for Website User if applicable
  frappe/apps.py
  frappe/auth.py
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.py
  frappe/sessions.py
  frappe/website/js/website.js
  frappe/website/utils.py
  frappe/www/apps.html
  frappe/www/apps.py
  frappe/www/login.py
Labels: add-test-cases, backport version-15-hotfix

#27580 fix: don't allow uninstalling frappe...
  frappe/commands/site.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27572 chore: cleanup low level db interface (backport: #24332)
  frappe/__init__.py
  frappe/database/__init__.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
Labels: add-test-cases
