Repository frappe/frappe, pull requests merged in 2024-04, with the labels that each got.

#25755 feat: allow skipping msgprint
  frappe/__init__.py
  frappe/desk/doctype/event/event.py
  frappe/utils/data.py
Labels: backport version-15-hotfix

#25763 fix: clear last message log when exception has been handled
  frappe/__init__.py
  frappe/desk/doctype/event/event.py
  frappe/utils/data.py
Labels: add-test-cases, backport version-15-hotfix

#25767 fix: Revert "fix: message update in custom app if is_standard"
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#25769 fix: non-html notifications from files
  frappe/email/doctype/notification/notification.json
  frappe/email/doctype/notification/notification.py
  frappe/utils/jinja.py
Labels: add-test-cases

#25752 fix: add in_install flag to print_format validate
  frappe/printing/doctype/print_format/print_format.py
Labels: backport version-15-hotfix

#25759 feat(db-requirements): Update setup_db.py
  frappe/database/mariadb/setup_db.py
Labels: add-test-cases

#25778 fix(grid): don't crash if row doesn't exist
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25787 fix: errors with dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Labels: backport version-15-hotfix

#25794 fix: Column 'creation' in order clause was ambiguous
  frappe/contacts/doctype/address/address.py
  frappe/contacts/doctype/contact/contact.py
Labels: add-test-cases

#25799 fix: exclude some untranslatable select options
  frappe/gettext/extractors/doctype.py
Labels: add-test-cases

#25812 fix!: Don't let users with write access to UP bypass UP
  frappe/permissions.py
  frappe/tests/test_permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25733 fix: bigint validation
  frappe/core/doctype/doctype/test_doctype.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/framework_mariadb.sql
  frappe/database/mariadb/schema.py
  frappe/database/postgres/database.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_db_update.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25806 fix: Don't assign returned values if row is deleted
  frappe/public/js/frappe/form/form.js
Labels: backport version-15-hotfix

#25800 fix(grid): ensure that `doc.name` is truthy before proceeding
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25592 feat: Extensible SocketIO
  frappe/realtime.py
  package.json
  realtime/handlers.js
  realtime/index.js
  realtime/middlewares/authenticate.js
  realtime/utils.js
  yarn.lock
Labels: defer backport

#25833 chore: Drop API tests
  cypress/integration/api.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25738 fix: log report errors to aid debugging
  frappe/desk/query_report.py
Labels: add-test-cases

#25847 fix: type error in workflow
  frappe/public/js/frappe/model/workflow.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25854 fix(sentry): correctly skip `frappe.ValidationError` and its children
  frappe/utils/sentry.py
Labels: add-test-cases, backport version-15-hotfix

#25858 feat: Include `before_print` in doctype event of Server Script
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#25861 fix: Get filter value based on depends_on field
  frappe/public/js/frappe/ui/filters/filter.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25867 fix(layout): handle `fieldobj` being null
  frappe/public/js/frappe/form/layout.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24373 fix: error in copy paste from Excel into grid (closes #24371)
  frappe/public/js/frappe/form/controls/table.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25802 fix: don't show bulk actions for doctype with workflow
  cypress/integration/list_view.js
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25878 fix(link): list view filter with "show title in link field"
  frappe/public/js/frappe/ui/filters/filter.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25729 feat: allow wildcard for doctype in permission hooks
  frappe/model/db_query.py
  frappe/permissions.py
  frappe/tests/test_hooks.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25893 fix: handle interface error during report timeout
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/database/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25873 feat: delete failed backups
  frappe/commands/site.py
  frappe/utils/backups.py
Labels: backport version-15-hotfix

#25897 fix: log unhandled exceptions in monitor log
  frappe/utils/background_jobs.py
  frappe/utils/error.py
Labels: add-test-cases

#25889 feat(APIv2): Add comment via REST API
  frappe/core/doctype/user/test_user.py
  frappe/model/document.py
  frappe/tests/test_api.py
  frappe/tests/test_api_v2.py
Labels: backport version-15-hotfix

#25908 fix: show warning for pending migrations
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.py
  frappe/public/js/frappe/ui/page.html
Labels: backport version-15-hotfix

#25910 fix: handle empty style tag
  frappe/tests/test_pdf.py
  frappe/utils/pdf.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25918 fix!: better "Export customizations"
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/modules/utils.py
  frappe/tests/test_modules.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25904 fix: private workspace routing
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/utils/user.py
Labels: add-test-cases, backport version-15-hotfix

#25925 fix: make letterhead attachments public by default
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/website/doctype/web_page/web_page.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#25917 feat: add option to filter email recipients (backport #25554)
  frappe/email/__init__.py
  frappe/public/js/frappe/views/communication.js
Labels: backport version-14-hotfix

#25902 chore: minor code cleanup
  frappe/model/db_query.py
  frappe/permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25816 refactor: receive email
  frappe/email/receive.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25951 refactor: web form link logic
  frappe/website/doctype/web_form/web_form.py
  frappe/website/doctype/web_form_field/web_form_field.json
Labels: defer backport

#25949 fix: let's color tag in form view
  frappe/public/js/frappe/dom.js
  frappe/public/js/frappe/ui/tags.js
Labels: backport version-15-hotfix

#25936 feat: add vim and emacs mode for ace-editor
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/public/js/frappe/form/controls/code.js
  frappe/utils/user.py
Labels: add-test-cases

#25472 fix(ControlLink)!: Fix link selection in tables on iOS
  cypress/integration/control_dynamic_link.js
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/scss/common/awesomeplete.scss
  frappe/public/scss/common/modal.scss
  frappe/public/scss/desk/filters.scss
Labels: defer backport, ios safari 💩

#25980 build: bump gunicorn
  pyproject.toml
Labels: defer backport

#25983 chore: add v15 to POT file mix
  .github/workflows/generate-pot-file.yml
Labels: Skip CI

#25985 ci: dont auto apply fixes
  .pre-commit-config.yaml
Labels: Skip CI

#25990 Revert "chore: add v15 to POT file mix"
  .github/workflows/generate-pot-file.yml
Labels: Skip CI

#25991 fix: runtime error during pot build
  frappe/gettext/extractors/utils.py
Labels: add-test-cases, Skip CI

#25997 chore: init potfile
  .gitignore
  frappe/locale/main.pot
Labels: Skip CI

#26006 fix: strip redirect URIs for trailing whitespaces
  frappe/oauth.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26011 build: bump datatable
  package.json
  yarn.lock
Labels: backport version-15-hotfix

#26012 test: fix cypress tests
  cypress.config.js
  cypress/integration/folder_navigation.js
  cypress/integration/workspace_blocks.js
  realtime/handlers.js
Labels: backport version-15-hotfix

#26027 fix: Avoid permission check on unsaved doc
  frappe/core/doctype/file/utils.py
  frappe/handler.py
Labels: security, backport version-15-hotfix

#26028 fix: register faulthandler on true stderr only
  frappe/__init__.py
  frappe/integrations/doctype/webhook/test_webhook.py
  frappe/integrations/doctype/webhook/webhook.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26005 fix(notification): html template example in notification.js
  frappe/email/doctype/notification/notification.js
Labels: Skip CI

#26037 fix: filter select perm in get_doctypes_with_read
  .pre-commit-config.yaml
  frappe/permissions.py
  frappe/tests/test_permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26038 fix(report_view): allow exporting all rows even if count is disabled
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26049 feat: add copy to clipboard on read only code fields
  frappe/public/js/frappe/form/controls/base_input.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26052 chore: add light version for line-copy icon
  frappe/public/icons/espresso/icons.svg
  frappe/public/js/frappe/form/controls/base_input.js
Labels: backport version-15-hotfix

#26061 refactor: move copy to clipboard btn to code.js
  frappe/public/js/frappe/form/controls/base_input.js
  frappe/public/js/frappe/form/controls/code.js
Labels: backport version-15-hotfix

#26054 fix(grid_row): check child table dependent properties whenever a row is selected
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26070 fix: only notify for modified greater than DB
  frappe/core/doctype/doctype/doctype.py
Labels: backport version-15-hotfix

#26078 feat: enable dynamic filters for standard number cards
  frappe/desk/doctype/number_card/number_card.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26081 fix: allow setting dynamic filters for number cards even without developer mode
  frappe/desk/doctype/number_card/number_card.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26077 fix: datepicker time row color for timeless night
  frappe/public/scss/common/datepicker.scss
Labels: backport version-15-hotfix

#26001 fix: unknown charset windows-874 problem on incoming mail
  frappe/__init__.py
  frappe/email/receive.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26086 fix(UX): Add health check in navbar
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/hooks.py
Labels: add-test-cases

#26045 fix: 🐛 don't create __init__.py files when gathering pages
  frappe/website/router.py
Labels: add-test-cases

#26089 fix(resolver): handle werkzeug redirect exception
  frappe/website/path_resolver.py
  frappe/website/router.py
Labels: backport version-15-hotfix

#26095 fix(grid): ensure that `doc` itself is not null
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26100 chore(sentry): exclude `PermissionError` as well
  frappe/utils/sentry.py
Labels: add-test-cases, backport version-15-hotfix

#26110 revert: "fix(grid_row): check child table dependent properties whenever a row is selected"
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26106 refactor: filters for export on prepared report
  frappe/core/doctype/prepared_report/prepared_report.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26025 fix: Renaming when doctype is used as a virtual link docfield fails
  frappe/model/rename_doc.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26109 feat: Allow user to optimize tables
  frappe/core/report/database_storage_usage_by_tables/database_storage_usage_by_tables.js
  frappe/core/report/database_storage_usage_by_tables/database_storage_usage_by_tables.py
Labels: backport version-15-hotfix

#26122 fix: web form filtering
  frappe/website/doctype/web_form/web_form.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#26125 fix: PhotoSwipe template
  frappe/public/js/frappe/views/image/photoswipe_dom.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#26128 fix: print debug log to stderr
  frappe/__init__.py
Labels: add-test-cases

#26131 fix: handle case where mimetype is None
  frappe/utils/pdf.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26138 fix: use document language for workflow action
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: add-test-cases

#26134 fix: disabled user login from login via link feature
  frappe/sessions.py
  frappe/templates/emails/login_with_email_link.html
  frappe/www/login.py
Labels: add-test-cases

#26148 fix: hide tab button on child table
  frappe/public/js/form_builder/components/Sidebar.vue
Labels: backport version-15-hotfix

#26150 fix: avoid perm error on dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.js
Labels: backport version-15-hotfix

#26151 fix: auto filter publish field
  frappe/www/list.py
Labels: add-test-cases

#26142 fix: handle null in CSV preview
  frappe/public/js/frappe/views/reports/report_utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25970 fix(Email Account): form layout, OAuth button
  frappe/email/doctype/email_account/email_account.js
  frappe/email/doctype/email_account/email_account.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#26159 fix: hash collision retry logic
  frappe/model/base_document.py
  frappe/tests/test_naming.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26145 fix(backup): delete failed backup even if something fails during the backup process
  frappe/utils/backups.py
Labels: add-test-cases, backport version-15-hotfix

#26170 fix: clean up print
  frappe/gettext/extractors/html_template.py
Labels: add-test-cases

#26177 fix: Don't optimize images implicitly
  frappe/core/doctype/file/utils.py
Labels: add-test-cases

#26179 fix: compute modal title server side
  frappe/templates/includes/contact.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26193 feat: limit oauth client to roles
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.py
  frappe/desk/reportview.py
  frappe/integrations/doctype/oauth_client/oauth_client.json
  frappe/integrations/doctype/oauth_client/oauth_client.py
  frappe/integrations/doctype/oauth_client/patches/__init__.py
  frappe/integrations/doctype/oauth_client/patches/set_default_allowed_role_in_oauth_client.py
  frappe/integrations/doctype/oauth_client_role/__init__.py
  frappe/integrations/doctype/oauth_client_role/oauth_client_role.json
  frappe/integrations/doctype/oauth_client_role/oauth_client_role.py
  frappe/oauth.py
  frappe/patches.txt
Labels: backport version-14-hotfix, backport version-15-hotfix

#26165 fix(report_utils): ensure that delimiter and separator can't be empty
  frappe/public/js/frappe/views/reports/report_utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26152 refactor!: override_doctype -> Must extend base class
  frappe/model/base_document.py
  frappe/utils/data.py
Labels: do not backport

#25971 feat: Discard transactions
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
  frappe/desk/form/save.py
  frappe/model/document.py
  frappe/public/js/frappe/form/form.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/tests/test_document.py
Labels: do not backport

#26186 fix: restoring site breaks when checking backup version
  frappe/installer.py
Labels: add-test-cases

#26204 chore(new_site): Avoid iterating None
  frappe/installer.py
Labels: add-test-cases

#26208 fix: Evaluate assets in sequence
  frappe/public/js/frappe/assets.js
Labels: backport version-15-hotfix

#26213 fix: calendar in Arabic
  frappe/public/js/frappe/views/calendar/calendar.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26172 fix: multistep webform page navigation
  frappe/public/js/frappe/web_form/web_form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26222 fix(report builder): responsive footer
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26225 fix: add missing impl for is_column_missing
  frappe/database/database.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26229 fix(UX): warning when printing unsaved documents
  frappe/public/js/frappe/form/form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26230 fix: Dirty form when grid rows are moved
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26235 test: wait for duration control
  cypress/integration/control_duration.js
Labels: backport version-15-hotfix

#26239 fix: perm query for dashboard
  frappe/core/doctype/user/test_user.py
  frappe/desk/doctype/dashboard/dashboard.py
  frappe/desk/doctype/dashboard/test_dashboard.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#26169 feat: workspace extraction improvements
  frappe/gettext/extractors/workspace.py
Labels: add-test-cases

#26246 test: flaky link field test
  cypress/integration/control_link.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26228 fix(Data Import): don't rely on permission for Data Import Log
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import_log/data_import_log.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#26180 fix: lstrip for query writes detection
  frappe/database/database.py
Labels: add-test-cases

#26220 fix: init db conn for unbuffered cursor if not set
  frappe/database/mariadb/database.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26199 fix: Treeview DB lookup should perform the same preperation operation…
  frappe/desk/treeview.py
  frappe/public/js/frappe/views/treeview.js
Labels: add-test-cases, backport develop, backport version-14-hotfix

#26254 test: file uploader flaky test
  cypress/integration/file_uploader.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26262 fix: misc sys health report fixes
  frappe/core/doctype/comment/comment.py
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/doctype/tag/tag.py
  frappe/desk/doctype/todo/todo.py
  frappe/desk/like.py
Labels: add-test-cases

#26267 revert: fix: pointless conditions about systemd/supervisor
  frappe/utils/data.py
Labels: add-test-cases
