Repository frappe/frappe, pull requests merged in 2024-06, with the labels that each got.

#26642 fix: contact link with autoincr
  frappe/contacts/doctype/contact/contact.py
Labels: add-test-cases

#26344 Resolves front-end bug in 'customize_form.js', triggered by delete actions on child-tables
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/public/js/frappe/form/grid_row.js
Labels: backport develop, backport version-14-hotfix

#26633 feat(commands): Add bypass-patch command
  frappe/commands/site.py
Labels: add-test-cases

#26649 fix: don't copy "Standard" on dashboard chart
  frappe/desk/doctype/dashboard_chart/dashboard_chart.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#26641 fix(link-preview): Correct synchronization of preview data on change.
  frappe/public/js/frappe/ui/link_preview.js
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#26617 fix: allow creation of workspace based on desk user role perms
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: add-test-cases

#26657 perf: Slightly efficient scheduling
  frappe/tests/test_scheduler.py
  frappe/tests/utils.py
  frappe/utils/scheduler.py
Labels: do not backport

#26656 fix(make_request): don't blindly try to check the content-type
  frappe/integrations/utils.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26658 fix: kanban column indicator duplicate select option
  frappe/desk/doctype/kanban_board_column/kanban_board_column.json
  frappe/desk/doctype/kanban_board_column/kanban_board_column.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26665 fix(DX): duplicate doctype
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases

#26664 fix: Auto Email Report not working when Add Total Row is enabled
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26674 test: cypress not running on node14
  frappe/commands/utils.py
Labels: Run UI Tests

#26675 fix(Error Log): Truncate title and convert text to string
  frappe/core/doctype/error_log/error_log.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26676 fix(UX): Disable number card filters on standard
  frappe/desk/doctype/number_card/number_card.js
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#26685 fix: signup routing
  frappe/templates/includes/login/login.js
Labels: Skip CI

#26689 fix: Skip letter heads if no permission
  frappe/boot.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26695 fix: recursive fetch from causes infinite loop
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26700 fix: Skip virtual fields in all select queries
  frappe/desk/reportview.py
  frappe/model/db_query.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26706 chore: Reword "Recursive Fetch From" message
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26703 fix: Move Monitor dump to after_response
  frappe/app.py
  frappe/hooks.py
  frappe/tests/test_perf.py
Labels: add-test-cases, backport version-15-hotfix

#26688 fix(package_release): set path to tarball
  frappe/core/doctype/package_release/package_release.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26718 fix: Email tracking without "use_ssl"
  frappe/email/doctype/email_queue/email_queue.py
  frappe/tests/test_email.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26760 fix: don't excessively shorten_number
  frappe/public/js/frappe/utils/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26758 feat: set the only email address as primary
  frappe/contacts/doctype/contact/contact.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26783 fix: avoid popping from empty list
  frappe/desk/doctype/kanban_board/kanban_board.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26786 fix(query_report): don't follow reference report for `prepared_report` field
  frappe/desk/query_report.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26777 fix(desk): Don't trigger minimized dialog action on Ctrl-S
  frappe/public/js/frappe/desk.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26793 refactor(web list): use CSS class `d-none` instead of `hidden`
  frappe/templates/includes/list/list.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#26804 fix: allow guest to check geolocation IP
  frappe/desk/page/setup_wizard/setup_wizard.py
Labels: add-test-cases

#26757 fix: meta tag in web form (Open Graph spec compliance)
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/web_form/web_form.py
Labels: add-test-cases

#26637 feat: support reraising with error cause
  frappe/utils/__init__.py
Labels: add-test-cases, defer backport

#26839 fix: back compat
  frappe/utils/__init__.py
Labels: add-test-cases

#26842 fix(grid): prevent crash
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25952 feat: add new payment processing hooks
  frappe/core/doctype/server_script/server_script.js
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
Labels: add-test-cases

#26852 fix: query for rename_doc during pre_model_sync
  frappe/model/rename_doc.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26863 ci: fix typo in pot file regeneration
  .github/workflows/generate-pot-file.yml
Labels: backport version-15-hotfix

#26865 fix: remove DocType as translation context
  frappe/gettext/extractors/doctype.py
  frappe/locale/main.pot
Labels: backport version-15-hotfix

#26855 fix: remove mariadb sandbox mode comment before restoring backups
  frappe/database/db_manager.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26771 feat: download Contact as vCard
  frappe/contacts/doctype/contact/contact.js
  frappe/contacts/doctype/contact/contact.py
  frappe/contacts/doctype/contact/contact_list.js
  pyproject.toml
Labels: add-test-cases

#26876 fix: bulk_insert child tables malformed
  frappe/model/document.py
Labels: add-test-cases

#26167 feat: extractor for customizations
  babel_extractors.csv
  frappe/gettext/extractors/custom_field.py
  frappe/gettext/extractors/customization.py
  frappe/gettext/extractors/doctype.py
  frappe/gettext/extractors/utils.py
Labels: backport version-15-hotfix

#26823 fix: update filters from dynamic link for dashboard doctype count
  frappe/desk/notifications.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#26879 ci: explicitly stage pot file
  .github/helper/update_pot_file.sh
Labels: backport version-15-hotfix

#26875 fix(Unhandled Email): avoid crashing on invalid characters
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_account/test_email_account.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#26893 fix: query report filters
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix
