Repository frappe/frappe, pull requests merged in 2024-01, with the labels that each got.

#23928 feat(UX): cancel new row with escape key
  frappe/public/js/frappe/form/grid_row.js
Labels: squash

#24055 fix: Rating control read only mode
  frappe/public/js/frappe/form/controls/rating.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24058 chore: faster total rows estimation
  frappe/commands/site.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24059 fix(DX): store tracebacks with context
  frappe/commands/site.py
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/email/doctype/notification/notification.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24064 refactor: remove dead handling for "fnargs"
  frappe/__init__.py
Labels: backport version-15-hotfix

#24066 feat(sentry): log request json body / form data
  frappe/utils/sentry.py
Labels: backport version-15-hotfix

#24068 fix: validate server scripts with FrappeTransformer
  frappe/core/doctype/server_script/server_script.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24077 fix(minor): Remove unused Settings workspace and some minor style fixes
  frappe/automation/workspace/tools/tools.json
  frappe/core/workspace/build/build.json
  frappe/core/workspace/settings/settings.json
  frappe/core/workspace/users/users.json
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/widgets/widget_dialog.js
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/list.scss
Labels: backport version-15-hotfix

#24082 fix: remove Guest permission on Help Article
  frappe/website/doctype/help_article/help_article.json
  frappe/website/doctype/help_article/help_article.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24093 build(deps): bump datatable to latest
  package.json
  yarn.lock
Labels: backport version-14-hotfix, backport version-15-hotfix

#24096 fix: syntax highlighting in report
  frappe/core/doctype/report/report.json
  frappe/core/doctype/report/report.py
  frappe/public/js/frappe/form/controls/code.js
Labels: backport version-15-hotfix

#24101 test: remove invalid assertion
  frappe/core/doctype/page/test_page.py
Labels: Skip CI, backport version-15-hotfix

#24105 fix: don't add fallback for child table perms
  frappe/permissions.py
Labels: defer backport

#24111 fix(UX)!: permission error messages
  frappe/__init__.py
  frappe/permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24107 fix: use correct parent field in rebuild_tree()
  frappe/public/js/frappe/views/treeview.js
  frappe/utils/nestedset.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24103 feat: support background jobs in recorder
  frappe/core/doctype/recorder/recorder.json
  frappe/core/doctype/recorder/recorder.py
  frappe/hooks.py
  frappe/recorder.py
  frappe/utils/background_jobs.py
Labels: backport version-15-hotfix

#24123 refactor!: remove unused parameter from rebuild_tree, add type hints
  frappe/tests/test_nestedset.py
  frappe/utils/nestedset.py
Labels: do not backport

#24118 fix: Broken IMAP account disabling logic
  frappe/email/doctype/email_account/email_account.py
  frappe/tests/test_email.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24110 fix(router): Don't capture clicks on links with target attr
  frappe/public/js/frappe/router.js
Labels: backport version-15-hotfix

#24136 test: fix ui tests
  cypress/integration/view_routing.js
  cypress/integration/workspace.js
Labels: backport version-15-hotfix

#24122 fix(Web Form): make button label translatable
  frappe/website/doctype/web_form/templates/web_form.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#24155 fix(minor): Unpublish article when category is unpublished #15361
  frappe/website/doctype/help_article/test_help_article.py
  frappe/website/doctype/help_category/help_category.py
Labels: backport version-15-hotfix

#24157 fix(minor): show footer on login via Website Settings, fixes #24153
  frappe/public/scss/login.bundle.scss
  frappe/templates/includes/login/login.js
  frappe/website/doctype/top_bar_item/top_bar_item.json
  frappe/website/doctype/top_bar_item/top_bar_item.py
  frappe/website/doctype/website_settings/website_settings.json
  frappe/website/doctype/website_settings/website_settings.py
  frappe/www/login.py
Labels: backport version-15-hotfix

#24172 fix: webhook error logging fails
  frappe/integrations/doctype/webhook/webhook.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24187 fix: Allowed standard fields in data export ( creation, owner)
  frappe/core/doctype/data_export/data_export.js
  frappe/core/doctype/data_export/exporter.py
  frappe/core/doctype/data_export/test_data_exporter.py
  frappe/model/__init__.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#24188 fix(communication): don't change email case
  frappe/core/doctype/communication/communication.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24165 fix: downgrade check during backup restore
  frappe/installer.py
Labels: add-test-cases, backport version-14-hotfix

#24140 fix: delete existing children first to avoid `UniqueValidationError`
  frappe/model/document.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24211 fix: count correction when a tag is deleted
  frappe/desk/doctype/tag/tag.py
Labels: bug

#24217 fix: added invalid conditions for number fields
  frappe/public/js/frappe/ui/filters/filter.js
Labels: do not backport

#24223 fix: added validation if upload is clicked without uploading file
  frappe/public/js/frappe/file_uploader/FileUploader.vue
  frappe/public/js/frappe/file_uploader/file_uploader.bundle.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24245 fix: include workspaces without domain restriction
  frappe/desk/desktop.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24256 fix: set correct recipient when reply to own email
  frappe/public/js/frappe/views/communication.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24263 fix: print perm check logs from DB query
  frappe/model/db_query.py
  frappe/utils/response.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24235 fix: use receiver's language for some notifications
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/form/assign_to.py
  frappe/email/doctype/email_queue/email_queue.py
  frappe/email/email_body.py
Labels: defer backport

#24246 fix(response): fixup non-ASCII character filenames
  frappe/utils/response.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24257 fix: add empty space for notification mark read
  frappe/public/scss/desk/notification.scss
Labels: backport version-15-hotfix

#24278 fix: select field should not have debounce
  frappe/public/js/frappe/form/controls/select.js
Labels: defer backport

#24284 fix: strip html instead of escaping when creating/updating workspace
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches.txt
  frappe/patches/v15_0/sanitize_workspace_titles.py
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: squash

#24298 feat: Skip locked rows while selecting
  frappe/database/database.py
  frappe/database/query.py
  frappe/tests/test_db.py
Labels: backport version-15-hotfix

#24306 fix(UX): show status indicator in moblie view
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24309 fix(mobile-ui): tabs should scroll instead of stack
  frappe/public/scss/desk/form.scss
Labels: backport version-14-hotfix, backport version-15-hotfix

#24322 chore: bump dropbox
  .github/workflows/linters.yml
  pyproject.toml
Labels: backport version-14-hotfix, backport version-15-hotfix

#24319 fix(minor): make confirm message translatable
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24326 refactor!: check latest github release
  .github/workflows/linters.yml
  frappe/tests/test_utils.py
  frappe/utils/change_log.py
  pyproject.toml
Labels: do not backport

#24343 ci: use node20 for semantic release
  .github/workflows/create-release.yml
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#19810 feat: `frappe.db.sql` results `as_iterator`
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/tests/test_db.py
  frappe/tests/test_perf.py
  pyproject.toml
Labels: backport version-15-hotfix

#24301 test: flaky server tests
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_account/test_email_account.py
  frappe/recorder.py
  frappe/tests/test_recorder.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24354 fix: add a check for `gpg` existing
  frappe/utils/backups.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24353 New Crowdin updates
  frappe/locale/de.po
Labels: Skip CI

#24363 fix: translate show all activity label
  frappe/public/js/frappe/form/footer/form_timeline.js
Labels: backport version-15-hotfix

#24381 fix(sentry): set scope for background jobs
  frappe/utils/sentry.py
Labels: backport version-15-hotfix

#23329 refactor: allow setting a db user name different from the database name
  frappe/__init__.py
  frappe/commands/site.py
  frappe/database/__init__.py
  frappe/database/database.py
  frappe/database/db_manager.py
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
  frappe/installer.py
  frappe/integrations/offsite_backup_utils.py
  frappe/tests/test_commands.py
  frappe/utils/backups.py
Labels: add-test-cases

#24390 refactor: remove redundant API Key from Google Picker
  frappe/integrations/doctype/google_settings/google_settings.json
  frappe/integrations/doctype/google_settings/google_settings.py
  frappe/integrations/doctype/google_settings/test_google_settings.py
  frappe/public/js/integrations/google_drive_picker.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24387 fix: simultenous sessions causing invalid expiry
  frappe/core/doctype/user/user.json
  frappe/database/database.py
  frappe/sessions.py
  frappe/tests/test_auth.py
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#22892 fix: search_link fails when txt contains parentheses
  frappe/desk/reportview.py
  frappe/model/db_query.py
  frappe/tests/test_reportview.py
  pyproject.toml
Labels: defer backport

#24413 fix: ignore unique fieldname validation during migrate
  frappe/core/doctype/doctype/doctype.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24414 fix: add short timeout to gravatar
  frappe/utils/__init__.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#17080 perf: `Document` objects without circular references
  frappe/core/utils.py
  frappe/model/base_document.py
  frappe/tests/test_perf.py
Labels: add-test-cases

#24427 fix: select label `null` breaks form rendering
  frappe/public/js/frappe/form/controls/select.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24437 ci: split pre-commit config
  .github/workflows/linters.yml
  .github/workflows/pre-commit.yml
Labels: Skip CI

#24438 fix: avoid mutating list while iterating over it
  frappe/commands/utils.py
  frappe/core/doctype/comment/comment.py
  frappe/desk/doctype/desktop_icon/desktop_icon.py
  frappe/desk/doctype/kanban_board/kanban_board.py
  frappe/utils/response.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24444 fix: disable strict user perms for single doctypes
  frappe/permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24456 fix: Handle bad URL
  frappe/public/js/frappe/router.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24461 fix: Handle invalid descendant filter
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24475 chore: fix typo in sidebar
  frappe/public/js/frappe/form/templates/form_sidebar.html
Labels: backport version-15-hotfix

#24494 fix: Google Drive translatability
  frappe/integrations/doctype/google_drive/google_drive.js
  frappe/integrations/doctype/google_drive/google_drive.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24378 feat: tooltip descriptions for Workspace Cards
  frappe/core/workspace/build/build.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_link/workspace_link.json
  frappe/desk/doctype/workspace_link/workspace_link.py
  frappe/public/js/frappe/widgets/links_widget.js
  frappe/public/js/frappe/widgets/widget_dialog.js
  pyproject.toml
Labels: backport version-15-hotfix

#24514 fix: error when configuring child table columns in New Print Format Builder
  frappe/public/js/print_format_builder/Field.vue
Labels: backport version-15-hotfix

#24522 fix: update all users after commit
  frappe/core/doctype/role_profile/role_profile.py
Labels: backport version-15-hotfix

#24351 fix(DX): one click to edit doctype or create a new doctype
  frappe/core/doctype/doctype/doctype_list.js
  frappe/public/icons/timeless/icons.svg
  frappe/public/js/form_builder/components/Field.vue
  frappe/public/js/form_builder/components/controls/TableControl.vue
Labels: squash

#24501 fix: consider only source_doc's no_copy
  frappe/model/mapper.py
Labels: defer backport

#24539 feat: Configurable search link limit
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-15-hotfix

#24552 fix: translatability
  frappe/automation/doctype/assignment_rule/assignment_rule.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24549 fix(search): Fix URL encoding for search result
  frappe/public/js/frappe/ui/toolbar/search.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24560 fix: set same cookie expiry on client side
  frappe/auth.py
  frappe/sessions.py
  frappe/tests/test_auth.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24572 fix: ignore dead columns in user_settings
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24575 fix(grid_row): sort options based on selected data first, so as to maintain order
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24584 revert: added back quick list status indicator
  frappe/public/js/frappe/widgets/quick_list_widget.js
Labels: frappe-support, backport version-15-hotfix

#24588 fix: typeerror in event.js
  frappe/desk/doctype/event/event.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24591 fix: Return empty result if no perm level access
  frappe/model/db_query.py
  frappe/tests/test_db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#23904 fix(meta): Allow level 0 fields if a doc has been shared with user
  frappe/core/doctype/docshare/test_docshare.py
  frappe/model/__init__.py
  frappe/model/meta.py
  frappe/tests/test_model_utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24595 fix(meta): Allow level 0 fields if a doc has been shared with user backport #23904
  frappe/core/doctype/docshare/test_docshare.py
  frappe/model/__init__.py
  frappe/model/meta.py
  frappe/tests/test_model_utils.py
Labels: backport version-14-hotfix

#24582 fix: do not allow to set if_owner & report perm together
  frappe/core/page/permission_manager/permission_manager.js
  frappe/core/page/permission_manager/permission_manager.py
Labels: frappe-support, backport version-14-hotfix, backport version-15-hotfix

#24616 fix: show successful rows in the import log
  frappe/core/doctype/data_import/data_import.js
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/data_import.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24624 perf: optional faster perm check for files
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
  frappe/core/doctype/file/file.py
  frappe/email/receive.py
  frappe/tests/test_api.py
  frappe/utils/response.py
Labels: Skip CI, Run Server Tests, backport version-14-hotfix, backport version-15-hotfix

#24634 fix: make rate_limiter respect multitenancy
  frappe/core/doctype/server_script/test_server_script.py
  frappe/core/doctype/user/user.py
  frappe/rate_limiter.py
  frappe/utils/password.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24637 fix: typeerror in onboarding_tours.js
  frappe/public/js/onboarding_tours/onboarding_tours.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24642 fix: don't notify links if not public
  frappe/desk/doctype/note/note.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24641 fix: use the correct doc method
  frappe/handler.py
Labels: defer backport
