Repository frappe/frappe, pull requests merged in 2024-10, with the labels that each got.

#27502 fix: update idx and name in table before rendering result rows
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27771 Fix: Enforced user permissions on report filters for linked doctypes
  frappe/desk/query_report.py
Labels: add-test-cases

#27945 feat(PrivateApp): virtual app that will host all private workspaces of user
  frappe/desk/desktop.py
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: add-test-cases

#27934 fix(blog_post): Ensure images are public if shown on website
  frappe/core/doctype/file/utils.py
  frappe/website/doctype/blog_post/blog_post.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27923 fix: allow to reset rating input if not mandatory
  frappe/public/js/frappe/form/controls/rating.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27954 fix: add url to local for custom method to use
  frappe/handler.py
Labels: add-test-cases

#27935 fix: Evaluate `bench execute` args for each site
  frappe/commands/utils.py
Labels: add-test-cases

#27959 Avoid to re-check instance of filters
  frappe/desk/search.py
Labels: add-test-cases

#27978 fix: return correct types for owner and modified_by
  frappe/model/meta.py
Labels: add-test-cases

#27962 refactor: Explicit feedback to timestamp mismatch error
  frappe/model/document.py
Labels: add-test-cases

#27989 refactor: Replace hard-coded pg default port with PostgresDatabase.default_port
  frappe/__init__.py
Labels: add-test-cases

#27975 refactor: improve maintainability with a simple dispatcher
  frappe/model/document.py
  frappe/model/meta.py
  frappe/model/utils/__init__.py
Labels: add-test-cases

#27830 refactor: (small) for code clarity
  frappe/public/js/frappe/views/reports/query_report.js
Labels: inactive

#27526 fix: manage offline status on license text fetching
  frappe/utils/boilerplate.py
Labels: add-test-cases

#28006 fix: temporary escape hatch for erpnext tests
  frappe/parallel_test_runner.py
Labels: add-test-cases

#28007 fix: set `print_logs=False` for some `has_permission()` calls
  frappe/desk/form/load.py
Labels: add-test-cases

#28020 fix(grid): return if no df
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27942 feat: allow user to set attachment field public by default
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/public/js/frappe/form/controls/attach.js
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28037 fix: commit watcher logger
  frappe/tests/utils.py
Labels: add-test-cases

#28038 refactor: Structure frappe.test.utils (green to green)
  .pre-commit-config.yaml
  frappe/core/doctype/prepared_report/test_prepared_report.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/core/doctype/submission_queue/test_submission_queue.py
  frappe/desk/doctype/bulk_update/test_bulk_update.py
  frappe/test_runner.py
  frappe/testing/discovery.py
  frappe/tests/README.md
  frappe/tests/__init__.py
  frappe/tests/classes/__init__.py
  frappe/tests/classes/context_managers.py
  frappe/tests/classes/integration_test_case.py
  frappe/tests/classes/mocked_request_test_case.py
  frappe/tests/classes/unit_test_case.py
  frappe/tests/test_commands.py
  frappe/tests/test_db.py
  frappe/tests/test_recorder.py
  frappe/tests/utils.py
  frappe/tests/utils/__init__.py
  frappe/tests/utils/generators.py
Labels: add-test-cases

#27887 devx: add deprecation dumpster
  frappe/__init__.py
  frappe/app.py
  frappe/auth.py
  frappe/client.py
  frappe/core/doctype/user/user.py
  frappe/database/database.py
  frappe/deprecation_dumpster.py
  frappe/desk/doctype/bulk_update/bulk_update.py
  frappe/email/doctype/email_queue/email_queue.py
  frappe/geo/country_info.py
  frappe/handler.py
  frappe/utils/__init__.py
  frappe/utils/background_jobs.py
  frappe/utils/deprecations.py
  frappe/utils/print_format.py
Labels: do not backport

#28041 refactor: organize test contextmanagers
  frappe/core/doctype/report/test_report.py
  frappe/core/doctype/server_script/test_server_script.py
  frappe/deprecation_dumpster.py
  frappe/desk/doctype/system_console/test_system_console.py
  frappe/model/trace.py
  frappe/parallel_test_runner.py
  frappe/test_runner.py
  frappe/testing/runner.py
  frappe/tests/__init__.py
  frappe/tests/classes/context_managers.py
  frappe/tests/classes/integration_test_case.py
  frappe/tests/classes/unit_test_case.py
  frappe/tests/test_boot.py
  frappe/tests/test_document.py
  frappe/tests/test_query_report.py
  frappe/tests/test_safe_exec.py
  frappe/tests/test_trace.py
  frappe/tests/test_twofactor.py
  frappe/tests/utils/__init__.py
Labels: add-test-cases

#28025 fix: disappearing frontend asset bundles
  esbuild/esbuild.js
  esbuild/utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28043 fix(Auto Repeat): `after_save` is not a valid DocType controller hook
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Labels: add-test-cases

#28052 fix: escape backslashes in `repl` to prevent syntax errors
  frappe/model/utils/__init__.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28053 fix: grid issues in web forms
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28044 feat: better test & dumpster output
  frappe/deprecation_dumpster.py
  frappe/testing/config.py
  frappe/testing/discovery.py
  frappe/testing/result.py
  frappe/testing/runner.py
Labels: add-test-cases

#27422 fix(Form Builder): Fix Code control not updating
  frappe/public/js/form_builder/components/controls/CodeControl.vue
Labels: no-stale

#28060 refactor: clarify test record dep management in test modules
  frappe/contacts/doctype/contact/test_contact.py
  frappe/core/doctype/docshare/test_docshare.py
  frappe/core/doctype/doctype/boilerplate/test_controller._py
  frappe/core/doctype/report/test_report.py
  frappe/core/doctype/role_profile/test_role_profile.py
  frappe/custom/doctype/customize_form/test_customize_form.py
  frappe/deprecation_dumpster.py
  frappe/desk/doctype/todo/test_todo.py
  frappe/email/doctype/notification/test_notification.py
  frappe/integrations/doctype/token_cache/test_token_cache.py
  frappe/tests/classes/integration_test_case.py
  frappe/tests/test_db_query.py
  frappe/tests/test_email.py
  frappe/tests/test_form_load.py
  frappe/tests/test_permissions.py
  frappe/tests/utils/__init__.py
  frappe/tests/utils/generators.py
  frappe/website/doctype/blog_post/test_blog_post.py
  frappe/website/doctype/web_form/test_web_form.py
  frappe/website/doctype/website_route_meta/test_website_route_meta.py
Labels: add-test-cases

#28067 fix: test record discovery
  frappe/tests/classes/integration_test_case.py
  frappe/tests/classes/unit_test_case.py
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28069 fix: prevent excessive growth on cached recursion
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28070 fix(tests): persistent per-site record creation log
  frappe/tests/utils/generators.py
  frappe/utils/install.py
Labels: add-test-cases

#28074 fix: render of multicheck for success action
  frappe/core/doctype/success_action/success_action.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28078 fix: rebasing oversight in test record persistent logger
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28081 ci: support downstream erpnext migration within exception code path
  frappe/parallel_test_runner.py
Labels: add-test-cases

#28083 feat: may copy MappingProxyType
  frappe/__init__.py
Labels: add-test-cases

#28073 chore(add_total_row): guess fieldtype from cell data type if not defined
  frappe/desk/query_report.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28089 fix: persistent per-site test record creation log file name
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28090 docs: clarify the code path, add comments
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28092 refactor: improve test record generation and logging
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28095 fix(testing): variable naming for clarity
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28096 style: test class & module output capture
  frappe/parallel_test_runner.py
  frappe/testing/result.py
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28094 fix(test): Enhance test record syncing and logging functionality
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28104 fix(testing): record creation output; only visit missing once
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28080 ci: erpnext lazy loading test records
  frappe/parallel_test_runner.py
Labels: dont-merge

#28108 ci: perf fix; keep record logger referenced
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28103 fix(dumpster): deprecation of classes
  frappe/deprecation_dumpster.py
  frappe/tests/utils/__init__.py
Labels: add-test-cases

#28114 fix(testing): test record removal
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28111 test: fix record creation on reentry
  frappe/deprecation_dumpster.py
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28117 Revert "refactor: Replace hard-coded pg default port with PostgresDatabase.default_port"
  frappe/__init__.py
Labels: add-test-cases

#28118 refactor: Replace hard-coded pg default port with PostgresDatabase.default_port
  frappe/__init__.py
Labels: add-test-cases

#28142 test: improve logging during test record creation failure
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28143 test: remove toleration for test record creation failure
  frappe/tests/utils/generators.py
Labels: add-test-cases

#28140 fix: Make background print status translatable
  frappe/utils/print_format.py
Labels: backport version-15-hotfix

#28141 fix: Translate OAuth confirmation details
  frappe/integrations/oauth2.py
  frappe/templates/includes/oauth_confirmation.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#27805 feat(report_view): add some basic support for `read_only_depends_on`
  frappe/public/js/frappe/views/reports/report_view.js
Labels: defer backport

#28139 fix(QuickList): Fetch more fields for get_indicator
  frappe/public/js/frappe/widgets/quick_list_widget.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28160 refactor: permutate implementation to assert no functional change in preparation
  frappe/utils/background_jobs.py
  frappe/utils/redis_queue.py
Labels: add-test-cases

#28128 fix: get_doc is not usable on jinja template in notification
  frappe/email/doctype/notification/notification.py
  frappe/email/doctype/notification/test_notification.py
Labels: add-description, add-test-cases

#28166 fix: clear dependent fields on clear link
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28171 refactor(Contact): make `get_contact_name` more robust
  frappe/contacts/doctype/contact/contact.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27973 feat: docref identifier / proxy
  frappe/database/database.py
  frappe/database/query.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/model/meta.py
  frappe/tests/test_doc_ref.py
Labels: add-test-cases

#28180 refactor: server script autocompletion to be more generic
  frappe/core/doctype/server_script/server_script.py
  frappe/utils/safe_exec.py
Labels: add-test-cases

#28182 fix(docref): json serialization
  .pre-commit-config.yaml
  frappe/utils/response.py
Labels: add-test-cases

#28185 fix: don't force values into the string type
  frappe/database/database.py
  frappe/database/query.py
  frappe/database/utils.py
  frappe/model/base_document.py
  frappe/model/document.py
  frappe/tests/test_doc_ref.py
  frappe/utils/response.py
Labels: add-test-cases

#28189 fix: hashable is enough to serve as (composite) cache key
  frappe/database/database.py
  frappe/model/document.py
Labels: add-test-cases

#28181 fix: use set_value to mark form as dirty on clear
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28204 chore: split custom types into types module
  frappe/__init__.py
  frappe/types/frappedict.py
  frappe/types/lazytranslatedstring.py
Labels: add-test-cases

#28205 chore(typing): type _dict
  frappe/types/frappedict.py
Labels: add-test-cases

#28162 feat: Add a field to accept allowed embedding domains
  cypress/integration/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/website/page_renderers/web_form.py
Labels: frappe-support, add-test-cases

#28210 chore(typing): fix some (exotic) type errors treewide
  frappe/core/doctype/doctype/doctype.py
  frappe/database/utils.py
  frappe/email/doctype/notification/notification.py
  frappe/tests/classes/context_managers.py
  frappe/tests/utils/generators.py
  frappe/utils/background_jobs.py
  frappe/utils/backups.py
  frappe/utils/bench_helper.py
  frappe/website/doctype/personal_data_deletion_request/personal_data_deletion_request.py
  frappe/www/printview.py
Labels: add-test-cases

#28217 fix(format): Fix sysdefault is string not number
  frappe/public/js/frappe/utils/number_format.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28225 fix(permissions): cast docname to string
  frappe/permissions.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27398 feat: enable bulk edit for doctype with workflow
  frappe/desk/doctype/list_view_settings/list_view_settings.json
  frappe/desk/doctype/list_view_settings/list_view_settings.py
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28224 refactor: update backup restore failure message
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28250 chore: inline unnecessary indirection
  frappe/database/database.py
  frappe/database/query.py
Labels: add-test-cases

#28252 fix: get multiple values from single table
  frappe/database/database.py
Labels: add-test-cases

#28266 fix: tz aware vs naive comparison
  frappe/monitor.py
Labels: add-test-cases

#28268 fix: use get_email_template to support html template in workflow email
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28278 fix: dont display phone numbers to which sms was sent to
  frappe/core/doctype/sms_settings/sms_settings.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28257 fix(typing): hack-hint to type checkers for ide use
  frappe/__init__.py
Labels: add-test-cases

#28190 chore: start with type checking on baseline
  .github/workflows/server-tests.yml
  pyproject.toml
Labels: add-test-cases

#28251 fix: controller path for exporting types
  frappe/types/exporter.py
Labels: add-test-cases

#28285 chore(README): remove extra space between links to fix link underlines
  README.md
Labels: backport version-14-hotfix, backport version-15-hotfix

#28313 fix(Webhook): highlighting for JSON Request Body
  frappe/integrations/doctype/webhook/webhook.json
Labels: backport version-15-hotfix

#28315 fix(Workspace): check perms on deletion
  frappe/desk/doctype/workspace/workspace.py
Labels: backport version-15-hotfix

#28259 fix: app route should return workspace based on user access
  frappe/apps.py
  frappe/auth.py
Labels: add-test-cases

#28326 fix: Clear cache when EPS enabled/disabled
  frappe/social/doctype/energy_point_settings/energy_point_settings.py
Labels: backport version-15-hotfix
