Repository frappe/frappe, pull requests merged in 2024-12, with the labels that each got.

#28333 fix: get_datetime_as_string should respect time_format
  frappe/public/js/frappe/utils/datetime.js
Labels: inactive

#28638 fix: added api to get translation messages for portal apps
  frappe/translate.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28642 fix: don't prompt users unless we have a TTY
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
Labels: add-test-cases

#28646 fix: workflow should also support queue_in_background
  frappe/model/workflow.py
Labels: add-test-cases, backport develop

#28651 fix: Print exception if asset linking is failed
  frappe/build.py
Labels: add-test-cases

#28661 chore(cint): explicitly handle NoneTypes
  frappe/utils/data.py
Labels: add-test-cases

#28655 chore: set default `max_module_depth` to 0
  frappe/testing/environment.py
Labels: add-test-cases

#28669 fix: handle empty images
  frappe/core/doctype/file/utils.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28673 fix: type narrowing
  frappe/types/docref.py
  pyproject.toml
Labels: add-test-cases, Skip CI

#28675 fix: (IMAP) E-Mail Sent Folder Customization
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_domain/email_domain.json
  frappe/email/doctype/email_domain/email_domain.py
Labels: add-test-cases

#28683 fix: (IMAP) E-Mail Sent Folder Customization
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_domain/email_domain.json
  frappe/email/doctype/email_domain/email_domain.py
Labels: add-test-cases

#28093 refactor: Replace pytz to std lib zoneinfo & datetime
  frappe/core/doctype/rq_worker/rq_worker.py
  frappe/core/doctype/user/user.py
  frappe/deprecation_dumpster.py
  frappe/email/frappemail.py
  frappe/integrations/doctype/token_cache/token_cache.py
  frappe/monitor.py
  frappe/oauth.py
  frappe/rate_limiter.py
  frappe/tests/classes/context_managers.py
  frappe/tests/test_utils.py
  frappe/utils/caching.py
  frappe/utils/data.py
  frappe/utils/scheduler.py
Labels: requires manual test

#28483 feat: bulk update docs using `case when` queries
  frappe/database/database.py
  frappe/tests/test_db.py
Labels: backport version-15-hotfix

#28686 fix: hide insert below button in submitted document
  frappe/public/js/frappe/form/grid_row_form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28693 fix: improve bencher
  frappe/bencher.py
  frappe/config.py
Labels: add-test-cases, Skip CI

#28694 refactor: simplify bencher
  frappe/__init__.py
  frappe/bench_interface.py
  frappe/config.py
  frappe/exceptions.py
  pyproject.toml
Labels: add-test-cases

#28695 feat: add local deprecation descriptor (in reserve; not used)
  frappe/deprecation_dumpster.py
Labels: add-test-cases, Skip CI

#28697 refactor: simplify bench_interface class hierarchy and path resolution
  frappe/bench_interface.py
Labels: add-test-cases

#28703 fix: bencher scoping
  frappe/bench_interface.py
Labels: add-test-cases

#28704 fix: pending deprecations with unspecified graduation
  frappe/deprecation_dumpster.py
Labels: add-test-cases

#28692 fix: redirect cssutils logger to file
  frappe/__init__.py
  frappe/utils/pdf.py
Labels: add-test-cases

#28666 fix: (search_widget) apply the latest standard_queries in hooks
  frappe/desk/search.py
Labels: backport develop, backport version-15-hotfix

#28663 fix: check at doc level when if owner role permission is checked during export
  frappe/core/doctype/data_import/exporter.py
  frappe/desk/reportview.py
  frappe/permissions.py
Labels: frappe-support, add-test-cases, backport develop

#28714 fix(Patch): only insert expression key if not exists
  frappe/patches/v16_0/update_expression_series.py
Labels: add-test-cases

#28717 revert: restore JSON files
  frappe/contacts/doctype/contact/test_records.json
  frappe/contacts/doctype/contact/test_records.toml
  frappe/contacts/doctype/salutation/test_records.json
  frappe/contacts/doctype/salutation/test_records.toml
  frappe/core/doctype/communication/test_records.json
  frappe/core/doctype/communication/test_records.toml
  frappe/core/doctype/docshare/test_records.json
  frappe/core/doctype/page/test_records.json
  frappe/core/doctype/report/test_records.json
  frappe/core/doctype/report/test_records.toml
  frappe/core/doctype/role/test_records.json
  frappe/core/doctype/role/test_records.toml
  frappe/core/doctype/user/test_records.json
  frappe/core/doctype/user/test_records.toml
  frappe/core/doctype/version/test_records.json
  frappe/custom/doctype/custom_field/test_records.json
  frappe/custom/doctype/property_setter/test_records.json
  frappe/custom/doctype/property_setter/test_records.toml
  frappe/desk/doctype/event/test_records.json
  frappe/desk/doctype/event/test_records.toml
  frappe/desk/doctype/note/test_records.json
  frappe/desk/doctype/note/test_records.toml
  frappe/email/doctype/email_account/test_records.json
  frappe/email/doctype/email_account/test_records.toml
  frappe/email/doctype/email_domain/test_records.json
  frappe/email/doctype/email_domain/test_records.toml
  frappe/email/doctype/email_group/test_records.json
  frappe/email/doctype/email_group/test_records.toml
  frappe/email/doctype/notification/test_records.json
  frappe/email/doctype/notification/test_records.toml
  frappe/geo/doctype/country/test_records.json
  frappe/geo/doctype/country/test_records.toml
  frappe/geo/doctype/currency/test_records.json
  frappe/integrations/doctype/connected_app/test_records.json
  frappe/integrations/doctype/connected_app/test_records.toml
  frappe/integrations/doctype/token_cache/test_records.json
  frappe/integrations/doctype/token_cache/test_records.toml
  frappe/printing/doctype/print_format/test_records.json
  frappe/printing/doctype/print_format/test_records.toml
  frappe/website/doctype/blog_category/test_records.json
  frappe/website/doctype/blog_category/test_records.toml
  frappe/website/doctype/blog_post/test_records.json
  frappe/website/doctype/blog_post/test_records.toml
  frappe/website/doctype/blogger/test_records.json
  frappe/website/doctype/blogger/test_records.toml
  frappe/website/doctype/web_form/test_records.json
  frappe/website/doctype/web_form/test_records.toml
  frappe/website/doctype/web_page/test_records.json
  frappe/website/doctype/web_page/test_records.toml
Labels: squash, Skip CI

#28718 perf: index document name on error log
  frappe/core/doctype/error_log/error_log.json
Labels: Skip CI, Run Server Tests

#28729 fix(convert_utc_to_timezone): set UTC if tzinfo undefined
  frappe/utils/data.py
Labels: add-test-cases

#28734 fix: clarify error message for child tables
  frappe/model/document.py
Labels: add-test-cases, backport version-15-hotfix

#28742 chore: make bench_helper executable
  frappe/utils/bench_helper.py
Labels: add-test-cases

#28745 fix: set `currency` system setting in webform `frappe.boot.sysdefaults`
  frappe/website/utils.py
Labels: add-test-cases, backport version-15-hotfix

#28740 fix: in case of owner, always include owner in count data
  frappe/desk/listview.py
Labels: frappe-support

#28743 fix: clarify error message for child tables (backport #28734)
  frappe/model/document.py
Labels: add-test-cases

#28760 fix(web): Ensure that header values are strings
  frappe/website/utils.py
Labels: add-test-cases

#28765 fix: convert frappe.boot to JSON properly
  frappe/templates/base.html
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/templates/web_list.html
  frappe/www/app.html
  frappe/www/app.py
Labels: backport version-15-hotfix

#28769 fix(save_new_widget): prevent `UnboundLocalError`
  frappe/desk/desktop.py
Labels: add-test-cases

#28780 fix: Don't cache anything hashable
  .github/actions/setup/action.yml
  frappe/database/database.py
Labels: add-test-cases

#28781 ci: Don't specify client version
  .github/helper/install_dependencies.sh
Labels: backport version-14-hotfix

#28783 fix(package): validate package name, export path
  frappe/core/doctype/package/package.py
  frappe/core/doctype/package_release/package_release.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28791 chore: update tested mariadb versions
  frappe/database/mariadb/setup_db.py
Labels: add-test-cases, Skip CI

#28799 perf: Avoid patching QB in every request
  frappe/__init__.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28803 perf: speed up `@request_cache` by ~2x
  frappe/__init__.py
  frappe/utils/caching.py
Labels: add-test-cases

#28805 perf: speed up recurring redis cache accesses
  frappe/utils/redis_wrapper.py
Labels: add-test-cases

#28810 fix(email): don't try to parse flags that seem to be invalid
  frappe/email/receive.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28804 fix: add support for CSV files for non desk users
  frappe/handler.py
Labels: add-test-cases

#28818 perf: speedup `frappe.qb.get_query` by 2x-4x
  frappe/database/query.py
  frappe/database/schema.py
Labels: Skip CI

#28834 fix(build): `os.replace` -> `shutil.move`
  frappe/build.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28820 fix: find workflow by id instead of state name
  frappe/public/js/workflow_builder/store.js
Labels: backport version-15-hotfix

#28832 refactor: move all optimizations and pre/post fork hooks to separate file
  frappe/__init__.py
  frappe/app.py
  frappe/optimizations.py
  frappe/utils/background_jobs.py
Labels: add-test-cases

#28838 fix: always print tracebacks
  frappe/utils/bench_helper.py
Labels: add-test-cases

#28841 perf: speed up `flt` by 1.06x and `get_system_settings` by 1.32x
  frappe/__init__.py
  frappe/model/document.py
  frappe/utils/data.py
Labels: add-test-cases

#28842 perf: `pretty_date` - avoid useless dt->string->dt cycle
  frappe/utils/data.py
Labels: add-test-cases

#28845 feat: log peak memory usage for Prepared reports
  frappe/core/doctype/prepared_report/prepared_report.json
  frappe/core/doctype/prepared_report/prepared_report.py
Labels: backport version-15-hotfix

#28847 perf(version): Make get_versions fast for autoincrement doctypes
  frappe/desk/form/load.py
Labels: add-test-cases

#28843 perf: faster add_to_date
  frappe/utils/data.py
Labels: add-test-cases

#28846 fix: MariaDBDatabase.get_tables() should not query the entire database schema.
  frappe/database/mariadb/database.py
Labels: add-test-cases

#28859 fix: Remove misleading `os.O_NONBLOCK` flag
  frappe/monitor.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28862 test: reduce noise in test output
  frappe/commands/testing.py
  frappe/tests/test_commands.py
  frappe/tests/utils/generators.py
Labels: Skip CI

#28855 fix: add strings and fields to translation
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/query_report.py
  frappe/printing/page/print/print.js
  frappe/printing/page/print_format_builder/print_format_builder.js
  frappe/templates/print_formats/standard_macros.html
  frappe/website/web_template/section_with_tabs/section_with_tabs.html
Labels: add-test-cases, backport version-15-hotfix

#28866 perf: speedup `frappe.call` by ~8x
  frappe/__init__.py
Labels: add-test-cases

#28870 fix(site_cache): site cache thread safety
  frappe/utils/caching.py
Labels: add-test-cases

#28868 chore(printview): change error message
  frappe/tests/test_document.py
  frappe/utils/print_format.py
  frappe/www/printview.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28879 fix(restore): remove MariaDB view security definers
  frappe/database/db_manager.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28884 fix: Never query `flag_print_sql` in `developer_mode=0`
  frappe/__init__.py
  frappe/database/database.py
Labels: add-test-cases, Skip CI

#28878 perf: cache dynamic links map in Redis
  frappe/model/base_document.py
  frappe/model/dynamic_links.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28877 fix: sanitize user input during setup wizard
  frappe/desk/page/setup_wizard/setup_wizard.py
Labels: backport version-15-hotfix

#28876 feat(sanitize_column): improve check
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28513 fix(background_jobs): init site if required for after_job hooks
  frappe/utils/background_jobs.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28883 fix: sanitize all filters
  frappe/model/db_query.py
Labels: add-test-cases, backport version-14-hotfix

#28772 fix: add Swedish date and time format
  frappe/geo/country_info.json
Labels: backport version-15-hotfix

#28386 fix: better error message
  frappe/utils/password.py
Labels: add-test-cases

#28896 fix: Avoid applying pinning optimization on RQ
  frappe/_optimizations.py
Labels: add-test-cases

#28899 fix(_get_communications): clean email content before returning
  frappe/desk/form/load.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#28873 fix(HTML Editor): extraction of images
  frappe/model/base_document.py
  frappe/model/document.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#28916 perf: use system settings instead of defaults
  frappe/commands/utils.py
  frappe/sessions.py
  frappe/translate.py
Labels: add-test-cases

#28922 perf: Avoid storing redundant information in Redis - last session update
  frappe/sessions.py
Labels: add-test-cases

#28924 Revert "chore: exempt draft prs from stale bot"
  .github/stale.yml
Labels: Skip CI

#28925 revert: bencher/bench interface
  frappe/__init__.py
  frappe/bench_interface.py
  frappe/config.py
  frappe/exceptions.py
  pyproject.toml
Labels: add-test-cases

#28929 feat: Use RESP3 for Redis cache connections
  frappe/utils/redis_wrapper.py
  pyproject.toml
Labels: add-test-cases

#28930 fix: Ensure only one Redis connection is created
  frappe/__init__.py
Labels: add-test-cases

#28931 perf: lower reminders frequency
  frappe/automation/doctype/reminder/reminder.py
  frappe/hooks.py
Labels: add-test-cases, backport version-15-hotfix

#28932 fix: Skip rate limit counters when cleaning cache
  frappe/hooks.py
Labels: add-test-cases

#28934 perf(login): dont fetch reports, pages when minimal = true
  frappe/apps.py
  frappe/desk/desktop.py
Labels: frappe-support, add-test-cases

#28938 Revert "feat: Use RESP3 for Redis cache connections"
  frappe/utils/redis_wrapper.py
  pyproject.toml
Labels: add-test-cases, Skip CI

#28939 refactor: flatten site cache
  frappe/utils/caching.py
Labels: add-test-cases

#28946 fix: append at specific position in child table
  frappe/model/base_document.py
Labels: add-test-cases

#28958 fix: update address link title on update of customer
  frappe/contacts/address_and_contact.py
Labels: frappe-support, backport version-14-hotfix, backport version-15-hotfix

#28307 feat(Country)!: formalise the code field
  frappe/geo/doctype/country/country.json
  frappe/geo/doctype/country/country.py
  frappe/geo/doctype/country/test_records.json
Labels: do not backport

#28962 fix(Web Form): position of country code in "Phone" control
  frappe/public/scss/website/web_form.scss
Labels: backport version-15-hotfix

#28964 fix(Web Form): add syntax highlighting for client script
  frappe/website/doctype/web_form/web_form.json
Labels: backport version-15-hotfix

#28973 chore: bump stale time
  .github/stale.yml
Labels: Skip CI

#28975 fix: Commit ID parsing
  frappe/utils/change_log.py
Labels: add-test-cases

#28976 fix: register fault hander after gunicorn registers signals
  frappe/__init__.py
  frappe/_optimizations.py
Labels: add-test-cases
