Repository frappe/frappe, pull requests merged in 2024-02, with the labels that each got.

#24654 fix: Retry contact update if it fails due to conflict
  frappe/core/doctype/user/user.py
Labels: backport version-15-hotfix

#24666 fix: never show virtual fields in list view
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
  frappe/public/js/frappe/list/base_list.js
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#24669 fix: enable syntax highlighting for `PythonExpression` code fields
  frappe/public/js/frappe/form/controls/code.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#23907 feat: Letterhead Scripts & fix disappearing header in pdf
  frappe/printing/doctype/letter_head/letter_head.js
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/utils/pdf.py
  frappe/www/printview.html
  frappe/www/printview.py
Labels: backport version-15-hotfix

#24679 fix: Avoid enqueueing during install
  frappe/core/doctype/role_profile/role_profile.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24431 fix(login): Escape translated strings
  frappe/templates/includes/login/login.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24713 fix: Set default for search result limit if empty
  frappe/core/doctype/system_settings/system_settings.py
Labels: backport version-15-hotfix

#24716 fix: redirect and open new doctype dialog if route to /doctype/new
  frappe/public/js/form_builder/store.js
Labels: backport version-15-hotfix

#24718 fix: data import table UI fix
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/scss/desk/data_import.scss
Labels: frappe-support, backport version-14-hotfix, backport version-15-hotfix

#24386 fix: show folders in Google Drive Picker
  frappe/public/js/integrations/google_drive_picker.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24727 refactor: skip permlevel check if all levels are 0
  frappe/model/document.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#24728 fix: Skip fulltext indexes during sync
  frappe/database/mariadb/database.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24733 fix: Show proper error message for prepared report failure
  frappe/desk/query_report.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24724 fix: no of rows displayed based on report type
  frappe/email/doctype/auto_email_report/auto_email_report.json
  frappe/public/js/frappe/widgets/shortcut_widget.js
Labels: backport develop

#24683 feat(recorder): profiling and granular recording
  frappe/core/doctype/recorder/recorder.json
  frappe/core/doctype/recorder/recorder.py
  frappe/core/doctype/recorder/recorder_list.js
  frappe/recorder.py
Labels: backport version-15-hotfix

#24739 fix: is_translatable check in link field
  frappe/public/js/frappe/form/controls/link.js
Labels: Skip CI

#24744 ci: simplify matrix for stable branches
  .github/workflows/server-tests.yml
Labels: Skip CI

#24750 fix: Allow int fields to be unique
  frappe/core/doctype/doctype/doctype.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24753 fix: Make sure sitemap respects robot_txt
  frappe/cache_manager.py
  frappe/website/utils.py
  frappe/www/sitemap.py
Labels: add-test-cases

#24761 fix: Use `TEXT` type for Webhook URLs to support large URLs
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#23263 feat: Letterhead Scripts & fix disappearing header in pdf
  frappe/__init__.py
  frappe/printing/doctype/letter_head/letter_head.js
  frappe/printing/doctype/letter_head/letter_head.json
  frappe/utils/pdf.py
  frappe/www/printview.html
  frappe/www/printview.py
Labels: test-required

#24770 fix(UX): improve server script message
  frappe/core/doctype/server_script/server_script.js
Labels: Skip CI, backport version-15-hotfix

#24783 ci: only capture coverage on non-pull jobs
  .github/helper/ci.py
  .github/workflows/server-tests.yml
  .github/workflows/ui-tests.yml
Labels: Skip CI

#24777 fix: console import progress off-by-one
  frappe/core/doctype/data_import/importer.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#24794 fix: misc changes
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24815 chore: use modified index for deletion
  frappe/email/doctype/unhandled_email/unhandled_email.py
Labels: Skip CI

#24818 fix: Ignore "Invalid Doctype" validation if ignore flag is passed
  frappe/core/doctype/communication/communication.py
  frappe/database/database.py
  frappe/tests/test_utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24825 chore: disable mergify auto merges
  .mergify.yml
Labels: Skip CI

#24830 perf: use unique file url
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24838 feat: frappe.model.can_submit (JS)
  frappe/public/js/frappe/model/model.js
  frappe/utils/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24816 fix: added prefix none as default in export_fixtures
  frappe/utils/fixtures.py
Labels: Skip CI

#24803 fix: added Mongolian language
  frappe/geo/languages.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#24854 chore: typo
  frappe/frappeclient.py
Labels: Skip CI

#24857 refactor: Reset password flow
  frappe/core/doctype/user/patches/__init__.py
  frappe/core/doctype/user/patches/hash_reset_password_tokens.py
  frappe/core/doctype/user/test_user.py
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
  frappe/core/form_tour/user_list_tour/user_list_tour.json
  frappe/desk/form_tour/main_workspace_tour/main_workspace_tour.json
  frappe/desk/form_tour/users_workspace_tour/users_workspace_tour.json
  frappe/patches.txt
  frappe/tests/test_utils.py
  frappe/tests/utils.py
  frappe/utils/data.py
  frappe/www/update-password.html
Labels: backport version-14-hotfix, backport version-15-hotfix

#24862 perf: faster workflow action processing
  frappe/workflow/doctype/workflow/test_workflow.py
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24867 refactor: add_column
  frappe/database/schema.py
  frappe/migrate.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24872 fix: add default timezone for Tanzania
  frappe/geo/country_info.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#24878 fix: remove _ from frappe.model.std_fields (Backport #24662)
  frappe/model/__init__.py
Labels: backport version-14-hotfix

#23701 fix: grid row default values not using model
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24905 fix: invite contact as user
  frappe/contacts/doctype/contact/contact.js
  frappe/contacts/doctype/contact/contact.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24915 fix: lower socket timeout for validating email domain
  frappe/email/doctype/email_domain/email_domain.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24919 fix: ensure has_value_changed works for Datetime, Date and Time fields
  frappe/model/document.py
  frappe/tests/test_document.py
  frappe/tests/test_utils.py
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24907 fix: keep order in `get_values_from_single`
  frappe/database/database.py
  frappe/tests/test_db.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24876 feat: Queue selection for webhooks
  frappe/integrations/doctype/webhook/__init__.py
  frappe/integrations/doctype/webhook/webhook.js
  frappe/integrations/doctype/webhook/webhook.json
  frappe/integrations/doctype/webhook/webhook.py
Labels: backport version-15-hotfix

#24929 fix: send_workflow_action_email
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24935 ci: fix labeller
  .github/labeler.yml
  .github/workflows/labeller.yml
Labels: Skip CI

#24938 fix: handle bad cron expressions
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/server_script/server_script.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#24936 fix: only try JSON if content-type says so
  frappe/integrations/utils.py
Labels: add-test-cases

#24945 perf: defer imports during CLI
  frappe/commands/redis_utils.py
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/utils.py
  frappe/query_builder/utils.py
  frappe/translate.py
Labels: add-test-cases, backport version-15-hotfix

#24947 fix: remove patch for hashing existing tokens
  frappe/core/doctype/user/patches/__init__.py
  frappe/core/doctype/user/patches/hash_reset_password_tokens.py
  frappe/patches.txt
Labels: add-test-cases, Skip CI

#24954 perf: Add optional socketio native packages
  package.json
  yarn.lock
Labels: defer backport

#24968 fix: never apply role profiles to standard user
  frappe/core/doctype/user/user.py
Labels: add-test-cases

#24974 fix(redis_wrapper): handle redis not being connected during cache clearing
  frappe/utils/redis_wrapper.py
Labels: add-test-cases

#24980 fix: Private images in PDFs from background jobs
  frappe/core/doctype/file/test_file.py
  frappe/core/doctype/file/utils.py
  frappe/tests/test_pdf.py
  frappe/utils/pdf.py
  frappe/utils/response.py
Labels: add-test-cases, defer backport

#24983 fix: typo
  frappe/database/database.py
  frappe/database/mariadb/database.py
Labels: add-test-cases

#24989 fix: allow negative numbers in grid search
  frappe/public/js/frappe/utils/utils.js
Labels: Skip CI, backport version-15-hotfix

#24988 fix: Cast to string to handle int PK
  frappe/permissions.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#24990 fix: Correct type hint
  frappe/types/DF.py
Labels: add-test-cases, Skip CI, backport version-15-hotfix

#24994 fix: handle email without content adding links
  frappe/core/doctype/communication/mixins.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#25009 fix: Guess currency from report row if available
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: backport version-15-hotfix

#25011 fix: handle total row in number card formatting
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: Skip CI, backport version-15-hotfix

#25018 fix: wrap read_only functions correctly
  frappe/__init__.py
  frappe/desk/notifications.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25024 fix: translation get label from fieldname
  frappe/model/base_document.py
Labels: add-test-cases

#24949 feat(address): Add no_title param to get_condensed_address Jinja filter
  frappe/contacts/doctype/address/address.py
Labels: add-test-cases

#25007 refactor: scheduled job type enhancements
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.json
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/core/doctype/scheduled_job_type/test_scheduled_job_type.py
  frappe/core/doctype/server_script/test_server_script.py
Labels: backport version-15-hotfix

#25033 fix: Don't init site if already init-ed during truncate
  frappe/utils/background_jobs.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#25043 fix: translate doctype in user-facing error message
  frappe/permissions.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25046 fix: invalid lru_cache usage
  frappe/__init__.py
Labels: add-test-cases

#25056 fix: german translation of No.
  frappe/translations/de.csv
Labels: backport version-14-hotfix

#25040 fix: show tooltip on edit table row
  cypress/integration/form.js
  cypress/integration/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Labels: backport version-14-hotfix, backport version-15-hotfix

#25066 refactor: render list progressively
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#25037 feat: hook for print format template loader
  frappe/www/printview.py
Labels: add-test-cases, backport version-15-hotfix

#25034 fix(File Uploader): "dialog.get_primary_btn is not a function"
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Labels: backport version-14-hotfix, backport version-15-hotfix

#25105 fix: restrict method for security critical endpoints
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25085 feat: Add doc rename hook in server script
  frappe/core/doctype/server_script/server_script.json
  frappe/core/doctype/server_script/server_script.py
  frappe/core/doctype/server_script/server_script_utils.py
  frappe/core/doctype/server_script/test_server_script.py
Labels: add-test-cases

#25109 feat: support array request type
  frappe/app.py
  frappe/tests/test_api.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25106 refactor: file perm check
  frappe/core/doctype/file/file.py
Labels: add-test-cases, Skip CI, backport version-14-hotfix, backport version-15-hotfix

#25116 fix: validate fetch from
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases, backport version-15-hotfix

#25117 fix: Check perm for library file before cloning
  frappe/handler.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#24114 feat: add frappe push notification client
  frappe/integrations/doctype/push_notification_settings/__init__.py
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.js
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.json
  frappe/integrations/doctype/push_notification_settings/push_notification_settings.py
  frappe/integrations/doctype/push_notification_settings/test_push_notification_settings.py
  frappe/integrations/workspace/integrations/integrations.json
  frappe/push_notification.py
Labels: backport version-15-hotfix

#25125 refactor: update docstring and typehints for functions
  frappe/utils/background_jobs.py
  frappe/utils/logger.py
  frappe/utils/scheduler.py
Labels: add-test-cases

#25128 fix: Use current language in attachment prints
  frappe/core/doctype/communication/mixins.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#25131 fix: specify print_language in communication attachments
  frappe/core/doctype/communication/email.py
  frappe/core/doctype/communication/mixins.py
  frappe/public/js/frappe/views/communication.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25132 fix: update file attached_to details in submitted doc
  frappe/hooks.py
Labels: add-test-cases

#25144 fix: always show is_standard on web form
  frappe/website/doctype/web_form/web_form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#25149 fix(setup_module_map): fix caching
  frappe/__init__.py
  frappe/cache_manager.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#25104 fix: escape single quotes
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#24467 ci: auto-generate potfile
  .github/helper/update_pot_file.sh
  .github/workflows/generate-pot-file.yml
Labels: Skip CI

#25170 fix: race condition on deletes
  frappe/database/database.py
  frappe/database/postgres/database.py
  frappe/database/query.py
  frappe/model/delete_doc.py
  frappe/tests/test_db.py
  frappe/tests/test_document.py
  frappe/tests/utils.py
Labels: frappe-support, backport version-15-hotfix

#25175 fix: use name for RQ worker instead of PID
  frappe/core/doctype/rq_worker/rq_worker.json
  frappe/core/doctype/rq_worker/rq_worker.py
  frappe/core/doctype/rq_worker/test_rq_worker.py
  frappe/utils/background_jobs.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix
