Repository frappe/frappe, pull requests merged in 2024-09, with the labels that each got.

#27586 feat: Custom timeouts for prepared report
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/core/doctype/report/report.json
  frappe/core/doctype/report/report.py
Labels: add-test-cases, backport version-15-hotfix

#27570 fix: label for web form
  cypress/integration/web_form.js
  frappe/website/doctype/web_form/templates/web_form.html
Labels: backport version-15-hotfix

#27578 fix(assign_to): escape description HTML
  frappe/desk/form/assign_to.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27529 fix: apply depends_on on field update
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27553 fix!: Skip virtual fields in meta.get_valid_columns
  frappe/model/base_document.py
  frappe/model/meta.py
Labels: add-test-cases

#27614 fix(sessions): pass `force` parameter to `get_sessions_to_clear()`
  frappe/sessions.py
Labels: add-test-cases

#27620 feat(minor): Allow HTML descriptions on Grids
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27627 fix: only change status on communication received if status is Replied & status contain option Open
  frappe/core/doctype/communication/communication.py
Labels: backport version-15-hotfix

#27632 fix(EmailQueue): Log more error onto email queue
  frappe/email/doctype/email_queue/email_queue.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27619 fix: `get_valid_fields` excludes `show_on_timeline`, breaking migrations
  frappe/model/meta.py
Labels: add-test-cases

#26938 fix(notification): add ability to enqueue-call from server scripts
  frappe/email/doctype/notification/notification.py
Labels: add-test-cases

#27276 fix: :bug: show link titles for virtual link fields too
  frappe/desk/form/load.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27650 feat: add list-sites command
  frappe/commands/utils.py
Labels: add-test-cases

#25734 feat: add debug tests
  .pre-commit-config.yaml
  frappe/commands/utils.py
  frappe/test_runner.py
  frappe/tests/utils.py
Labels: add-test-cases

#27651 fix: --pdb drop directly into test case frame
  frappe/tests/utils.py
Labels: add-test-cases

#27646 chore(deps): bump cryptography
  pyproject.toml
Labels: backport version-14-hotfix, backport version-15-hotfix

#27656 refactor: handle Issue and Lead separately on Communication
  frappe/core/doctype/communication/communication.py
Labels: add-test-cases, backport version-15-hotfix

#27608 fix: increase Google Calendar Event ID character limit
  frappe/desk/doctype/event/event.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#27649 fix: Enhance the error message of the connected app authorization.
  frappe/integrations/doctype/connected_app/connected_app.py
Labels: backport version-15-hotfix

#27667 fix(email): Fix unbound variable in make_error_msg
  frappe/email/receive.py
Labels: add-test-cases

#27669 fix: don't let `getattr()` raise an `AttributeError`, provide a default
  frappe/desk/form/load.py
Labels: add-test-cases, backport version-15-hotfix

#27673 fix: load apps_data in boot for setup wizard in desk
  frappe/sessions.py
Labels: backport version-15-hotfix

#26395 feat: address autocomplete dialog
  frappe/boot.py
  frappe/integrations/doctype/geolocation_settings/__init__.py
  frappe/integrations/doctype/geolocation_settings/geolocation_settings.js
  frappe/integrations/doctype/geolocation_settings/geolocation_settings.json
  frappe/integrations/doctype/geolocation_settings/geolocation_settings.py
  frappe/integrations/doctype/geolocation_settings/providers/geoapify.py
  frappe/integrations/doctype/geolocation_settings/providers/here.py
  frappe/integrations/doctype/geolocation_settings/providers/nomatim.py
  frappe/integrations/doctype/geolocation_settings/test_geolocation_settings.py
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/ui/address_autocomplete/autocomplete_dialog.js
  frappe/public/js/frappe/utils/address_and_contact.js
  pyproject.toml
Labels: squash, add-docs

#27690 fix: Revert "fix(ChildTable): apply depends_on on field update"
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27621 feat: App switcher inside desk
  .github/frappe-framework-logo.svg
  cypress/integration/workspace.js
  cypress/integration/workspace_blocks.js
  frappe/__init__.py
  frappe/automation/workspace/tools/tools.json
  frappe/boot.py
  frappe/core/page/dashboard_view/dashboard_view.js
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_settings/workspace_settings.js
  frappe/desk/doctype/workspace_settings/workspace_settings.json
  frappe/desk/doctype/workspace_settings/workspace_settings.py
  frappe/desk/form/meta.py
  frappe/handler.py
  frappe/hooks.py
  frappe/public/icons/espresso/icons.svg
  frappe/public/icons/timeless/icons.svg
  frappe/public/images/frappe-framework-logo.svg
  frappe/public/images/web.svg
  frappe/public/js/desk.bundle.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/router.js
  frappe/public/js/frappe/ui/sidebar.html
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/ui/toolbar/toolbar.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/public/js/frappe/views/treeview.js
  frappe/public/js/frappe/views/workspace/workspace.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
  frappe/public/scss/desk/css_variables.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/kanban.scss
  frappe/public/scss/desk/navbar.scss
  frappe/public/scss/desk/page.scss
  frappe/public/scss/desk/print_preview.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/desk/tree.scss
  frappe/templates/emails/standard.html
  frappe/templates/includes/splash_screen.html
Labels: add-test-cases

#27703 fix: redirect to login page with redirect-to when token expires
  frappe/www/app.py
Labels: add-test-cases

#27698 feat: subject processing to global server script config
  frappe/core/doctype/server_script/server_script.js
  frappe/core/doctype/server_script/server_script.py
Labels: add-test-cases

#27730 fix(setup_wizard): don't crash if a country doesn't have a timezone specified
  frappe/desk/page/setup_wizard/setup_wizard.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#26737 feat: add cache control
  frappe/app.py
  frappe/auth.py
  frappe/public/js/frappe/request.js
  frappe/website/page_renderers/redirect_page.py
  frappe/website/utils.py
Labels: add-test-cases

#27740 chore: simplify config calling
  frappe/commands/utils.py
  frappe/tests/utils.py
Labels: add-test-cases

#27747 fix(printview): ensure document title is a string
  frappe/www/printview.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27756 fix: form should pass df to formatter
  frappe/public/js/frappe/form/form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27760 fix(rename_doc): check permissions for the specific document
  frappe/model/rename_doc.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27759 fix: improve serializer
  frappe/utils/response.py
Labels: add-test-cases

#27505 fix: show link title in generated form hrefs
  frappe/__init__.py
Labels: inactive, add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27723 fix: prevent sending emails to System Manager when email notifications are disabled
  frappe/website/doctype/personal_data_deletion_request/personal_data_deletion_request.py
Labels: add-test-cases

#27753 feat: friendly error wrapper on cli
  frappe/commands/__init__.py
  frappe/tests/utils.py
  frappe/utils/bench_helper.py
  pyproject.toml
Labels: add-test-cases

#27765 refactor: type hint cli context
  frappe/commands/__init__.py
  frappe/commands/gettext.py
  frappe/commands/scheduler.py
  frappe/commands/site.py
  frappe/commands/translate.py
  frappe/commands/utils.py
  frappe/utils/bench_helper.py
Labels: add-test-cases

#27782 fix(setup_wizard): update wording for password field for non-admins
  frappe/desk/page/setup_wizard/setup_wizard.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27786 chore(decrypt): mention the key in error if specificed
  frappe/twofactor.py
  frappe/utils/password.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27787 fix: let's translate data on standard report excel/csv exporting #27124
  frappe/desk/reportview.py
  frappe/public/js/frappe/views/reports/report_view.js
Labels: add-test-cases

#27772 fix(delete_doc): Check if submittable before docstatus validation
  frappe/model/delete_doc.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27746 fix: workflow typos
  frappe/translate.py
  frappe/workflow/doctype/workflow/workflow.js
Labels: add-test-cases

#26693 fix: Fix file/email attachment name containing percent sign
  frappe/core/doctype/file/file.py
  frappe/email/receive.py
  frappe/email/test_email_attachments.py
Labels: defer backport

#27795 fix: dont fetch context for custom doctype based on custom module
  frappe/www/list.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27799 fix: re-number idx on child table row removal
  frappe/model/base_document.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27801 fix: migration to utm
  frappe/patches.txt
  frappe/patches/v15_0/migrate_to_utm.py
Labels: add-test-cases

#27806 fix: re-number idx on child table row removal
  frappe/model/base_document.py
Labels: add-test-cases

#27825 chore: add back describe-database-table command
  frappe/commands/site.py
Labels: backport version-15-hotfix

#27626 feat(db): bootstrap only option if database and iser is manage externally to bench (backport: #23170)
  frappe/commands/site.py
  frappe/database/__init__.py
  frappe/database/mariadb/setup_db.py
  frappe/database/postgres/setup_db.py
  frappe/installer.py
Labels: add-test-cases

#27689 feat(auth): Added keycloak as a social login provider
  frappe/integrations/doctype/social_login_key/social_login_key.json
  frappe/integrations/doctype/social_login_key/social_login_key.py
  frappe/integrations/oauth2_logins.py
  frappe/utils/oauth.py
Labels: backport version-15-hotfix

#27831 fix(restore): Remove sandbox mode comment
  frappe/database/db_manager.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27843 fix: show chart tooltip in report currency
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27498 fix(translate): Don't extract from gitignored files
  frappe/gettext/test_translate.py
  frappe/gettext/translate.py
Labels: backport version-15-hotfix

#27178 feat!: enhance Language to become more of a Locale
  frappe/core/doctype/language/language.json
  frappe/core/doctype/language/language.py
  frappe/core/doctype/user/user.py
  frappe/defaults.py
  frappe/locale.py
  frappe/model/meta.py
  frappe/utils/data.py
  frappe/utils/dateutils.py
  frappe/utils/number_format.py
  frappe/utils/safe_exec.py
  frappe/website/utils.py
Labels: add-docs, add-test-cases, do not backport

#27854 fix:Replace "<br>" with "\n"
  frappe/modules/utils.py
Labels: add-test-cases

#27829 LDAP: escape special characters in `entry_dn` to prevent `LDAPInvalidFilterError`
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27866 fix: also assign if ToDo is created via interaction modal
  frappe/public/js/frappe/views/interaction.js
Labels: frappe-support, backport version-15-hotfix

#27819 fix(style): Update icons, new design for /me
  frappe/boot.py
  frappe/core/doctype/module_def/module_def.json
  frappe/core/doctype/server_script/server_script_list.js
  frappe/core/web_form/edit_profile/edit_profile.json
  frappe/core/workspace/build/build.json
  frappe/desk/desktop.py
  frappe/desk/form/meta.py
  frappe/public/icons/espresso/icons.svg
  frappe/public/icons/lucide.svg
  frappe/public/icons/timeless/icons.svg
  frappe/public/js/frappe/form/controls/comment.js
  frappe/public/js/frappe/form/footer/footer.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/public/js/frappe/views/dashboard/dashboard_view.js
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/js/frappe/web_form/web_form_list.js
  frappe/public/scss/common/icon_picker.scss
  frappe/public/scss/common/icons.scss
  frappe/public/scss/desk/desktop.scss
  frappe/public/scss/desk/form.scss
  frappe/public/scss/desk/global.scss
  frappe/public/scss/desk/sidebar.scss
  frappe/public/scss/espresso/_typography.scss
  frappe/public/scss/website/index.scss
  frappe/public/scss/website/my_account.scss
  frappe/public/scss/website/portal.scss
  frappe/templates/includes/likes/likes.html
  frappe/templates/includes/list/list.html
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/web_form.js
  frappe/website/doctype/web_form/web_form.json
  frappe/website/doctype/web_form/web_form.py
  frappe/www/apps.css
  frappe/www/me.html
  frappe/www/me.py
  frappe/www/third_party_apps.html
  frappe/www/update-password.html
Labels: add-test-cases

#27873 fix: don't catch S3 upload error prematurely
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#27876 fix(minor): Set default app in Workspace and Module Def
  frappe/core/doctype/module_def/module_def.py
  frappe/desk/doctype/workspace/patches/update_app.py
  frappe/desk/doctype/workspace/workspace.py
  frappe/patches.txt
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: add-test-cases

#27878 fix(minor): set defaiult workspace app in desktop.py
  frappe/desk/desktop.py
Labels: add-test-cases

#27879 fix(patch): update_app.py
  frappe/desk/doctype/workspace/patches/update_app.py
Labels: add-test-cases

#27848 fix: extract translatable strings from the whole repo
  babel_extractors.csv
  frappe/gettext/translate.py
Labels: backport version-15-hotfix

#27881 fix: reroute to /app when loggedin user does not have access to defau…
  frappe/public/js/frappe/router.js
Labels: defer backport

#27898 fix(style): update error, not found pages
  cypress/integration/awesome_bar.js
  frappe/email/doctype/email_group/email_group.json
  frappe/public/icons/timeless/icons.svg
  frappe/public/images/ui-states/404.png
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/ui/toolbar/navbar.html
  frappe/public/js/frappe/views/breadcrumbs.js
  frappe/public/scss/common/grid.scss
  frappe/public/scss/website/error-state.scss
  frappe/templates/web.html
  frappe/tests/test_search.py
  frappe/www/404.html
  frappe/www/error.html
  frappe/www/message.html
  frappe/www/search.html
  frappe/www/search.py
  frappe/www/unsubscribe.html
  frappe/www/unsubscribe.py
Labels: add-test-cases

#27774 refactor: fix for #27773 by fixing string replacement method while renaming doc
  frappe/core/doctype/doctype/doctype.py
Labels: add-test-cases

#27907 fix: cli helper wrapper (oversight #27753)
  frappe/utils/bench_helper.py
Labels: add-test-cases

#27901 Sentry fixes from support
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#27913 fix: default to frappe logo when more than 2 app logos are present
  frappe/core/doctype/navbar_settings/navbar_settings.py
  frappe/www/login.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#27924 feat: Added placeholder docfield, customize form field, and custom field
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/custom/doctype/custom_field/custom_field.json
  frappe/custom/doctype/custom_field/custom_field.py
  frappe/custom/doctype/customize_form/customize_form.py
  frappe/custom/doctype/customize_form_field/customize_form_field.json
  frappe/custom/doctype/customize_form_field/customize_form_field.py
Labels: backport version-15-hotfix

#27929 fix/edi support
  frappe/desk/reportview.py
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Labels: add-test-cases

#27908 feat(Workspace): user can now add doctype, page, report, external url as workspace and get easy access on sidebar
  cypress/integration/workspace.js
  cypress/integration/workspace_blocks.js
  frappe/desk/desktop.py
  frappe/desk/doctype/workspace/workspace.json
  frappe/desk/doctype/workspace/workspace.py
  frappe/public/js/frappe/ui/sidebar.js
  frappe/public/js/frappe/utils/utils.js
  frappe/public/js/frappe/views/workspace/workspace.js
Labels: add-test-cases

#27931 Feat: sidebar with log links
  frappe/desk/form/load.py
  frappe/integrations/doctype/webhook/webhook.py
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.json
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.py
  frappe/public/js/frappe/db.js
  frappe/public/js/frappe/form/sidebar/form_sidebar.js
  frappe/public/js/frappe/form/templates/form_sidebar.html
Labels: add-test-cases
