Repository frappe/frappe, pull requests merged in 2025-01, with the labels that each got.

#28888 fix: Center /me, some other pages and fix /logout
  frappe/public/js/frappe-web.bundle.js
  frappe/public/js/frappe/utils/logout.js
  frappe/www/logout.html
  frappe/www/logout.py
  frappe/www/me.css
  frappe/www/third_party_apps.html
  frappe/www/update-password.html
Labels: add-test-cases

#28981 perf: Don't query redirects on existing session
  frappe/auth.py
  frappe/tests/test_perf.py
Labels: add-test-cases

#28977 fix: duplicate/copy doc
  frappe/core/doctype/user/user.json
  frappe/public/js/frappe/model/create_new.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#29006 refactor: temporary key for child rows
  frappe/desk/form/save.py
  frappe/model/base_document.py
Labels: add-test-cases

#29030 perf: Avoid parsing same field repeatedly
  frappe/utils/data.py
Labels: add-test-cases

#29031 perf: skip perm checking on property setters
  frappe/custom/doctype/property_setter/property_setter.py
Labels: add-test-cases

#29033 perf: Evict site cache only on `frappe.clear_cache()`
  frappe/__init__.py
Labels: add-test-cases

#29034 test: undo breaking change to test-fixture regeneration
  frappe/deprecation_dumpster.py
Labels: add-test-cases

#29036 perf: Skip updating defaults when nothing has changed
  frappe/defaults.py
Labels: add-test-cases

#28988 perf: reduce klicks for changing link value
  cypress/integration/control_link.js
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28910 fix: remove_plural_from _modal
  cypress/integration/multi_select_dialog.js
  frappe/public/js/frappe/form/multi_select_dialog.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#28912 fix: translation_chart_widget
  frappe/public/js/frappe/widgets/chart_widget.js
Labels: backport version-15-hotfix

#29049 perf: Don't validate types if there are no input types
  frappe/utils/typing_validations.py
Labels: add-test-cases

#28913 fix: form_builder_translation
  frappe/public/js/form_builder/components/Autocomplete.vue
  frappe/public/js/form_builder/components/Column.vue
  frappe/public/js/form_builder/components/Dropdown.vue
  frappe/public/js/form_builder/components/EditableInput.vue
  frappe/public/js/form_builder/components/controls/CheckControl.vue
  frappe/public/js/form_builder/components/controls/DataControl.vue
  frappe/public/js/form_builder/components/controls/TableControl.vue
Labels: backport version-15-hotfix

#29054 perf: Skip link checking on internal deletes
  frappe/core/page/permission_manager/permission_manager.py
  frappe/desk/doctype/event/event.py
  frappe/desk/form/document_follow.py
  frappe/desk/like.py
  frappe/email/doctype/email_group/email_group.py
  frappe/email/inbox.py
  frappe/model/rename_doc.py
  frappe/oauth.py
  frappe/permissions.py
Labels: add-test-cases

#29055 fix: prevent rl keys from getting evicted
  frappe/hooks.py
Labels: add-test-cases, backport version-15-hotfix

#29057 perf: Avoid checking server script map
  frappe/api/v2.py
  frappe/handler.py
  frappe/tests/test_perf.py
Labels: add-test-cases

#29063 feat: display two lines in image view
  frappe/public/scss/desk/image_view.scss
Labels: backport version-15-hotfix

#29066 fix: Make client cache work without redis too
  frappe/utils/redis_wrapper.py
Labels: add-test-cases

#29038 perf: Ignoring linked doctypes on cancel
  frappe/desk/form/linked_with.py
  frappe/public/js/frappe/form/form.js
Labels: add-test-cases

#29073 perf: hard-code `/app` routing even more aggresively
  frappe/website/path_resolver.py
Labels: add-test-cases

#29074 perf: do not validate user on session resume
  frappe/sessions.py
Labels: add-test-cases

#29090 perf: speedup date parsing
  frappe/utils/data.py
Labels: add-test-cases

#29058 feat(create_new): drop fieldtype check for filling from route
  frappe/public/js/frappe/model/create_new.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#29092 fix(export_file): check paths before writing
  frappe/modules/export_file.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#29105 fix: don't allow creating an app/site if there is a site/app with the same name already
  frappe/commands/site.py
  frappe/commands/utils.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#29094 fix: improve migrate reliablity
  frappe/migrate.py
Labels: add-test-cases

#29121 chore: partial backport of 23827 adding in `days_diff`
  frappe/utils/data.py
Labels: add-test-cases

#29127 build: switch to gunicorn fork
  frappe/commands/test_commands.py
  pyproject.toml
Labels: Skip CI, Run Server Tests

#29133 refactor: make scheduled_against mandatory
  frappe/core/doctype/scheduler_event/scheduler_event.json
  frappe/core/doctype/scheduler_event/scheduler_event.py
Labels: add-test-cases, backport version-15-hotfix

#29137 test: use environment's python
  frappe/commands/test_commands.py
Labels: Skip CI

#29138 fix: move ifnull logic to applicaiton for better orm support
  frappe/email/inbox.py
Labels: frappe-support, backport version-14-hotfix, backport version-15-hotfix

#29141 fix: in case of owner, always include owner in count data
  frappe/desk/listview.py
Labels: add-test-cases

#29145 perf: use client cache for metadata version
  frappe/__init__.py
  frappe/sessions.py
Labels: add-test-cases

#29146 fix: Forward `shared` flag to cache generator
  frappe/utils/redis_wrapper.py
Labels: backport version-15-hotfix

#29153 perf: Skip one dump + load on boot.json
  frappe/www/app.py
Labels: add-test-cases

#29154 perf: Dont send useless translations
  frappe/geo/country_info.py
Labels: Skip CI

#29163 chore: remove unused method
  frappe/translate.py
Labels: defer backport

#29156 fix(csvutils): drop sniffer code
  frappe/core/doctype/data_import/data_import.json
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/data_import/importer.py
  frappe/core/doctype/data_import/test_importer.py
  frappe/utils/csvutils.py
Labels: add-test-cases

#29171 fix(activity_log): strip html from full name before inserting
  frappe/core/doctype/activity_log/activity_log.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#29172 fix(user): strip html tags from user name
  frappe/core/doctype/user/user.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#29180 fix: edge case for redirects on `/`
  frappe/website/path_resolver.py
Labels: add-test-cases

#29123 fix(not_permitted_page): escape path
  frappe/website/page_renderers/not_permitted_page.py
Labels: add-test-cases, backport version-14-hotfix, backport version-15-hotfix

#29190 fix(Contact): export company name and department in vCard
  frappe/contacts/doctype/contact/contact.py
Labels: add-test-cases, backport version-15-hotfix

#29194 fix: don't override setstate
  frappe/model/base_document.py
Labels: add-test-cases

#29195 fix(DX): Log all exceptions in developer mode
  frappe/app.py
Labels: add-test-cases

#29199 chore: added ipv6 to hosts file
  frappe/commands/site.py
Labels: add-test-cases

#29212 refactor: Use @cached_property
  frappe/model/meta.py
Labels: add-test-cases

#29213 build!: Drop maxmind IP database
  attributions.md
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/sessions.py
  frappe/tests/test_geo_ip.py
  pyproject.toml
Labels: Skip CI

#29076 perf: speedup sessions code
  frappe/auth.py
  frappe/sessions.py
Labels: add-test-cases

#29218 perf: Do not set same cookies on every request
  frappe/auth.py
Labels: add-test-cases

#29219 perf: faster page view count queries
  frappe/website/doctype/web_page_view/web_page_view.json
  frappe/website/doctype/web_page_view/web_page_view.py
Labels: add-test-cases

#29221 perf: add cache-control headers on private files
  frappe/app.py
  frappe/utils/response.py
Labels: defer backport

#29227 fix(NamingPatch): convert numerics to str for regex match
  frappe/patches/v16_0/update_expression_series.py
Labels: add-test-cases

#28944 fix: set datepicker language
  frappe/public/js/frappe/form/controls/date_range.js
Labels: backport version-15-hotfix

#29181 perf: faster `LocalProxy`
  frappe/__init__.py
  frappe/tests/test_local_proxy.py
  pyproject.toml
Labels: Skip CI

#29869 fix: View logging fails if no referrer
  frappe/utils/data.py
Labels: backport version-14-hotfix

#29876 fix: Clear all cache after rebuilding assets
  frappe/build.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#29874 fix: Set prepared report even if req times out
  frappe/core/doctype/report/report.py
Labels: Skip CI, defer backport

#29223 fix(website): Clear cached list of child top bar items
  frappe/website/doctype/website_settings/website_settings.py
Labels: add-test-cases

#29911 chore(SocketIO): log connect error to console
  frappe/public/js/frappe/socketio_client.js
Labels: backport version-15-hotfix

#29885 refactor: translate tooltip text of page
  frappe/public/js/frappe/ui/page.js
Labels: backport version-15-hotfix

#29884 refactor: modify error message for query report with insufficient permissions
  frappe/desk/query_report.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30029 fix: Make sending emails via Sengrid work
  frappe/email/doctype/email_account/email_account.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#29916 fix: don't skip perm check when Apply Strict User Permissions is enabled
  frappe/model/mapper.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30031 fix: call grid_row field onchange with current row
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#30042 refactor(printview): first check for doc permissions, then for website
  frappe/www/printview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#29997 feat: HTTP caching on API endpoints
  cypress/integration/control_link.js
  cypress/integration/kanban.js
  frappe/__init__.py
  frappe/app.py
  frappe/client.py
  frappe/desk/doctype/event/event.py
  frappe/desk/doctype/notification_log/notification_log.py
  frappe/desk/reportview.py
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/toolbar.js
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/notifications/notifications.js
  frappe/tests/test_caching.py
  frappe/utils/caching.py
  frappe/website/utils.py
  frappe/www/website_script.py
Labels: Skip CI, Run UI Tests

#29132 fix: datetime utils
  frappe/public/js/frappe/utils/datetime.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#30884 fix: use strip_html() instead of escape_html()
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30889 chore: bump actions/cache to v4 in boilerplate
  frappe/utils/boilerplate.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30893 feat(Data Import): delete Data Import Log on trash
  frappe/core/doctype/data_import/data_import.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#29888 feat: fixed session duration + better visibility of changes done via `bench browse`
  frappe/auth.py
  frappe/commands/site.py
  frappe/core/doctype/version/version.py
  frappe/public/js/frappe/form/footer/version_timeline_content_builder.js
  frappe/sessions.py
Labels: defer backport

#30898 fix: don't allow attaching a file to a child table in a new document
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#30899 fix(auto_repeat): take end date into consideration
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30906 Revert "fix: Always reset globals on cached templates"
  frappe/utils/jinja.py
Labels: Skip CI

#30907 fix(report_view): skip read_only condition checking for reportview
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#30913 fix(attach): fix crash on web page builder
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#30910 feat: additional options for timespan filter
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/utils/data.py
Labels: backport version-15-hotfix

#30896 fix: reorder session initialization in HTTPRequest to Fix Language Handling
  frappe/auth.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30929 fix(sanitize_column): add newlines to the regex check
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#30931 fix(web_form): allow loading translations for more strings
  frappe/website/doctype/web_form/web_form.py
Labels: squash, backport version-15-hotfix

#31064 fix: datetime picker ui issue
  frappe/public/js/frappe/utils/datetime.js
Labels: backport version-14-hotfix, backport version-15-hotfix
