Repository frappe/frappe, pull requests merged in 2025-02, with the labels that each got.

#30938 perf: Throttle UX features aggresively on large tables
  frappe/database/database.py
  frappe/database/mariadb/database.py
  frappe/database/postgres/database.py
  frappe/model/meta.py
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/tests/test_db.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31084 build: bump gunicorn
  pyproject.toml
Labels: defer backport

#30943 refactor: move user to relevant routes on trying to login to FC
  frappe/integrations/frappe_providers/frappecloud_billing.py
  frappe/public/js/billing.bundle.js
Labels: backport version-15-hotfix

#31098 perf: speedup docinfo - skip tags when not used
  frappe/desk/doctype/tag_link/tag_link.json
  frappe/desk/doctype/tag_link/tag_link.py
  frappe/desk/form/load.py
  frappe/email/doctype/email_account/email_account.py
Labels: Skip CI, Run Server Tests

#31100 fix: move child table checks to within `set_input()`
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31108 chore: trigger release PRs early
  .github/workflows/initiate_release.yml
Labels: Skip CI

#30911 fix: check if attached doctype exists
  frappe/core/doctype/file/file.js
  frappe/core/doctype/file/file.py
Labels: backport version-15-hotfix

#31123 fix: clear print format selector if default print format is absent
  frappe/printing/page/print/print.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31127 fix: only add expression if truthy
  frappe/patches/v16_0/update_expression_series.py
Labels: backport version-15-hotfix

#31132 Revert "fix: only add expression if truthy"
  frappe/patches/v16_0/update_expression_series.py
Labels: Skip CI

#31141 build!: bump RQ to 2.x
  frappe/core/doctype/data_import/data_import.py
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
  frappe/utils/background_jobs.py
  pyproject.toml
Labels: do not backport

#31090 feat: add support for sticky columns in child table
  frappe/core/doctype/docfield/docfield.json
  frappe/core/doctype/docfield/docfield.py
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Labels: do not backport

#31120 fix: filter doesnt become null
  frappe/public/js/frappe/ui/filters/filter.js
Labels: backport version-15-hotfix

#31202 Revert "Merge pull request #28363 from frappe/expr-series"
  frappe/core/doctype/doctype/doctype.py
  frappe/model/naming.py
  frappe/patches.txt
  frappe/patches/v16_0/update_expression_series.py
  frappe/tests/test_naming.py
Labels: Skip CI, backport version-15-hotfix

#29131 feat: (UI) Show document title in Global Search result
  frappe/public/js/frappe/ui/toolbar/search_utils.js
  frappe/utils/global_search.py
Labels: add-test-cases

#31216 perf: Only filter last 3 months of data by default on large tables
  frappe/model/meta.py
  frappe/public/js/frappe/list/list_view.js
  frappe/public/js/frappe/ui/filters/filter.js
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31225 Revert "Merge pull request #30896 from dhiashalabi/fix/reorder-setlang-initialization"
  frappe/auth.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#31221 fix: prefill values in the query report's multi select
  frappe/public/js/frappe/views/reports/query_report.js
  frappe/public/scss/desk/page.scss
Labels: backport version-15-hotfix

#31242 fix(get_linked_docs): check if user can read doctype before fetching a list
  frappe/desk/form/linked_with.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31195 fix(auto email report): add get_data function to multiselectlist filters
  frappe/email/doctype/auto_email_report/auto_email_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#29862 refactor: add validation and refactor code of auto repeat
  frappe/automation/doctype/auto_repeat/auto_repeat.json
  frappe/automation/doctype/auto_repeat/auto_repeat.py
  frappe/hooks.py
Labels: backport version-15-hotfix

#31259 Revert "fix(_get_communications): clean email content before returning"
  frappe/desk/form/load.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31268 fix: set `report_ref_doctype` for custom reports
  frappe/desk/desktop.py
Labels: backport version-15-hotfix

#31280 fix: Avoid recency filters on dashboard connection filters
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#31284 fix: check scheduler process status in health report
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/utils/scheduler.py
Labels: backport version-15-hotfix

#31290 fix(report_view): don't disallow editing just if a table exists
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31295 fix: hide create button for cancelled doc in dashboard links
  frappe/public/js/frappe/form/form.js
Labels: backport version-15-hotfix

#29200 refactor: Frappe Mail API
  frappe/email/doctype/email_account/email_account.py
  frappe/email/frappemail.py
Labels: add-test-cases

#31215 fix(report): add custom column based on link column
  cypress/integration/query_report.js
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-15-hotfix

#31308 fix(send_message): escape HTML in the text
  frappe/www/contact.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31334 fix: redo some fixes to ensure cypress passes
  frappe/__init__.py
  frappe/core/doctype/communication/email.py
  frappe/realtime.py
  frappe/website/doctype/web_form/web_form.py
Labels: Run UI Tests, backport version-14-hotfix, backport version-15-hotfix

#31328 fix: Update phonenumber library to handle new GY phone number format
  pyproject.toml
Labels: backport version-14-hotfix, backport version-15-hotfix

#31289 fix(email_account): select backend_app_flow when retrieving email_account
  frappe/email/doctype/email_account/email_account.py
Labels: backport version-15-hotfix

#28961 feat: (IMAP) Always BCC
  frappe/email/doctype/email_account/email_account.json
  frappe/email/doctype/email_account/email_account.py
  frappe/email/doctype/email_queue/email_queue.py
Labels: backport version-15-hotfix

#31357 perf: get reqd fields only
  frappe/model/base_document.py
Labels: backport version-15-hotfix

#31364 fix(EmailAccount): Fix always_bcc condition
  frappe/email/doctype/email_queue/email_queue.py
Labels: backport version-15-hotfix

#31363 fix(assign_to): Check if HTML description is empty
  frappe/desk/form/assign_to.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31361 feat: specify row compression for tables
  frappe/core/doctype/communication/communication.json
  frappe/core/doctype/deleted_document/deleted_document.json
  frappe/core/doctype/doctype/doctype.json
  frappe/core/doctype/doctype/doctype.py
  frappe/core/doctype/doctype/test_doctype.py
  frappe/core/doctype/version/version.json
  frappe/core/doctype/view_log/view_log.json
  frappe/database/mariadb/schema.py
  frappe/email/doctype/email_queue/email_queue.json
  frappe/website/doctype/web_page_view/web_page_view.json
Labels: defer backport

#31368 fix: erase cron frequency when type changes
  frappe/core/doctype/server_script/server_script.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31321 feat: Allow more colours in the calendar view
  frappe/public/js/frappe/views/calendar/calendar.js
Labels: backport version-15-hotfix

#31372 fix(print): handle custom format with custom module
  frappe/www/printview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31378 fix(workflow_action): Pass context as dict to render template
  frappe/workflow/doctype/workflow_action/workflow_action.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31382 fix: let's customize grid_page_length
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Labels: defer backport

#31389 perf: improved `DocStatus` API and other minor improvements
  frappe/desk/form/save.py
  frappe/model/base_document.py
  frappe/model/docstatus.py
  frappe/model/document.py
  frappe/model/workflow.py
  frappe/tests/test_docstatus.py
Labels: backport version-15-hotfix

#31396 perf: cast int-link field filters to string
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31377 fix: allow disabling auto-dormancy, disable on self hosted
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/user/user.json
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/tests/test_scheduler.py
  frappe/utils/frappecloud.py
  frappe/utils/scheduler.py
Labels: Skip CI, Run Server Tests

#31417 test(health_report): avoid silently failing in tests
  frappe/desk/doctype/system_health_report/system_health_report.py
Labels: backport version-15-hotfix

#31177 fix: always persist all indexes added via db.add_index
  frappe/commands/site.py
  frappe/commands/test_commands.py
  frappe/core/doctype/recorder/recorder.py
  frappe/database/mariadb/database.py
Labels: defer backport

#31386 fix: add check for child doctype if it has a valid parent
  frappe/desk/form/linked_with.py
Labels: backport version-15-hotfix

#31360 fix: check if duplicate_file url matches incoming file url
  frappe/core/doctype/file/file.py
Labels: backport version-15-hotfix

#31428 fix: handle large URL on webhook logs
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.json
  frappe/integrations/doctype/webhook_request_log/webhook_request_log.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31446 perf: workspace cache thrashing
  frappe/desk/desktop.py
Labels: backport develop, backport version-14-hotfix
