Repository frappe/frappe, pull requests merged in 2025-03, with the labels that each got.

#31473 fix: remove flag to ensure some checks run
  frappe/client.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31457 fix(quick_entry): Show submit option only if User can
  frappe/public/js/frappe/form/quick_entry.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31486 fix: template error on custom print format
  frappe/www/printview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31483 fix(data_import): sanitize preview data and filename
  frappe/public/js/frappe/data_import/import_preview.js
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31381 feat: set report filters from route options
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-15-hotfix

#31469 feat: translate report data
  frappe/desk/query_report.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-15-hotfix

#31267 fix: Clearer message for setting default outgoing email account
  frappe/email/doctype/email_account/email_account.py
Labels: backport version-15-hotfix

#31512 fix: correct data while exporting with translate values
  frappe/desk/reportview.py
Labels: backport version-15-hotfix

#31511 fix(UX): Show reason for read only form in headline
  frappe/public/js/frappe/form/form.js
Labels: backport version-15-hotfix

#31516 chore: fix typo in new `DocStatus` constant
  frappe/desk/form/save.py
  frappe/model/docstatus.py
  frappe/model/document.py
  frappe/tests/test_docstatus.py
Labels: backport version-15-hotfix

#31535 Revert "chore: update datatable version to add support for sticky column (backport #31454)"
  frappe/public/scss/desk/frappe_datatable.scss
  package.json
  yarn.lock
Labels: Skip CI

#31531 fix(awesomebar): sanitise text when searching in list views
  frappe/public/js/frappe/ui/toolbar/awesome_bar.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31526 fix: check properly for blacklisted function usage
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31538 fix(DX): Limit cprofiler output to 200 lines
  frappe/recorder.py
Labels: backport version-15-hotfix

#31541 feat: add login via fc button in login page
  frappe/www/login.html
  frappe/www/login.py
Labels: backport version-15-hotfix

#31410 fix: Run on_session_creation on OAuth logins
  frappe/auth.py
  frappe/utils/oauth.py
Labels: backport version-15-hotfix

#31557 fix: search instead of match
  frappe/database/query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31522 fix(get_url): allow disabling host header override
  frappe/core/doctype/user/user.py
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31576 fix: override sanitized column name
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31590 perf: restrict doctypes to update and fetch fields in one go
  frappe/custom/doctype/custom_field/custom_field.py
Labels: backport version-15-hotfix

#31594 perf: queue auto email report separately
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31552 fix: correct permission query condition in Dashboard
  frappe/desk/doctype/dashboard/dashboard.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31581 fix(list_view): use more filter type values to set value on new entry
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#31584 fix(db_query): improve regex
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31615 fix(email_account): make attachments public by default
  frappe/email/doctype/email_account/email_account.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#31612 fix: add currency precision formatting while exporting report
  frappe/desk/query_report.py
Labels: backport version-15-hotfix

#31626 fix: check permission on new doc
  frappe/handler.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31630 fix: custom column export issue in report
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31640 feat: make translate report data configurable
  frappe/core/doctype/report/report.js
  frappe/core/doctype/report/report.json
  frappe/core/doctype/report/report.py
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-15-hotfix

#31656 ci: ignore "skip-release-notes" when generating release notes
  .github/release.yml
Labels: backport version-14-hotfix, backport version-15-hotfix

#31669 revert: "fix(UX): Show reason for read only form in headline (#31511)"
  frappe/public/js/frappe/form/form.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31678 fix: option to opt out of automatic filters
  frappe/desk/doctype/list_view_settings/list_view_settings.json
  frappe/desk/doctype/list_view_settings/list_view_settings.py
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#31681 fix(report): show add_total_row checkbox if report_type is not 'Repor…
  frappe/core/doctype/report/report.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#28921 perf: don't parse comments just to get comment count
  frappe/core/doctype/comment/test_comment.py
  frappe/model/db_query.py
Labels: add-test-cases

#31692 fix: increase length for value field in sms parameter
  frappe/core/doctype/sms_parameter/sms_parameter.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#31693 fix: report header not translated
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31679 fix(user): stricter name validation
  frappe/core/doctype/user/user.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31699 fix: avoid overriding saved list filters
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#31551 fix: Use jQuery.text() instead of xss_sanitise
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31633 fix: Translate link fields in Webform
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-15-hotfix

#31190 fix: support "Timespan" in `evaluate_filters`
  frappe/tests/test_utils.py
  frappe/utils/data.py
Labels: backport version-15-hotfix

#31388 fix: confirm before removing attachment on clear button in attach control
  frappe/public/js/frappe/form/controls/attach.js
Labels: backport version-15-hotfix

#31255 fix: Encode URL filters to handle special characters
  frappe/utils/data.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31521 fix: Notification get_receiver_fields phone field function
  frappe/email/doctype/notification/notification.js
Labels: backport version-15-hotfix

#31730 build: pin exact version of mysqlclient
  pyproject.toml
Labels: Skip CI

#31743 perf: Don't update list view settings on every query
  frappe/model/db_query.py
Labels: Skip CI

#31748 perf: remove repeated calls to expensive function (and other improvements)
  frappe/desk/reportview.py
  frappe/model/__init__.py
  frappe/model/base_document.py
  frappe/model/db_query.py
  frappe/model/meta.py
Labels: backport version-15-hotfix

#31753 fix: return 1 or 0 instead of boolean for `is_fc_site` boot data
  frappe/website/utils.py
Labels: backport version-15-hotfix

#31752 fix(user): make attachments in email signature public
  frappe/core/doctype/user/user.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#31757 fix: give priority to user setting on sorting
  frappe/public/js/frappe/ui/sort_selector.js
Labels: backport version-15-hotfix

#31761 feat: show helpdesk and crm banner on sidebar
  frappe/public/js/frappe/list/list_sidebar.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31523 fix(mariadb): set collation in connection
  frappe/database/mariadb/database.py
  frappe/patches.txt
  frappe/patches/v14_0/fix_user_settings_collation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31718 fix: respect `override_whitelisted_method` in `map_docs`
  frappe/__init__.py
  frappe/api/v2.py
  frappe/handler.py
  frappe/model/mapper.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31723 fix(UX): Show reason for read only form in headline
  frappe/public/js/frappe/form/form.js
Labels: backport version-15-hotfix

#31653 ci: add "skip-release-notes" label to translation PRs
  crowdin.yml
Labels: backport version-15-hotfix, skip-release-notes

#31778 ci: configure language mapping for crowdin
  crowdin.yml
Labels: skip-release-notes

#31779 chore: enable translated languages
  frappe/geo/languages.csv
Labels: backport version-15-hotfix, skip-release-notes

#31781 fix(mysqlclient): set collation in connection
  frappe/database/mariadb/mysqlclient.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31787 fix: Kanban view link draggable issue
  frappe/public/js/frappe/views/kanban/kanban_board.bundle.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31793 fix: prevent layout shifts due to scrollbar
  frappe/public/scss/desk/sidebar.scss
Labels: do not backport

#31782 feat: added api to get/update onboarding status
  frappe/onboarding.py
Labels: backport version-15-hotfix

#31783 fix: "Undefined" shown in global search results
  frappe/public/js/frappe/ui/toolbar/search_utils.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#31772 refactor: Google Calendar
  frappe/desk/doctype/event/event.py
  frappe/hooks.py
  frappe/integrations/doctype/google_calendar/google_calendar.py
  frappe/integrations/doctype/google_settings/google_settings.py
  frappe/website/doctype/website_settings/website_settings.py
Labels: backport version-15-hotfix

#31819 fix: shutdown posthog after job
  frappe/utils/background_jobs.py
  frappe/utils/telemetry.py
Labels: backport version-15-hotfix

#31842 fix(Data Import): allow Print Format
  frappe/core/doctype/data_import/data_import.py
Labels: backport version-15-hotfix

#31806 fix(migrate): Update existing ScheduledJobType records
  frappe/core/doctype/scheduled_job_type/scheduled_job_type.py
Labels: backport version-15-hotfix

#31848 fix: make arrows left in widgets in rtl languages
  frappe/public/js/frappe/widgets/quick_list_widget.js
  frappe/public/js/frappe/widgets/shortcut_widget.js
Labels: backport version-15-hotfix

#31854 fix: show full description of link selector
  frappe/public/js/frappe/form/link_selector.js
Labels: backport version-15-hotfix

#31831 fix: Set pointer-events to none on frappe-control highlight pseudo element
  frappe/public/scss/desk/global.scss
Labels: backport version-15-hotfix

#31867 fix: configure if email is sent to creator
  frappe/workflow/doctype/workflow_action/workflow_action.py
  frappe/workflow/doctype/workflow_transition/workflow_transition.json
  frappe/workflow/doctype/workflow_transition/workflow_transition.py
Labels: backport version-15-hotfix

#31874 ci: fix language code mapping
  crowdin.yml
Labels: skip-release-notes

#31879 ci: invert language mapping
  crowdin.yml
Labels: Skip CI, backport version-15-hotfix, skip-release-notes

#31279 feat: datepicker_serbian
  frappe/public/js/frappe/form/controls/datepicker_i18n.js
Labels: squash, backport version-15-hotfix

#31891 fix: only run patch for MariaDB
  frappe/patches/v14_0/fix_user_settings_collation.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31896 fix: add context to translations in email dialog
  frappe/public/js/frappe/views/communication.js
Labels: backport version-15-hotfix

#31904 refactor(minor): Backups Page
  frappe/desk/doctype/system_health_report/system_health_report.py
  frappe/desk/page/backups/backups.js
  frappe/desk/page/backups/backups.py
Labels: backport develop

#31911 fix: position of grid row when open
  frappe/public/scss/common/grid.scss
Labels: do not backport

#31914 fix: blank page on report when no data found
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-15-hotfix

#31927 fix: sync currency field on migrate
  frappe/core/doctype/system_settings/system_settings.py
  frappe/patches.txt
Labels: backport version-15-hotfix

#31937 fix: redirect to report from workspace
  frappe/desk/doctype/workspace/workspace.py
  frappe/desk/doctype/workspace_shortcut/workspace_shortcut.json
  frappe/desk/doctype/workspace_shortcut/workspace_shortcut.py
  frappe/desk/query_report.py
  frappe/public/js/frappe/widgets/shortcut_widget.js
Labels: backport version-15-hotfix

#31919 fix(doctype): Dont reset owner in developer_mode
  frappe/core/doctype/doctype/doctype.py
Labels: backport develop

#31924 refactor(Data Import): whitelisted methods
  frappe/core/doctype/data_import/data_import.py
Labels: backport version-14-hotfix, backport version-15-hotfix, skip-release-notes

#31938 fix: condition based alert for Submittable DocTypes while Save and Submit
  frappe/desk/form/save.py
Labels: backport version-15-hotfix

#31960 fix: auto email report - type missmatch error in dynamic report filters
  frappe/email/doctype/auto_email_report/auto_email_report.py
Labels: backport version-15-hotfix

#31735 feat: Configure custom path when backing up to S3
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.json
  frappe/integrations/doctype/s3_backup_settings/s3_backup_settings.py
Labels: defer backport

#31912 fix: make x-axis label take less space
  frappe/public/js/frappe/utils/utils.js
  package.json
  yarn.lock
Labels: backport version-15-hotfix

#31974 fix: use response html when use_html is 1
  frappe/automation/doctype/auto_repeat/auto_repeat.js
Labels: backport version-15-hotfix
