Repository frappe/frappe, pull requests merged in 2025-10, with the labels that each got.

#34126 fix(Grid): let focus jump directly inside the first input of the first row
  cypress/integration/form.js
  frappe/public/js/frappe/form/controls/table.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Labels: backport version-15-hotfix

#34060 fix(Web Form): translations
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33491 fix: prevent row-size limit error
  frappe/database/schema.py
  frappe/tests/test_db_update.py
Labels: backport version-15-hotfix

#34289 fix: escape HTML in filename before display
  frappe/core/doctype/file/file.py
  frappe/core/doctype/file/file_list.js
  frappe/public/js/frappe/views/file/file_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#33756 feat: allow to disable standard pages
  frappe/website/doctype/about_us_settings/about_us_settings.json
  frappe/website/doctype/about_us_settings/about_us_settings.py
  frappe/website/doctype/contact_us_settings/contact_us_settings.json
  frappe/website/doctype/contact_us_settings/contact_us_settings.py
  frappe/www/about.py
  frappe/www/contact.py
Labels: inactive

#34306 fix(ldap): escape filter characters
  frappe/integrations/doctype/ldap_settings/ldap_settings.py
Labels: backport version-14-hotfix, backport version-15-hotfix
