Repository frappe/frappe, pull requests merged in 2025-07, with the labels that each got.

#33189 refactor: utility method to fetch custom sql functions and procedure
  frappe/database/database.py
Labels: backport version-14-hotfix, backport version-15-hotfix, skip-release-notes

#33196 fix(data_import): make our link field checks case-insensitive
  frappe/core/doctype/data_import/importer.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33213 chore: simplify `TypeAdapter`
  frappe/utils/typing_validations.py
Labels: skip-release-notes

#33217 refactor: improve typing validation utils
  frappe/utils/typing_validations.py
Labels: skip-release-notes

#33222 fix(form_sidebar): Make user field the focus field
  frappe/public/js/frappe/form/sidebar/assign_to.js
Labels: backport version-15-hotfix

#33236 fix: frappe.local has not _realtime_log
  frappe/realtime.py
Labels: backport version-15-hotfix

#33231 chore: add translation function to file_backup_notification template
  frappe/templates/emails/file_backup_notification.html
Labels: skip-release-notes

#33100 fix: tighten function check in `validate_order_by_and_group_by`
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33244 fix: allow child-to-parent grouping in report view
  frappe/public/js/frappe/ui/group_by/group_by.js
Labels: backport version-15-hotfix

#33263 fix: remove duplicate call to start test
  frappe/testing/result.py
Labels: skip-release-notes

#33275 fix: convert as float
  frappe/desk/doctype/dashboard_chart/dashboard_chart.py
Labels: backport version-15-hotfix

#33274 fix(data_import): only convert link values to lowercase for mariadb
  frappe/core/doctype/data_import/importer.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33316 fix: add module information to property setter
  frappe/__init__.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33309 fix: dont trigger change when date/datetime is on grid
  frappe/public/js/frappe/form/controls/date.js
  frappe/public/js/frappe/form/controls/datetime.js
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#33331 fix: replace get_last_doc with get_lazy_doc in Web Form fetch for edit
  frappe/website/doctype/web_form/web_form.py
Labels: do not backport

#33356 fix: copy doctype not working
  frappe/public/js/frappe/desk.js
  frappe/public/js/frappe/model/sync.js
Labels: backport version-15-hotfix

#33396 fix: link field title not reliable
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-15-hotfix

#29158 fix: prevent logout due to empty "Password" field
  frappe/auth.py
  frappe/utils/password.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33429 fix: Default currency symbol in query report total row
  frappe/public/js/frappe/views/reports/query_report.js
Labels: backport version-15-hotfix

#33022 fix: remove Jinja placeholder for title on web template when it is not defined
  frappe/website/web_template/hero/hero.html
  frappe/website/web_template/hero_with_right_image/hero_with_right_image.html
  frappe/website/web_template/section_with_collapsible_content/section_with_collapsible_content.html
  frappe/website/web_template/section_with_cta/section_with_cta.html
  frappe/website/web_template/section_with_embed/section_with_embed.html
  frappe/website/web_template/section_with_image/section_with_image.html
  frappe/website/web_template/section_with_image_grid/section_with_image_grid.html
  frappe/website/web_template/section_with_small_cta/section_with_small_cta.html
Labels: defer backport

#33440 fix: restrict workflow actions in report view
  frappe/public/js/frappe/views/reports/report_view.js
Labels: backport version-15-hotfix

#33446 Update base_document.py to resolve error "AttributeError: 'NoneType' object has no attribute 'fieldtype'"
  frappe/model/base_document.py
Labels: backport version-15-hotfix

#33418 fix(email_group): prevent `StopIteration` when running import on a doctype without email fields
  frappe/email/doctype/email_group/email_group.py
Labels: backport version-15-hotfix
