Repository frappe/frappe, pull requests merged in 2025-08, with the labels that each got.

#28786 fix: Allow cancellation/rename of doctypes linked by a virtual custom field
  frappe/model/rename_doc.py
Labels: add-test-cases

#33529 fix: translate dashboards legends
  frappe/public/js/frappe/views/reports/report_utils.js
Labels: defer backport

#32638 refactor: Update UI for API key generation dialog
  frappe/core/doctype/user/user.js
  frappe/core/doctype/user/user.json
  frappe/core/doctype/user/user.py
Labels: backport version-15-hotfix, skip-release-notes

#33541 fix: jinja template had missing `}}`
  frappe/templates/emails/file_backup_notification.html
Labels: Skip CI, backport version-15-hotfix

#33543 feat: format date and date-time fields on export
  frappe/utils/xlsxutils.py
Labels: defer backport

#33550 fix: Commit changes to installed apps
  frappe/installer.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33557 fix: don't carry forward cc/bcc if not reply all
  frappe/public/js/frappe/views/communication.js
Labels: backport version-15-hotfix

#33562 fix: set sender in compose mail if from timeline
  frappe/public/js/frappe/form/footer/form_timeline.js
Labels: backport version-15-hotfix

#33578 fix: documentation link email linking to doc
  frappe/email/doctype/email_account/email_account.json
Labels: backport version-15-hotfix, skip-release-notes

#33586 refactor: fetch openID config in backend
  frappe/integrations/doctype/connected_app/connected_app.js
  frappe/integrations/doctype/connected_app/connected_app.py
Labels: backport version-15-hotfix, skip-release-notes

#33605 fix: version diff for empty datetime fields
  frappe/core/doctype/version/version.py
Labels: backport version-15-hotfix

#33609 fix: keyboard navigation via tab on forms
  frappe/public/js/frappe/form/controls/link.js
  frappe/public/js/frappe/form/controls/table.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/js/frappe/form/layout.js
  frappe/public/js/frappe/form/section.js
  frappe/public/js/frappe/form/tab.js
  frappe/public/js/frappe/ui/keyboard.js
  frappe/public/scss/common/buttons.scss
  frappe/public/scss/common/grid.scss
  frappe/public/scss/desk/form.scss
Labels: backport version-15-hotfix

#33618 chore: move docs link to documentation instead of description
  frappe/email/doctype/email_account/email_account.json
Labels: skip-release-notes

#33621 chore(commands/version)!: use `plain` output instead of `legacy` by default
  frappe/commands/utils.py
Labels: skip-release-notes

#33610 fix(nestedset): clear user permissions cache when a new doc is created, if applicable
  frappe/utils/nestedset.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33622 fix: validate social login key JSON fields
  frappe/integrations/doctype/social_login_key/social_login_key.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33643 chore(deps): bump pypdf
  pyproject.toml
Labels: skip-release-notes

#33659 fix: populate filters for number card of type report
  frappe/public/js/frappe/widgets/number_card_widget.js
Labels: backport version-15-hotfix

#33660 feat: Show progress of long migration queries
  frappe/migrate.py
Labels: backport version-15-hotfix

#33684 feat: allow Context for translation in DocField.label for Table DocField
  frappe/public/js/frappe/form/grid.js
Labels: backport version-15-hotfix

#33718 fix: only consider the Frappe and ERPNext apps for setup completion checks
  frappe/__init__.py
  frappe/core/doctype/installed_applications/installed_applications.py
Labels: backport develop

#33724 fix(auto repeat): validate date
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33722 fix(assign_to): adding null/NoneType descriptions was broken
  frappe/desk/form/assign_to.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33737 refactor(Listview): replace box-shadow with border
  frappe/public/scss/desk/list.scss
Labels: skip-release-notes

#33761 fix(print-format): typo in doctype
  frappe/printing/doctype/print_format/print_format.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#33783 fix: sort file/dir names for fixtures
  frappe/utils/fixtures.py
Labels: backport version-15-hotfix

#33823 fix: remove context leakage from web form button labels
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-15-hotfix

#33812 feat: format IBANs in Data field
  frappe/model/__init__.py
  frappe/public/js/frappe/form/controls/data.js
Labels: backport version-15-hotfix

#33790 Fix PostgreSQL compatibility in remove_implicit_primary_key patch
  frappe/patches/v15_0/remove_implicit_primary_key.py
Labels: backport version-15-hotfix

#33835 fix(FrappeMail API): raise HTTP errors explicitly
  frappe/email/frappemail.py
Labels: squash, do not backport

#33822 fix(web_form): allow deletion of an item if you have permission
  frappe/public/js/frappe/web_form/web_form.js
  frappe/website/doctype/web_form/templates/web_form.html
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-14-hotfix, backport version-15-hotfix
