Repository frappe/frappe, pull requests merged in 2025-09, with the labels that each got.

#33841 feat: format IBAN in read-only fields
  frappe/model/base_document.py
  frappe/public/js/frappe/form/controls/data.js
  frappe/public/js/frappe/form/formatters.js
  frappe/public/js/frappe/utils/utils.js
  frappe/tests/test_utils.py
  frappe/utils/__init__.py
Labels: backport version-15-hotfix

#33860 fix(FrappeMail): chunk upload `raw_message`
  frappe/email/frappemail.py
Labels: squash, do not backport

#33534 fix: resolve issue in validate_user_pass_login frappe#33528
  frappe/core/doctype/system_settings/system_settings.py
Labels: backport version-15-hotfix

#33865 fix(db_query): check for some more functions
  frappe/model/db_query.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#33872 fix(server_script): check for type being scheduler AND frequency being cron to show cron field
  frappe/core/doctype/server_script/server_script.json
Labels: backport version-14-hotfix, backport version-15-hotfix

#32053 fix: respect duration options in formatting
  cypress/integration/utils.js
  frappe/public/js/frappe/utils/utils.js
Labels: squash, backport version-14-hotfix, backport version-15-hotfix

#33894 feat: allow users to define max signups per hour
  frappe/core/doctype/system_settings/system_settings.json
  frappe/core/doctype/system_settings/system_settings.py
  frappe/core/doctype/user/user.py
Labels: backport version-15-hotfix

#33857 refactor: prefer list patterns provided by babel
  frappe/tests/test_utils.py
  frappe/utils/data.py
Labels: squash

#33929 chore: typo in comments
  frappe/utils/nestedset.py
Labels: skip-release-notes

#33963 fix: don't try to scan encrypted PDFs
  frappe/core/doctype/file/file.py
  frappe/utils/pdf.py
Labels: backport version-15-hotfix

#33980 fix: populate field dropdown if document type is selected
  frappe/desk/doctype/bulk_update/bulk_update.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#33996 fix: gracefully handle missing `from` header in email
  frappe/email/receive.py
  frappe/utils/__init__.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#34000 fix: print format for reports
  frappe/printing/doctype/print_format/print_format.js
  frappe/printing/doctype/print_format/print_format.json
  frappe/printing/doctype/print_format/print_format.py
  frappe/public/js/frappe/form/print_utils.js
Labels: backport version-15-hotfix

#34007 fix: add new row after last field while navigating via keyboard
  frappe/public/js/frappe/form/controls/table.js
  frappe/public/js/frappe/form/grid.js
  frappe/public/js/frappe/form/grid_row.js
  frappe/public/scss/common/grid.scss
Labels: backport version-15-hotfix

#33755 feat: active app telemetry
  frappe/api/__init__.py
  frappe/hooks.py
  frappe/pulse/__init__.py
  frappe/pulse/app_heartbeat_event.py
  frappe/pulse/client.py
  frappe/pulse/utils.py
  frappe/utils/response.py
Labels: backport version-15-hotfix

#33978 chore: enable Norsk Bokmal
  frappe/geo/languages.csv
Labels: skip-release-notes

#34016 fix: call `format()` on the result of `_()`
  frappe/desk/query_report.py
  frappe/desk/reportview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#34017 fix: better redirect handling
  frappe/tests/test_api.py
  frappe/www/login.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#34057 fix: set content-type for the responses not handled by werkzeug
  frappe/utils/response.py
Labels: Skip CI, backport version-15-hotfix

#34039 fix(kanban_view): don't always prompt user to create a new board
  frappe/public/js/frappe/views/kanban/kanban_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#34067 fix: mange specific roles without saving the user doc
  frappe/core/doctype/user/user.js
Labels: backport version-15-hotfix

#34119 fix: don't call `file.check_content()` twice
  frappe/core/doctype/file/file.py
Labels: backport version-15-hotfix

#34162 refactor(treewide): bump ruff
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  frappe/auth.py
  frappe/commands/redis_utils.py
  frappe/commands/site.py
  frappe/commands/test_commands.py
  frappe/commands/utils.py
  frappe/core/doctype/audit_trail/test_audit_trail.py
  frappe/core/doctype/communication/communication.py
  frappe/database/postgres/schema.py
  frappe/deprecation_dumpster.py
  frappe/desk/form/linked_with.py
  frappe/desk/listview.py
  frappe/desk/reportview.py
  frappe/desk/treeview.py
  frappe/email/doctype/email_queue/test_email_queue.py
  frappe/email/doctype/notification/notification.py
  frappe/email/email_body.py
  frappe/email/receive.py
  frappe/integrations/doctype/geolocation_settings/providers/here.py
  frappe/integrations/doctype/geolocation_settings/providers/nomatim.py
  frappe/integrations/doctype/ldap_settings/test_ldap_settings.py
  frappe/integrations/oauth2.py
  frappe/tests/test_api.py
  frappe/tests/test_hooks.py
  frappe/tests/test_patches.py
  frappe/tests/test_query_report.py
  frappe/tests/test_utils.py
  frappe/tests/utils/generators.py
  frappe/translate.py
  frappe/utils/__init__.py
  frappe/utils/background_jobs.py
  frappe/utils/backups.py
  frappe/utils/data.py
  frappe/utils/goal.py
  frappe/utils/weasyprint.py
  frappe/www/printview.py
Labels: skip-release-notes

#34165 feat: add Make 'name' searchable in Global Search in custom form
  frappe/custom/doctype/customize_form/customize_form.json
  frappe/custom/doctype/customize_form/customize_form.py
Labels: backport version-15-hotfix

#34179 fix: add translation function to Need Help?
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-15-hotfix

#34192 fix: sanitize HTML in file names before saving
  frappe/core/doctype/file/file.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#34205 fix(UX): simplified group node term
  frappe/public/js/frappe/views/treeview.js
Labels: Skip CI
