Repository frappe/frappe, pull requests merged in 2025-04, with the labels that each got.

#31920 fix: hard checks on report name length
  frappe/desk/query_report.py
Labels: backport version-15-hotfix

#31990 fix(Email Account): condition for OAuth button
  frappe/email/doctype/email_account/email_account.json
Labels: backport version-14-hotfix

#32001 refactor: trim `frappe.__init__`
  frappe/__init__.py
  frappe/model/document.py
  frappe/utils/__init__.py
  frappe/utils/background_jobs.py
  frappe/utils/formatters.py
Labels: skip-release-notes

#31180 feat: Adding option to trim custom tables
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/public/js/frappe/doctype/index.js
Labels: backport version-15-hotfix

#31987 fix: add title if web form title is missing
  frappe/website/doctype/web_form/templates/web_form.html
Labels: backport version-15-hotfix

#31983 fix: add more control on workflow state to alllow sending emails
  frappe/workflow/doctype/workflow_action/workflow_action.py
  frappe/workflow/doctype/workflow_document_state/workflow_document_state.json
  frappe/workflow/doctype/workflow_document_state/workflow_document_state.py
Labels: backport version-15-hotfix

#32010 perf: add auto repeat to long queue
  frappe/automation/doctype/auto_repeat/auto_repeat.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32023 Revert "Merge pull request #28656 from UmakanthKaspa/fix/no-copy-child-duplicate"
  frappe/public/js/frappe/form/grid.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#32021 fix(grid): support for read only depends on
  frappe/public/js/frappe/form/grid_row.js
Labels: backport version-15-hotfix

#32035 fix(ci): pin smtp4dev
  .github/workflows/_base-server-tests.yml
  frappe/core/doctype/doctype/doctype.js
  frappe/core/doctype/doctype/doctype.py
  frappe/custom/doctype/customize_form/customize_form.js
  frappe/public/js/frappe/doctype/index.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#32028 fix: item code not showing in the error message
  frappe/__init__.py
Labels: backport version-15-hotfix

#32048 fix: list_view_settings can be missing
  frappe/public/js/frappe/list/list_view.js
Labels: backport version-14-hotfix, backport version-15-hotfix

#32061 chore: update boilerplate with our latest configs
  frappe/utils/boilerplate.py
Labels: skip-release-notes

#25386 fix: backport linter config changes and boilerplate
  .github/workflows/linters.yml
  frappe/core/doctype/translation/test_translation.py
  frappe/utils/boilerplate.py
  pyproject.toml
Labels: add-test-cases

#32052 fix: improve url validation
  frappe/utils/__init__.py
Labels: backport version-15-hotfix

#32082 feat: use `cached_property` without locks on all supported Python versions
  frappe/commands/test_commands.py
  frappe/core/doctype/rq_job/test_rq_job.py
  frappe/model/base_document.py
  frappe/model/meta.py
  frappe/utils/__init__.py
Labels: do not backport

#31838 fix: check if user is diabled during api authentication
  frappe/auth.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32102 chore: Revert document read only mode
  frappe/model/document.py
  frappe/model/mapper.py
  frappe/tests/test_document_ro_mode.py
  tests/test_document_ro_mode.py
Labels: skip-release-notes

#32072 refactor: updated font-family name to 'saudiriyal'
  frappe/public/css/fonts/custom/saudi_riyal.woff2
Labels: skip-release-notes

#32112 fix: print builder beta print option not working
  frappe/templates/print_format/print_format.css
  frappe/www/printview.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32074 perf(event): get_events performance and Google Calendar integration fixes
  frappe/desk/doctype/event/event.json
  frappe/desk/doctype/event/event.py
  frappe/integrations/doctype/google_calendar/google_calendar.py
  frappe/public/js/frappe/ui/notifications/notifications.js
Labels: backport develop

#32122 fix: Show doctype name in perm check errors
  frappe/permissions.py
Labels: backport version-15-hotfix

#32127 fix(UX): block inserting more than 5000 items in table
  frappe/public/js/frappe/form/grid.js
Labels: backport version-15-hotfix

#32126 fix: skip adding app to list if we can't run the permission hook
  frappe/apps.py
Labels: backport version-15-hotfix

#32108 feat: fetch initialised data for setup wizard
  frappe/desk/page/setup_wizard/setup_wizard.js
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/integrations/frappe_providers/frappecloud_billing.py
Labels: backport version-15-hotfix

#32129 Revert "fix(HTML Editor): extraction of images"
  frappe/model/base_document.py
  frappe/model/document.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32142 fix: translatable string extraction
  frappe/gettext/extractors/navbar.py
  frappe/gettext/extractors/workspace.py
Labels: backport develop

#32147 perf: 10000s of times faster global search
  frappe/utils/global_search.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32156 fix(minor): address rendering should look same
  frappe/public/scss/common/controls.scss
Labels: backport version-15-hotfix

#32106 fix: allow custom fonts in wkhtmltopdf
  frappe/www/printview.py
Labels: backport version-15-hotfix

#32181 fix(setup-wizard): create system user on initialising setup data
  frappe/desk/page/setup_wizard/setup_wizard.py
Labels: backport version-15-hotfix

#32178 fix: redundant comment in form timeline
  frappe/core/doctype/file/file.py
Labels: backport version-15-hotfix

#32211 fix: selection of timezone after changing the language
  frappe/desk/page/setup_wizard/setup_wizard.js
Labels: backport version-15-hotfix

#32213 chore: remove method that does nothing
  frappe/website/utils.py
Labels: skip-release-notes

#32174 feat: allow disabling specific dates in DatePicker
  frappe/public/js/frappe/form/controls/date.js
Labels: defer backport

#32220 chore: add translations link
  README.md
Labels: Skip CI, skip-release-notes

#32222 chore: add type hints to whitelisted endpoints
  frappe/client.py
  frappe/website/doctype/web_form/web_form.py
Labels: backport version-15-hotfix, skip-release-notes

#32224 fix(setup-wizard): fetch translation messages only if language is changed
  frappe/desk/page/setup_wizard/setup_wizard.js
Labels: backport version-15-hotfix

#32207 refactor!: map view
  frappe/geo/utils.py
  frappe/public/js/frappe/views/map/map_view.js
  frappe/tests/tests_geo_utils.py
Labels: skip-release-notes

#32229 fix: add param `is_system_generated=True` to `make_property_setter`
  frappe/custom/doctype/property_setter/property_setter.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#31996 feat: warn when uploading public files
  frappe/public/js/frappe/file_uploader/FilePreview.vue
  frappe/public/js/frappe/file_uploader/FileUploader.vue
Labels: defer backport

#32235 fix(email_queue): allow sending emails when queue is disabled
  frappe/email/doctype/email_queue/email_queue.js
  frappe/email/doctype/email_queue/email_queue.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32243 fix(blog): Strip tags before truncating content for intro
  frappe/website/doctype/blog_post/blog_post.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32248 fix(fc-billing): switch manage billing to a button instead of div
  frappe/public/js/billing.bundle.js
Labels: backport version-15-hotfix

#32261 fix(get_events): Pass date objects instead of string
  frappe/core/notifications.py
  frappe/desk/doctype/event/event.py
Labels: backport develop

#32226 perf: Selectively switch to LIFO ordering when queue is starved
  frappe/core/doctype/prepared_report/prepared_report.py
  frappe/desk/page/setup_wizard/setup_wizard.py
  frappe/model/workflow.py
  frappe/utils/background_jobs.py
  frappe/utils/print_format.py
Labels: defer backport

#32269 fix: do not create version for virtual fields
  frappe/core/doctype/version/version.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32273 fix: Avoid unnecessary version logs for int PK
  frappe/core/doctype/version/version.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32280 fix: recorder with replica
  frappe/__init__.py
  frappe/recorder.py
Labels: backport version-15-hotfix

#32256 feat: publish comment from desk
  frappe/desk/form/load.py
  frappe/desk/form/utils.py
  frappe/public/js/frappe/form/footer/form_timeline.js
  frappe/public/js/frappe/form/templates/timeline_message_box.html
Labels: backport version-15-hotfix

#32285 fix(timeline): middle dot and margin
  frappe/public/js/frappe/form/templates/timeline_message_box.html
Labels: backport version-14-hotfix

#32282 fix(Comment): logic for update notification
  frappe/core/doctype/comment/comment.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32309 chore: Fix typo in comment
  frappe/model/delete_doc.py
Labels: skip-release-notes

#32265 fix(safe_exec): add get_content_hash
  frappe/utils/safe_exec.py
Labels: backport version-15-hotfix

#32318 fix: handle snapshot isolation errors better
  frappe/core/doctype/user/test_user.py
  frappe/database/mariadb/database.py
  frappe/database/mariadb/mysqlclient.py
  frappe/integrations/doctype/connected_app/test_connected_app.py
  frappe/model/delete_doc.py
  frappe/public/js/frappe/request.js
  frappe/tests/test_api.py
  frappe/tests/test_api_v2.py
  frappe/tests/test_auth.py
  frappe/tests/test_frappe_client.py
Labels: Skip CI, backport version-14-hotfix, backport version-15-hotfix

#32310 fix(load): Don't fetch Dynamic Link titles if missing doctype
  frappe/desk/form/load.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32283 refactor: simplify comment refresh
  frappe/public/js/frappe/form/footer/footer.js
  frappe/public/js/frappe/form/footer/form_timeline.js
  frappe/public/js/frappe/form/form.js
Labels: skip-release-notes

#32333 fix: error on group by
  frappe/core/doctype/file/file.py
  frappe/public/js/frappe/ui/group_by/group_by.js
Labels: backport version-15-hotfix

#32328 fix: prevent updating first_responded_on on automated message
  frappe/core/doctype/communication/communication.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32306 fix: ensure workflow state field is created post-validation
  frappe/workflow/doctype/workflow/workflow.py
Labels: backport version-15-hotfix

#32268 fix: don't create example email domains and email accounts
  frappe/desk/page/setup_wizard/install_fixtures.py
  frappe/email/doctype/email_domain/test_records.json
  frappe/patches.txt
  frappe/patches/v12_0/setup_email_linking.py
  frappe/tests/ui_test_helpers.py
  frappe/utils/install.py
Labels: backport version-14-hotfix, backport version-15-hotfix

#32340 refactor: fix ruff linter issue
  frappe/core/doctype/file/file.py
Labels: skip-release-notes

#32315 fix(link): dont force set value in model
  frappe/public/js/frappe/form/controls/link.js
Labels: backport version-15-hotfix

#32348 chore: bump markdownify to 0.14.1
  pyproject.toml
Labels: skip-release-notes
